.selected-row {
    background-color: var(--gray-200);
    /* Arka plan rengi */
    color: #721c24;
    /* Yazı rengi */
}

.selected-row a {
    color: #721c24;
    /* Seçilen satırdaki bağlantıların rengi */
}