<div class="container-fluid">
    <div class="row gy-5 gx-xl-4">
        <div class="col-12 py-2">
            <p-button 
                [label]="getNextAreaLabel()" 
                [icon]="'pi pi-arrow-right'" 
                iconPos="right" 
                (onClick)="goToNextArea()"
                [rounded]="true"
                severity="secondary">
            </p-button>
        </div>
    </div>
    
    
    <app-dashboard-card
        [cards]="dashboardOptions"
        [editMode]="false"
        [fromWhere]="'access'">
    </app-dashboard-card>
</div>