<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end py-10 px-2"> 
      <input class="w-100 form-control border-1 border-danger" type="text" placeholder="{{'Arama' | translate}}" [(ngModel)]="filterText" (ngModelChange)="filterTextChange()">
    </div>
  </div>

  <div class="row">
    <ng-container *ngIf="myTeam.length > 0">
      <div class="col-12 col-md-4" *ngFor="let item of myTeam | searchFilter:filterText: ['durum', 'ad', 'soyad', 'sicilno', 'mesaiaciklama', 'ggiris', 'gcikis', 'gelmedi'];">
        <div class="card px-2 py-4">
          <div class="card-body d-flex flex-center flex-column p-1">
            <div class="mb-5">
              <div class="symbol symbol-100px symbol-circle">
                <ng-container>
                  <img src="http://localhost:5075/api/Image?sicilid={{item.sicilId}}" alt="{{item.adsoyad}}" />
                </ng-container>
                <ng-container *ngIf="item.durum == 'İçeride'">
                  <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"></div>
                </ng-container>
  
                <ng-container *ngIf="item.durum == 'Dışarıda'">
                  <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-danger rounded-circle border border-4 border-white h-20px w-20px"></div>
  
                </ng-container>
              </div>
            </div>
  
            <a class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0 cursor-pointer">{{item.adsoyad}}</a>
            <div class="fw-bold text-gray-400 mb-6">{{item.mesaiaciklama}}</div>
            <span class="badge badge-danger mb-5">{{item.gelmedi}}</span>
  
            <div class="d-flex flex-center text-center flex-wrap mb-5">
              <div class="border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Bekleyen_İzin_Talepleri" | translate}}</div>
                <div class="fw-bold text-gray-400">{{item.bekleyenizintalep}}</div>
              </div>
  
              <div class=" border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Bekleyen_Fazla_Mesai_Talepleri" | translate}}</div>
                <div class="fw-bold text-gray-400">{{item.bekleyenfmtalep}}</div>
              </div>
  
              <div class="border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Geç_Kalma_Sayısı" | translate}}</div>
                <div class="fw-bold text-gray-400">{{item.geckalma}}</div>
              </div>
  
              <div class="border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Erken_Çıkma_Sayısı" | translate}}</div>
                <div class="fw-bold text-gray-400">{{item.erkencikma}}</div>
              </div>
  
              <div class="border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Giriş" | translate}}</div>
                <ng-container *ngIf="item.ggiris">
                  <div class="fw-bold text-gray-400">{{item.ggiris | date: 'HH:mm'}}</div>
                </ng-container>
  
                <ng-container *ngIf="!item.ggiris">
                  <div class="fw-bold text-gray-400">-</div>
                </ng-container>
  
              </div>
  
  
              <div class="border border-gray-300 border-dashed rounded py-3 mx-2 px-4 mb-3" style="min-width : 40%">
                <div class="fs-6 fw-bolder text-gray-700">{{"Çıkış" | translate}}</div>
                <ng-container *ngIf="item.gcikis">
                  <div class="fw-bold text-gray-400">{{item.gcikis | date: 'HH:mm'}}</div>
                </ng-container>
  
                <ng-container *ngIf="!item.gcikis">
                  <div class="fw-bold text-gray-400">-</div>
                </ng-container>
              </div>
  
            </div>
  
            <a class="btn btn-block btn-sm btn-danger font-weight-bolder text-uppercase py-4">{{"Mesaj_Gönder" | translate}}</a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="filteredItems && filterText != ''">
      <!-- <div class="row mt-5 m-0">
                <div class="col-12 d-flex justify-content-center">
                  <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-50">
                    <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                    <div class="flex-grow-1 me-2">
                        <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"Kayıt_Bulunamadı" | translate}}</a>
                    </div>
                  </div>
                </div>
              </div> -->
      <div class="row pt-10 m-15">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="row">
            <app-data-not-found [imgWidth]=" '70%' "></app-data-not-found>
          </div>
        </div>
      </div>
    
    </ng-container>
  </div>
</div>