<div class="container py-4">

  <div class="row g-3 widget-section">
    <ng-container *ngFor="let widget of widgets">
      <div class="col-md-2">
        <div class="widget-card cursor-pointer"
          style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;"
          (click)="changeContent(widget.value)">
          <h6 class="widget-title">{{ widget.title }}</h6>
          <p class="widget-value">{{ widget.value }}</p>
        </div>
      </div>
    </ng-container>
  </div>


  <div class="row mt-4">

    <div class="card custom-card h-100">

      <div *ngIf="activeWidget == 1">
        <app-security-tours></app-security-tours>
      </div>

      <div *ngIf="activeWidget == 2">
        <app-security-locations></app-security-locations>
      </div>

      <div *ngIf="activeWidget == 3">
        <app-security-stations></app-security-stations>
      </div>

      <div *ngIf="activeWidget == 4">
        <app-security-tour-calendar></app-security-tour-calendar>
      </div>

    </div>

  </div>


</div>