<div class="card card-flush h-md-100">
    <div class="card-header pt-5" style="display: block;">
        <div class="card-title" style="display: block;">
            <div class="row">
                <div class="col-8">
                    <i class="fa-solid fa-user-plus fs-2 text-danger pe-2"></i>
                    <span class="fs-5 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover">{{"PROFILE_WIDGETS.NEW_PERSON.HEADER" | translate}}</span>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center" (click)="showAllNewPerson()">
                    <span class="text-gray-400 text-hover-primary cursor-pointer pt-1 fw-semibold fs-7">
                        {{"PROFILE_WIDGETS.SHARRED.TUMU" | translate}}
                        <i class="fa-solid fa-chevron-right ps-2 fs-7"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!-- <div class="mb-5">
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <i class="fa-solid fa-chevron-left text-hover-danger fs-2" (click)="previousItem()"></i>
                </div>

                <div class="col-8 d-flex justify-content-center">
                    <div class="symbol symbol-75px"><img alt="Logo"
                        src="{{currentItem.img}}">
                    </div>
                </div>

                <div class="col-2 d-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-chevron-right text-hover-danger fs-2" (click)="nextItem()"></i>
                </div>
            </div>

            <div class="row mt-10">
                <div class="col-12">
                    <div class="fs-1 fw-bold text-gray-800 text-center mb-13">
                        <div>Hoşgeldin</div>
                        <div>{{currentItem.isim}} {{currentItem.soyisim}}</div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="fs-6 fw-bold text-gray-800 text-center">
                        <div>Aramıza hoşgeldin</div>
                        <div>{{currentItem.isim}}</div>
                    </div>
                </div>
            </div>
        </div> -->


        <ng-container *ngIf="todayNewPerson.length > 0">
            <p-carousel [value]="todayNewPerson" [numVisible]="1" [numScroll]="3" [circular]="true" [autoplayInterval]="55000"
                [showIndicators]="false">
                <ng-template let-item pTemplate="item">
                    <div class="tanimlar-item">
                        <div class="tanimlar-item-content">
                            <div class="mb-5">
                                <div class="row">
        
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="symbol symbol-75px"><img alt="Logo" src="{{'data:image/jpg;base64,' + item.fotoimage}}"></div>
                                    </div>
                                </div>
        
                                <div class="row mt-10">
                                    <div class="col-12">
                                        <div class="fs-1 fw-bold text-gray-800 text-center mb-13">
                                            <div>{{"PROFILE_WIDGETS.NEW_PERSON.HOSGELDIN" | translate}}</div>
                                            <div>{{item.ad}}</div>
                                        </div>
                                    </div>
        
                                    <div class="col-12">
                                        <div class="fs-6 fw-bold text-gray-800 text-center">
                                            <div>{{"PROFILE_WIDGETS.NEW_PERSON.MESAJ" | translate}}</div>
                                            <div>{{item.ad}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </ng-container>

        <ng-container *ngIf="todayNewPerson.length == 0">
            <div class="row pt-20">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-100">
                        <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                        <div class="flex-grow-1 me-2">
                            <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
</div>




<p-dialog header="{{'PROFILE_WIDGETS.NEW_PERSON.TUM_YENILER' | translate}}" [(visible)]="displayAllNewPerson" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

    <div class="container" style="height: 500px;">
        <div class="row card p-5">
            <div class="col-12">
                <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="getNewPersons($event)">
                    <mat-tab label="{{'PUBLIC.GUNLUK' | translate}}">
                        <div class="card">
                            <div class="card-body py-3">
                                <ng-container *ngIf="todayNewPerson.length > 0">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show">
                                            <div class="table-responsive">
                                                <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                                    <thead>
                                                        <tr class="fs-7 fw-bold text-gray-400 border-bottom-0 text-uppercase bg-light">
                                                            <th class="text-center"></th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.ISIM_SOYISIM" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BASLANGIC_TARIHI" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BOLUM" | translate}}</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                        <tr *ngFor="let item of todayNewPerson">
                                                            <td class="text-center">
                                                                <div class="symbol symbol-50px me-2">
                                                                    <img alt="Logo" src="{{'data:image/jpg;base64,' + item.fotoimage}}">
                                                                </div>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="fs-5">
                                                                    {{item.ad}}
                                                                    {{item.soyad}}
                                                                </span>
                                                            </td>
    
                                                            <td class="text-center">
                                                                <a class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.giristarih | date : 'yyyy-MM-dd'}}</a>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="border border-gray-500 border-2 rounded p-3">
                                                                    {{item.bolum}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                

                                <ng-container *ngIf="todayNewPerson.length == 0">
                                    <div class="row pt-20">
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-100">
                                                <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                                <div class="flex-grow-1 me-2">
                                                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" |
                                                        translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="{{'PUBLIC.HAFTALIK' | translate}}">
                        <div class="card">
                            <div class="card-body py-3">
                                <ng-container *ngIf="newPersons.length > 0">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show">
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                                    <thead>
                                                        <tr class="fs-7 fw-bold text-gray-400 border-bottom-0 text-uppercase bg-light">
                                                            <th class="text-center"></th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.ISIM_SOYISIM" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BASLANGIC_TARIHI" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BOLUM" | translate}}</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                        <tr *ngFor="let item of newPersons">
                                                            <td class="text-center">
                                                                <div class="symbol symbol-50px me-2">
                                                                    <img alt="Logo" src="{{'data:image/jpg;base64,' + item.fotoimage}}">
                                                                </div>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="fs-5">
                                                                    {{item.ad}}
                                                                    {{item.soyad}}
                                                                </span>
                                                            </td>
    
                                                            <td class="text-center">
                                                                <a class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.giristarih | date : 'yyyy-MM-dd'}}</a>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="border border-gray-500 border-2 rounded p-3">
                                                                    {{item.bolum}}
                                                                </span>
                                                            </td>
    
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                
                                <ng-container *ngIf="newPersons.length == 0">
                                    <div class="row pt-20">
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-100">
                                                <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                                <div class="flex-grow-1 me-2">
                                                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="{{'PUBLIC.AYLIK' | translate}}">
                        <div class="card">
                            <div class="card-body py-3">
                                <ng-container *ngIf="newPersons.length > 0">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show">
                                            <div class="table-responsive">
                                                <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                                    <thead>
                                                        <tr class="fs-7 fw-bold text-gray-400 border-bottom-0 text-uppercase bg-light">
                                                            <th class="text-center"></th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.ISIM_SOYISIM" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BASLANGIC_TARIHI" | translate}}</th>
                                                            <th class="text-center">{{"PROFILE_WIDGETS.SHARRED.BOLUM" | translate}}</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                        <tr *ngFor="let item of newPersons">
                                                            <td class="text-center">
                                                                <div class="symbol symbol-50px me-2">
                                                                    <img alt="Logo" src="{{'data:image/jpg;base64,' + item.fotoimage}}">
                                                                </div>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="fs-5">
                                                                    {{item.ad}}
                                                                    {{item.soyad}}
                                                                </span>
                                                            </td>
    
                                                            <td class="text-center">
                                                                <a class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.giristarih | date : 'yyyy-MM-dd'}}</a>
                                                            </td>
    
                                                            <td class="text-center text-muted fw-bold fs-4">
                                                                <span class="border border-gray-500 border-2 rounded p-3">
                                                                    {{item.bolum}}
                                                                </span>
                                                            </td>
    
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                
                                <ng-container *ngIf="newPersons.length == 0">
                                    <div class="row pt-20">
                                        <div class="col-12 d-flex justify-content-center align-items-center">
                                            <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-100">
                                                <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                                <div class="flex-grow-1 me-2">
                                                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayAllNewPerson=false"
            label="{{'DEMANDED.BUTTON_TEXT.KAPAT' | translate}}" class="p-button-text"></p-button>
    </ng-template>
</p-dialog>