.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
    top: 60% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
}