:host ::ng-deep {
    .p-dropdown {
        background-color: #f5f8fa;
        width: 100%;
    }

}

::ng-deep .mat-tooltip {
    white-space: pre-line;
}

// .content {
//     background-image: url('../../../../../assets/media/auth/bg10-dark.jpeg');
//     background-repeat: no-repeat;
// }