<div class="container" style="height: 600px;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                            <thead>
                                <tr class="roundend fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                                    <th class="text-center rounded-start"> </th>
                                    <th class="text-center"> Belge Adı </th>
                                    <th class="text-center rounded-end"> Aksiyon </th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <ng-container *ngFor="let item of fileTypes; index as i">
                                    <tr  [ngClass]="{ 'bg-light-danger' : !item.uploadedFile }">
                                        <td class="text-center">
                                            <ng-container *ngIf="item.uploadedFile">
                                                <div [ngSwitch]="item.uploadedFile.DosyaTipi">
                                                    <div
                                                        *ngSwitchCase="['jpeg', 'jpg', 'png', 'svg'].includes(item.uploadedFile.DosyaTipi) ? item.uploadedFile.DosyaTipi : !item.uploadedFile.DosyaTipi">
                                                        <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                                            (click)="showUploadedFile(item, false)"></i>
                                                    </div>
                    
                                                    <div *ngSwitchCase=" 'txt' ">
                                                        <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                                            (click)="showUploadedFile(item, false)"></i>
                                                    </div>
                    
                                                    <div *ngSwitchCase=" 'pdf' ">
                                                        <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                                            (click)="showUploadedFile(item, false)"></i>
                                                    </div>
                    
                                                    <div *ngSwitchDefault>
                                                        <i class="fa-solid cursor-pointer fa-file text-dark fs-3x"
                                                            (click)="showUploadedFile(item, false)"></i>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </td>
            
                                        <td class="text-center">
                                            <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.ad }}</a>
                                        </td>
            
                                        <td class="text-center text-muted fw-bold fs-4">
                                            <ng-container *ngIf="item.uploadedFile">
                                                <a matTooltip="Önizleme" class="btn btn-icon btn-danger btn-sm me-3"
                                                (click)="showUploadedFile(item, false)">
                                                    <i class="fa-solid fa-eye fs-4"></i>
                                                </a>
                                            </ng-container>
                                            
                                            <ng-container *ngIf="item.uploadedFile">
                                                <a matTooltip="İndir" class="btn btn-icon btn-danger btn-sm me-3" [href]="base64Data" download="UploadedFile">
                                                    <i class="fa-solid fa-download fs-4"></i>
                                                </a>
                                            </ng-container>
                                            
                                            <ng-container *ngIf="item.uploadedFile">
                                                <a matTooltip="Kaldır" class="btn btn-icon btn-danger btn-sm me-3"
                                                (click)="deleteFileForDemand(item, selectedDemand)">
                                                    <i class="fa-solid fa-trash fs-4"></i>
                                                </a>
                                            </ng-container>
                                            
                                            <ng-container *ngIf="!item.uploadedFile">
                                                <input type="file" [id]="'upload_' + i" style="display: none;" (change)="getFile($event, item)">
                                                <label matTooltip="Karşıya Yükle" class="btn btn-icon btn-danger btn-sm me-3" [for]="'upload_' + i">
                                                    <i class="fa-solid fa-upload fs-4"></i>
                                                </label>
                                            </ng-container>
                                            
                                        </td>
                                    </tr>
    
                                    <ng-container *ngIf="item.files">
                                        <tr>
                                            <td colspan="3">
                                                <div class="card bg-light-dark mx-8 my-5">
                                                    <div class="card-body">
                                                        <div class="row d-flex justify-content-center align-items-center">
                                    
                                                            <div class="col-3 text-center">
                                                                <div [ngSwitch]="item.files.type">
                                                                    <div
                                                                        *ngSwitchCase="['image/jpeg', 'image/png', 'image/svg'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                        <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                                                            (click)="showUploadedFile(item, true)"></i>
                                                                    </div>
                                    
                                                                    <div
                                                                        *ngSwitchCase="['text/plain'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                        <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                                                            (click)="showUploadedFile(item, true)"></i>
                                                                    </div>
                                    
                                                                    <div
                                                                        *ngSwitchCase="['application/pdf'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                        <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                                                            (click)="showUploadedFile(item, true)"></i>
                                                                    </div>
                                    
                                                                    <div *ngSwitchDefault>
                                                                        <i class="fa-solid cursor-pointer fa-file text-dark fs-3x"
                                                                            (click)="showUploadedFile(item, true)"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                    
                                                            <div class="col-5">
                                                                <div class="fs-6 fw-bold text-gray-800 text-center">
                                                                    {{ item.files.name }}
                                                                </div>
                                    
                                                                <div class="fs-6 fw-bold text-gray-800 text-center">
                                                                    {{ item.files.fileSize }} {{ item.files.fileSizeType }}
                                                                </div>
                                                            </div>
                                    
                                                            <div class="col-2">
                                                                <a class="btn btn-icon btn-danger btn-sm w-100"
                                                                    (click)="postVacationFile(item, selectedDemand, 'izin')">
                                                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                                                    {{"PROFILE_WIDGETS.DOSYALARIM.YUKLE" | translate}}
                                                                </a>
                                                            </div>
                                    
                                                            <div class="col-2">
                                                                <a (click)="item.files = null" class="btn btn-icon btn-danger btn-sm me-3">
                                                                    <i class="fa-solid fa-xmark fs-4"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    
                                </ng-container>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row pb-3" *ngFor="let item of fileTypes; index as i">

    <ng-container *ngIf="!item.uploadedFile">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <input type="file" [id]="'upload_' + i" style="display: none;" (change)="getFile($event, item)">
            <label [for]="'upload_' + i" class="w-100">
                <div class="dropzone dropzone-default dropzone-primary dz-clickable d-flex justify-content-center"
                    style="padding: 1.5rem 0;">
                    <div class="dropzone-msg dz-message needsclick">
                        <h3 class="dropzone-msg-title text-center">{{"BULTEN_FORM_DIALOG.FORM.DOSYA_YUKLE" | translate: { fileType: item.ad } }}</h3>
                    </div>
                </div>
            </label>
        </div>
    </ng-container>


    <ng-container *ngIf="item.uploadedFile">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <label class="w-100">
                <div class="dropzone dropzone-default dropzone-primary dz-clickable" style="padding: 1.5rem 0;">
                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-5 d-flex justify-content-center align-items-center">
                            <h3 class="dropzone-msg-title text-center">
                                {{"BULTEN_FORM_DIALOG.FORM.YUKLENMIS_DOSYA" | translate: { fileType: item.ad } }}
                            </h3>
                        </div>

                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <div [ngSwitch]="item.uploadedFile.DosyaTipi">
                                <div
                                    *ngSwitchCase="['jpeg', 'jpg', 'png', 'svg'].includes(item.uploadedFile.DosyaTipi) ? item.uploadedFile.DosyaTipi : !item.uploadedFile.DosyaTipi">
                                    <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                        (click)="showUploadedFile(item, false)"></i>
                                </div>

                                <div *ngSwitchCase=" 'txt' ">
                                    <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                        (click)="showUploadedFile(item, false)"></i>
                                </div>

                                <div *ngSwitchCase=" 'pdf' ">
                                    <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                        (click)="showUploadedFile(item, false)"></i>
                                </div>

                                <div *ngSwitchDefault>
                                    <i class="fa-solid cursor-pointer fa-file text-dark fs-3x"
                                        (click)="showUploadedFile(item, false)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </ng-container>

    <ng-container *ngIf="item.files">
        <div class="col-12">
            <div [@fileUploaded]="'uploaded'" class="card bg-light-dark mx-8 my-5">
                <div class="card-body">
                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-3 text-center">
                            <div [ngSwitch]="item.files.type">
                                <div
                                    *ngSwitchCase="['image/jpeg', 'image/png', 'image/svg'].includes(item.files.type) ? item.files.type : !item.files.type">
                                    <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                        (click)="showUploadedFile(item, true)"></i>
                                </div>

                                <div
                                    *ngSwitchCase="['text/plain'].includes(item.files.type) ? item.files.type : !item.files.type">
                                    <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                        (click)="showUploadedFile(item, true)"></i>
                                </div>

                                <div
                                    *ngSwitchCase="['application/pdf'].includes(item.files.type) ? item.files.type : !item.files.type">
                                    <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                        (click)="showUploadedFile(item, true)"></i>
                                </div>

                                <div *ngSwitchDefault>
                                    <i class="fa-solid cursor-pointer fa-file text-dark fs-3x"
                                        (click)="showUploadedFile(item, true)"></i>
                                </div>
                            </div>
                        </div>


                        <div class="col-5">
                            <div class="fs-6 fw-bold text-gray-800 text-center">
                                {{ item.files.name }}
                            </div>

                            <div class="fs-6 fw-bold text-gray-800 text-center">
                                {{ item.files.fileSize }} {{ item.files.fileSizeType }}
                            </div>
                        </div>

                        <div class="col-2">
                            <a class="btn btn-icon btn-danger btn-sm w-100"
                                (click)="postVacationFile(item, selectedDemand.Id, 'izin')">
                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                {{"PROFILE_WIDGETS.DOSYALARIM.YUKLE" | translate}}
                            </a>
                        </div>

                        <div class="col-2">
                            <a (click)="item.files = null" class="btn btn-icon btn-danger btn-sm me-3">
                                <i class="fa-solid fa-xmark fs-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-container>
</div> -->



<p-dialog header="Önizleme" [(visible)]="displayUploadedFile" position="center" (onHide)="onHideUploadedFile()"
    [modal]="true" [style]="{width: !(this.layoutService.isMobile | async) ? '60vw' : 'none'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <div class="col-12 d-flex justify-content-center">
        <div class="symbol symbol-75px">
            <ng-container *ngIf="base64Data">
                <iframe #base64Iframe id="base64Iframe" [src]="base64Data" width="600px" height="600px"></iframe>
                <!-- <a [href]="base64Data" download="UploadedFile" class="btn">İndir</a> -->
            </ng-container>

            <ng-container *ngIf="currentUploadedFile">
                <iframe #base64Iframe2 id="base64Iframe2" [src]="currentUploadedFile?.files?.url" width="600px"
                    height="600px"></iframe>
            </ng-container>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <a (click)="displayUploadedFile = false; currentUploadedFile = null; base64Data = null" class="btn btn-danger">
            <i class="fa-solid fa-xmark fs-1"></i>
            {{'DEMANDED.BUTTON_TEXT.KAPAT' | translate}}
        </a>
    </ng-template>
</p-dialog>