<div class="container" style="height: 500px;">
  <div class="row card p-5">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="resetArr()">

        <mat-tab label="{{'DEMANDED.TAB_GROUP.SURECI_DEVAM_EDEN_FORMLAR' | translate}}">
          <!-- <mat-tab label="Süreci Devam Eden Form Sayısı : {{sureciDevamEdenFormSayisi}}"> -->

          <div class="row mt-5 m-0">
            <div class="col-12 d-flex justify-content-center">

              <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center mb-3">
                <li *ngFor="let menuItem of menuItems" class="nav-item mb-3 me-3 me-lg-6">
                  <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-danger flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                    data-bs-toggle="pill" (click)="getMyDemands(menuItem.key)" [attr.id]="'bekleyen-' + menuItem.id">
                    <div class="nav-icon mb-3">
                      <i class="fa-solid {{ menuItem.icon }} fs-2"></i>
                    </div>
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{ menuItem.label | translate }}</span>
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
                  </a>
                </li>
              </ul>

            </div>
          </div>

          <ng-container *ngIf="!kaynak && sureciDevamEdenFormlar.length == 0">
            <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-arrow-pointer fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"DEMANDED.WARNING_LIST.TALEP_SECMELISINIZ" | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="kaynak && sureciDevamEdenFormlar.length == 0">
            <!-- <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row pt-10 m-0">
              <app-data-not-found [imgWidth]=" '30%' "></app-data-not-found>
            </div>
          </ng-container>

          <ng-container *ngIf="kaynak && sureciDevamEdenFormlar.length > 0">
            <div class="row mt-5 m-0 d-flex justify-content-center">
              <div class="card bg-light-danger p-4">
                <div class="row">
                  <div class="d-flex justify-content-start" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-6' : !(layoutService.isMobile | async)}">
                    <div class="input-group h-100" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-75' : !(layoutService.isMobile | async)}">
                      <input class="form-control form-control-solid bg-white h-auto p-2 border-0 rounded-lg font-size-h6" [(ngModel)]="filterText" type="text" placeholder="{{'PUBLIC.SEARCH' | translate}}">
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-end" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-5' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-sm btn-danger btn-shadow-hover font-weight-bold" [ngClass]="{'w-100': layoutService.isMobile | async}"  (click)="showDetailSearchDialog(kaynak)">
                      {{"DEMANDED.BUTTON_TEXT.DETAYLI_ARAMA" | translate}}
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
  
                  <div class="" [ngClass]="{'col-12 d-flex justify-content-center': layoutService.isMobile | async, 'col-1' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-icon btn-danger btn-sm me-3" (click)="checkGrid = !checkGrid">
                      <i class="fa-solid fa-list fs-4" [ngClass]="{'fa-grip': checkGrid, 'fa-list' : !checkGrid}"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>



            <div class="row mt-5 m-0">
              <ng-container *ngIf="checkGrid">
                <div class="mb-9" [ngClass]="{'col-12': layoutService.isMobile | async, 'col-3' : !(layoutService.isMobile | async)}" *ngFor="let item of sureciDevamEdenFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="isCardOpen(item)" (closed)="item.panelOpenState = false">
                      <mat-expansion-panel-header #panelA class="p-0">
                        <mat-panel-title class="d-flex justify-content-center">
                          <span class="badge badge-danger ml-4">00000606</span>
                        </mat-panel-title>
  
                        <mat-panel-description class="fw-bolder text-dark">
                          <div class="text-center">
                            <div class="fs-5">
                              {{item.Personel}}
                            </div>
  
                            <ng-container *ngIf="!item.panelOpenState">
                              <div class="text-gray-400 fs-8">
                                {{item.neden}}
                              </div>
                            </ng-container>
                            
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
      
                      <div>
                        <div class="row d-flex justify-content-center">
                          <div class="col-12 d-flex justify-content-center">
                            <img width="25%" style="border-radius: 5px;"src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}" alt="Personel Foto" />
                          </div>
                        </div>
                        <div class="row card-body p-1">
                          <div class="col-12 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.NEDENI" | translate}}</h5>
                            <span class="text-gray-600">{{item.neden}}</span>
                          </div>
      
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BASLANGIC" | translate}}</h5>
                            <span class="text-gray-600">{{item.Baslangic | date: 'yyyy-MM-dd - HH:mm'}}</span>
                          </div>
      
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BITIS_IS_BASI" | translate}}</h5>
                            <span class="text-gray-600">{{item.Bitis | date: 'yyyy-MM-dd - HH:mm'}}</span>
                          </div>
      
                          <ng-container *ngIf="item.nedenx">
                            <div class="col-12 mt-3 text-center scroll h-45px">
                              <h5>{{"DEMANDED.DEMAND.ACIKLAMA" | translate}}</h5>
                              <span class="text-gray-600">{{item.nedenx}}</span>
                            </div>
                          </ng-container>
                          
    
                          <ng-container *ngIf="item.Onaylayan">
                            <div class="col-12 mt-3 text-center">
                              <h5>{{"DEMANDED.DEMAND.SON" | translate}}</h5>
                              <span class="text-gray-600">{{item.Onaylayan}}</span>
                              <p class="text-gray-600">{{item.OnayTarih | date : 'yyyy-MM-dd - HH:mm'}}</p>
                            </div>
                          </ng-container>
      
                          <div class="col-12 text-center">
                            <div class="row mt-8">
  
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-danger btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.IPTAL' | translate}}"
                                  (click)="showPositionDialog('top', item)">
                                  <i class="fa-solid fa-xmark"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.IPTAL" | translate}}</h6> -->
                              </div>
  
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}"
                                  (click)="showDemandProcessDialog(item.Id, item.tipad)">
                                  <i class="fa-solid fa-question"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.SUREC" | translate}}</h6> -->
                              </div>
  
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-primary btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}">
                                  <i class="fa-solid fa-print"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.FORM" | translate}}</h6> -->
                              </div>

                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}">
                                  <i class="fa-solid fa-paperclip"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.DOSYALAR" | translate}}</h6> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-container>

              <ng-container *ngIf="!checkGrid">
                <div class="col-12 mb-9">
                  <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                      <thead>
                        <tr class="rounded fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                          <th class="text-center rounded-start"></th>
                          <th class="text-center">{{ "DEMANDED.ARAMA_DIALOG.FORM.PERSONEL" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.TALEP_TIPI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BASLANGIC_TARIHI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BITIS_TARIHI" | translate }}</th>
                          <th class="text-center w-150px">{{ "TASK_LISTEM.TABLE.ACIKLAMA" | translate }}</th>
                          <th class="text-center rounded-end"></th>
                        </tr>
                      </thead>
                
                      <tbody>
                        <tr *ngFor="let item of sureciDevamEdenFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']">
                          <td class="text-center">
                            <div class="symbol symbol-50px me-2">
                              <img src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}" alt="Personel Foto">
                            </div>
                          </td>
                
                          <td class="text-center text-muted fw-bold fs-4">
                            <span class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                              {{item.Personel}}
                            </span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.tipad}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.neden}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Baslangic | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Baslangic | date: 'HH:mm'}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Bitis | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Bitis | date: 'HH:mm'}}</span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary hover-scroll h-100px mb-1 fs-6">{{item.nedenx}}</p>
                          </td>
    
                          <td class="text-center text-muted fw-bold fs-4">
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.IPTAL' | translate}}" class="btn btn-icon btn-light-danger btn-sm me-3"
                              (click)="showPositionDialog('top', item)">
                              <i class="fa-solid fa-xmark fs-4"></i>
                            </a>
    
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3"
                              (click)="showDemandProcessDialog(item.Id, item.tipad)">
                              <i class="fa-solid fa-question fs-4"></i>
                            </a>
    
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}" class="btn btn-icon btn-light-primary btn-sm me-3">
                              <i class="fa-solid fa-print fs-4"></i>
                            </a>

                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3">
                              <i class="fa-solid fa-paperclip fs-4"></i>
                            </a>
                          </td>
    
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>

        </mat-tab>

        <mat-tab label="{{'DEMANDED.TAB_GROUP.ONAYLANANLAR' | translate}}">
          <div class="row mt-5 m-0">
            <div class="col-12 d-flex justify-content-center">
          
              <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center mb-3">
                <li *ngFor="let menuItem of menuItems" class="nav-item mb-3 me-3 me-lg-6">
                  <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-danger flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                    data-bs-toggle="pill" (click)="getMyDemands(menuItem.key)" [attr.id]="'onaylanan-' +menuItem.id">
                    <div class="nav-icon mb-3">
                      <i class="fa-solid {{ menuItem.icon }} fs-2"></i>
                    </div>
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{ menuItem.label | translate }}</span>
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
                  </a>
                </li>
              </ul>

            </div>
          </div>

          <ng-container *ngIf="!kaynak && onaylananFormlar.length == 0">
            <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center " [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-arrow-pointer fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"DEMANDED.WARNING_LIST.TALEP_SECMELISINIZ" | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="kaynak && onaylananFormlar.length == 0">
            <!-- <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center " [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row pt-10 m-0">
              <app-data-not-found [imgWidth]=" '30%' "></app-data-not-found>
            </div>
          </ng-container>

          <ng-container *ngIf="onaylananFormlar.length > 0">
            <div class="row mt-5 m-0 d-flex justify-content-center">
              <div class="card bg-light-danger p-4">
                <div class="row">
                  <div class="d-flex justify-content-start" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-6' : !(layoutService.isMobile | async)}">
                    <div class="input-group h-100" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-75' : !(layoutService.isMobile | async)}">
                      <input class="form-control form-control-solid bg-white h-auto p-2 border-0 rounded-lg font-size-h6" [(ngModel)]="filterText" type="text" placeholder="{{'PUBLIC.SEARCH' | translate}}">
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-end" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-5' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-sm btn-danger btn-shadow-hover font-weight-bold" [ngClass]="{'w-100': layoutService.isMobile | async}"  (click)="showDetailSearchDialog(kaynak)">
                      {{"DEMANDED.BUTTON_TEXT.DETAYLI_ARAMA" | translate}}
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
  
                  <div class="" [ngClass]="{'col-12 d-flex justify-content-center': layoutService.isMobile | async, 'col-1' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-icon btn-danger btn-sm me-3" (click)="checkGrid = !checkGrid">
                      <i class="fa-solid fa-list fs-4" [ngClass]="{'fa-grip': checkGrid, 'fa-list' : !checkGrid}"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5 m-0">
              <ng-container *ngIf="checkGrid">
                <div class="col-3 mb-9"
                  *ngFor="let item of onaylananFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']; trackBy: trackBy">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (opened)="isCardOpen(item)" (closed)="item.panelOpenState = false">
                      <mat-expansion-panel-header #panelB>
                        <mat-panel-title>
                          <!-- <section class="example-section m-6 mt-9">
                                            <p>
                                              <mat-checkbox [(ngModel)]="item.completed" (ngModelChange)="updateAllComplete(item)"
                                                (click)="panelB._toggle()">
                                              </mat-checkbox>
                                            </p>
                                          </section> -->
                
                          <!-- <div class="ml-4">
                            {{item.tipad}}
                          </div> -->
                          <span class="badge badge-danger ml-4">{{item.tipad}}</span>
                
                        </mat-panel-title>
                        <mat-panel-description class="fw-bolder text-dark">
                          <div class="text-center">
                            <div class="fs-5">
                              {{item.Personel}}
                            </div>
  
                            <ng-container *ngIf="!item.panelOpenState">
                              <div class="text-gray-400 fs-8">
                                {{item.neden}}
                              </div>
                            </ng-container>
                            
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                
                      <div class="card card-custom">
                        <div class="row card-header card-header-center d-flex justify-content-center">
                          <div class="col-12 d-flex justify-content-center">
                            <img width="25%" style="border-radius: 5px;"src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}" alt="Personel Foto" />
                          </div>
                          <div class="col-12 d-flex justify-content-center mt-4">
                            <!-- <h3>{{item.Personel}}</h3> -->
                          </div>
                        </div>
                        <div class="row card-body p-1">
                          <div class="col-12 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.NEDENI" | translate}}</h5>
                            <span class="text-gray-600">{{item.neden}}</span>
                          </div>
                
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BASLANGIC" | translate}}</h5>
                            <span class="text-gray-600">{{item.Baslangic | date: 'yyyy-MM-dd - HH:mm'}} </span>
                          </div>
                
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BITIS_IS_BASI" | translate}}</h5>
                            <span class="text-gray-600">{{item.Bitis | date: 'yyyy-MM-dd - HH:mm'}}</span>
                          </div>
                
                          <ng-container *ngIf="item.nedenx">
                            <div class="col-12 mt-3 text-center scroll h-45px">
                              <h5>{{"DEMANDED.DEMAND.ACIKLAMA" | translate}}</h5>
                              <span class="text-gray-600">{{item.nedenx}}</span>
                            </div>
                          </ng-container>
                
                
                          <ng-container *ngIf="item.Onaylayan">
                            <div class="col-12 mt-3 text-center">
                              <h5>{{"DEMANDED.DEMAND.SON" | translate}}</h5>
                              <span class="text-gray-600">{{item.Onaylayan}}</span>
                              <p>{{item.OnayTarih | date : 'yyyy-MM-dd - HH:mm'}}</p>
                            </div>
                          </ng-container>
                
                          <div class="col-12 text-center">
                            <div class="row mt-8">
                
                              <div class="col-3">
                                <button class="btn btn-icon btn-success btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.ONAYLANDI' | translate}}" disabled>
                                  <i class="fa-solid fa-xmark"></i>
                                </button>
                                <!-- <h6 class="text-success">{{"DEMANDED.BUTTON_TEXT.ONAYLANDI" | translate}}</h6> -->
                              </div>
                
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}"
                                  (click)="showDemandProcessDialog(item.Id, item.tipad)">
                                  <i class="fa-solid fa-question"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.SUREC" | translate}}</h6> -->
                              </div>
                
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-primary btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}">
                                  <i class="fa-solid fa-print"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.FORM" | translate}}</h6> -->
                              </div>

                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}">
                                  <i class="fa-solid fa-paperclip"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.DOSYALAR" | translate}}</h6> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-container>

              <ng-container *ngIf="!checkGrid">
                <div class="col-12 mb-9">
                  <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                      <thead>
                        <tr class="rounded fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                          <th class="text-center rounded-start"></th>
                          <th class="text-center">{{ "DEMANDED.ARAMA_DIALOG.FORM.PERSONEL" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.TALEP_TIPI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BASLANGIC_TARIHI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BITIS_TARIHI" | translate }}</th>
                          <th class="text-center w-150px">{{ "TASK_LISTEM.TABLE.ACIKLAMA" | translate }}</th>
                          <th class="text-center rounded-end"></th>
                        </tr>
                      </thead>
                
                      <tbody>
                        <tr *ngFor="let item of onaylananFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']">
                          <td class="text-center">
                            <div class="symbol symbol-50px me-2">
                              <img src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}" alt="Personel Foto">
                            </div>
                          </td>
                
                          <td class="text-center text-muted fw-bold fs-4">
                            <span class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                              {{item.Personel}}
                            </span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.tipad}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.neden}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Baslangic | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Baslangic | date: 'HH:mm'}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Bitis | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Bitis | date: 'HH:mm'}}</span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary hover-scroll h-100px mb-1 fs-6">{{item.nedenx}}</p>
                          </td>
    
                          <td class="text-center text-muted fw-bold fs-4">
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3"
                              (click)="showDemandProcessDialog(item.Id, item.tipad)">
                              <i class="fa-solid fa-question fs-4"></i>
                            </a>
    
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}" class="btn btn-icon btn-light-primary btn-sm me-3">
                              <i class="fa-solid fa-print fs-4"></i>
                            </a>

                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3">
                              <i class="fa-solid fa-paperclip fs-4"></i>
                            </a>
                          </td>
    
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>


        </mat-tab>

        <mat-tab label="{{'DEMANDED.TAB_GROUP.REDDEDILENLER' | translate}}">
          <div class="row mt-5 m-0">
            <div class="col-12 d-flex justify-content-center">

              <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center mb-3">
                <li *ngFor="let menuItem of menuItems" class="nav-item mb-3 me-3 me-lg-6">
                  <a class="nav-link btn btn-outline btn-flex btn-color-muted btn-active-color-danger flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                    data-bs-toggle="pill" (click)="getMyDemands(menuItem.key)" [attr.id]="'reddedilen-' +menuItem.id">
                    <div class="nav-icon mb-3">
                      <i class="fa-solid {{ menuItem.icon }} fs-2"></i>
                    </div>
                    <span class="nav-text text-gray-800 fw-bold fs-6 lh-1">{{ menuItem.label | translate }}</span>
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
                  </a>
                </li>
              </ul>
              
            </div>
          </div>

          <ng-container *ngIf="!kaynak && reddedilenFormlar.length == 0">
            <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center " [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-arrow-pointer fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"DEMANDED.WARNING_LIST.TALEP_SECMELISINIZ" | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="kaynak && reddedilenFormlar.length == 0">
            <!-- <div class="row mt-5 m-0">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center " [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                  <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                  <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"PUBLIC.DATA_NOT_FOUND" | translate}}</a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row pt-10 m-0">
              <app-data-not-found [imgWidth]=" '30%' "></app-data-not-found>
            </div>
          </ng-container>

          <ng-container *ngIf="reddedilenFormlar.length > 0">
            <div class="row mt-5 m-0 d-flex justify-content-center">
              <div class="card bg-light-danger p-4">
                <div class="row">
                  <div class="d-flex justify-content-start" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-6' : !(layoutService.isMobile | async)}">
                    <div class="input-group h-100" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-75' : !(layoutService.isMobile | async)}">
                      <input class="form-control form-control-solid bg-white h-auto p-2 border-0 rounded-lg font-size-h6" [(ngModel)]="filterText" type="text" placeholder="{{'PUBLIC.SEARCH' | translate}}">
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-end" [ngClass]="{'col-12 pb-2': layoutService.isMobile | async, 'col-5' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-sm btn-danger btn-shadow-hover font-weight-bold" [ngClass]="{'w-100': layoutService.isMobile | async}"  (click)="showDetailSearchDialog(kaynak)">
                      {{"DEMANDED.BUTTON_TEXT.DETAYLI_ARAMA" | translate}}
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
  
                  <div class="" [ngClass]="{'col-12 d-flex justify-content-center': layoutService.isMobile | async, 'col-1' : !(layoutService.isMobile | async)}">
                    <a class="btn btn-icon btn-danger btn-sm me-3" (click)="checkGrid = !checkGrid">
                      <i class="fa-solid fa-list fs-4" [ngClass]="{'fa-grip': checkGrid, 'fa-list' : !checkGrid}"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5 m-0">
              <ng-container *ngIf="checkGrid">
                <div class="col-3 mb-9"
                  *ngFor="let item of reddedilenFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']; trackBy: trackBy">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (opened)="isCardOpen(item)"
                      (closed)="item.panelOpenState = false">
                      <mat-expansion-panel-header #panelC>
                        <mat-panel-title>
                          <!-- <section class="example-section m-6 mt-9">
                                                        <p>
                                                          <mat-checkbox [(ngModel)]="item.completed" (ngModelChange)="updateAllComplete(item)"
                                                            (click)="panelC._toggle()">
                                                          </mat-checkbox>
                                                        </p>
                                                      </section> -->
              
                          <!-- <div class="ml-4">
                                        {{item.tipad}}
                                      </div> -->
                          <span class="badge badge-danger ml-4">{{item.tipad}}</span>
              
                        </mat-panel-title>
                        <mat-panel-description class="fw-bolder text-dark">
                          <div class="text-center">
                            <div class="fs-5">
                              {{item.Personel}}
                            </div>
              
                            <ng-container *ngIf="!item.panelOpenState">
                              <div class="text-gray-400 fs-8">
                                {{item.neden}}
                              </div>
                            </ng-container>
              
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div class="card card-custom">
                        <div class="row card-header card-header-center d-flex justify-content-center">
                          <div class="col-12 d-flex justify-content-center">
                            <img width="25%" style="border-radius: 5px;" src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}"
                              alt="Personel Foto" />
                          </div>
                          <div class="col-12 d-flex justify-content-center mt-4">
                            <!-- <h3>{{item.Personel}}</h3> -->
                          </div>
                        </div>
                        <div class="row card-body p-1">
                          <div class="col-12 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.NEDENI" | translate}}</h5>
                            <span class="text-gray-600">{{item.neden}}</span>
                          </div>
              
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BASLANGIC" | translate}}</h5>
                            <span class="text-gray-600">{{item.Baslangic | date: 'yyyy-MM-dd - HH:mm'}} </span>
                          </div>
              
                          <div class="col-6 mt-3 text-center">
                            <h5>{{"DEMANDED.DEMAND.BITIS_IS_BASI" | translate}}</h5>
                            <span class="text-gray-600">{{item.Bitis | date: 'yyyy-MM-dd - HH:mm'}}</span>
                          </div>
              
                          <ng-container *ngIf="item.nedenx">
                            <div class="col-12 mt-3 text-center scroll h-45px">
                              <h5>{{"DEMANDED.DEMAND.ACIKLAMA" | translate}}</h5>
                              <span class="text-gray-600">{{item.nedenx}}</span>
                            </div>
                          </ng-container>
              
              
                          <ng-container *ngIf="item.Onaylayan">
                            <div class="col-12 mt-3 text-center">
                              <h5>{{"DEMANDED.DEMAND.SON" | translate}}</h5>
                              <span class="text-gray-600">{{item.Onaylayan}}</span>
                              <p>{{item.OnayTarih | date : 'yyyy-MM-dd - HH:mm'}}</p>
                            </div>
                          </ng-container>
              
              
                          <div class="col-12 text-center">
                            <div class="row mt-8">
              
                              <div class="col-3">
                                <button class="btn btn-icon btn-danger btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.REDDEDILDI' | translate}}" disabled>
                                  <i class="fa-solid fa-xmark"></i>
                                </button>
                                <!-- <h6 class="text-danger">{{"DEMANDED.BUTTON_TEXT.REDDEDILDI" | translate}}</h6> -->
                              </div>
              
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}"
                                  (click)="showDemandProcessDialog(item.Id, item.tipad)">
                                  <i class="fa-solid fa-question"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.SUREC" | translate}}</h6> -->
                              </div>
              
                              <div class="col-3">
                                <button class="btn btn-icon btn-light-primary btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}">
                                  <i class="fa-solid fa-print"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.FORM" | translate}}</h6> -->
                              </div>

                              <div class="col-3">
                                <button class="btn btn-icon btn-light-info btn-circle" matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}">
                                  <i class="fa-solid fa-paperclip"></i>
                                </button>
                                <!-- <h6>{{"DEMANDED.BUTTON_TEXT.DOSYALAR" | translate}}</h6> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-container>
  
              <ng-container *ngIf="!checkGrid">
                <div class="col-12 mb-9">
                  <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                      <thead>
                        <tr class="rounded fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                          <th class="text-center rounded-start"></th>
                          <th class="text-center">{{ "DEMANDED.ARAMA_DIALOG.FORM.PERSONEL" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.TALEP_TIPI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BASLANGIC_TARIHI" | translate }}</th>
                          <th class="text-center">{{ "TASK_LISTEM.TABLE.BITIS_TARIHI" | translate }}</th>
                          <th class="text-center w-150px">{{ "TASK_LISTEM.TABLE.ACIKLAMA" | translate }}</th>
                          <th class="text-center rounded-end"></th>
                        </tr>
                      </thead>
                
                      <tbody>
                        <tr *ngFor="let item of reddedilenFormlar | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis']">
                          <td class="text-center">
                            <div class="symbol symbol-50px me-2">
                              <img src="http://localhost:5075/api/Image?sicilid={{item.SicilId}}" alt="Personel Foto">
                            </div>
                          </td>
                
                          <td class="text-center text-muted fw-bold fs-4">
                            <span class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                              {{item.Personel}}
                            </span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.tipad}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.neden}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Baslangic | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Baslangic | date: 'HH:mm'}}</span>
                          </td>
    
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{item.Bitis | date: 'yyyy-MM-dd'}}</p>
                            <span class="text-muted fw-semibold d-block">{{item.Bitis | date: 'HH:mm'}}</span>
                          </td>
                
                          <td class="text-center">
                            <p class="text-dark fw-bold text-hover-primary hover-scroll h-100px mb-1 fs-6">{{item.nedenx}}</p>
                          </td>
    
                          <td class="text-center text-muted fw-bold fs-4">
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.SUREC' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3"
                              (click)="showDemandProcessDialog(item.Id, item.tipad)">
                              <i class="fa-solid fa-question fs-4"></i>
                            </a>
    
                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.FORM' | translate}}" class="btn btn-icon btn-light-primary btn-sm me-3">
                              <i class="fa-solid fa-print fs-4"></i>
                            </a>

                            <a matTooltip="{{'DEMANDED.BUTTON_TEXT.DOSYALAR' | translate}}" class="btn btn-icon btn-light-info btn-sm me-3">
                              <i class="fa-solid fa-paperclip fs-4"></i>
                            </a>
                          </td>
    
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>













<p-dialog header="{{'DEMANDED.RED_DIALOG.HEADER' | translate}}" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <div class="fv-row mb-10 fv-plugins-icon-container">

    <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
      <span class="required">{{"DEMANDED.RED_DIALOG.ACIKLAMA" | translate}}</span>
    </label>

    <textarea [(ngModel)]="descriptionText" class="form-control form-control-solid" rows="3"
      placeholder="{{'DEMANDED.RED_DIALOG.ACIKLAMA_PLACEHOLDER' | translate}}" style="height: 12px;"></textarea>
    <div class="fv-plugins-message-container invalid-feedback"></div>
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="cancelMyDemands(selectedItem.Id, selectedItem.tipad, descriptionText, kaynak)"
      label="{{'DEMANDED.BUTTON_TEXT.GONDER' | translate}}" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayPosition=false; descriptionText = ''" label="{{'DEMANDED.BUTTON_TEXT.VAZGEC' | translate}}"></p-button>
  </ng-template>
</p-dialog>


<p-dialog header="{{'DEMANDED.SUREC_DIALOG.HEADER' | translate}}" [(visible)]="displayDemandProcess" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

  <div class="card">
    <p-timeline [value]="demandProcess" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <span class="custom-marker p-shadow-2 bg-info">

          <ng-container *ngIf="event.islem == 'Eklendi'">
            <i class="fa-solid fa-plus text-light"></i>
          </ng-container>

          <ng-container *ngIf="event.islem == 'Reddedildi'">
            <i class="fa-solid fa-xmark text-light"></i>
          </ng-container>

          <ng-container *ngIf="event.islem == 'Onay Bekleniyor'">
            <i class="fa-solid fa-clock-rotate-left text-light"></i>
          </ng-container>

          <ng-container *ngIf="event.islem == 'Onaylandı'">
            <i class="fa-solid fa-check text-light"></i>
          </ng-container>


        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card [header]="event.islem" subheader="{{ event.zaman | date: 'yyyy-MM-dd / HH:mm:ss' }}">
          <div class="fw-bold fs-4 text-center text-gray-800 ng-star-inserted">{{event.adsoyad}}</div>
          <div class="text-dark text-hover-info mb-1 font-size-lg">
            {{event.islemaciklama}}
          </div>
        </p-card>

        <!-- <p-card [header]="event.islem">
          <ng-container *ngIf="event.zaman">
            <div class="subheader mb-15">{{ event.zaman | date: 'yyyy-MM-dd / HH:mm:ss' }}</div>
          </ng-container>
          <div class="fw-bold fs-4 text-center text-gray-800 ng-star-inserted">{{event.adsoyad}}</div>
          <div class="text-dark text-hover-info mb-1 font-size-lg">
            {{event.islemaciklama}}
          </div>
        </p-card> -->
      </ng-template>
    </p-timeline>
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayDemandProcess=false" label="{{'DEMANDED.BUTTON_TEXT.KAPAT' | translate}}" class="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<p-dialog header="{{'DEMANDED.ARAMA_DIALOG.HEADER' | translate}}" [(visible)]="displayDetailSearch" position="top" [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <form [formGroup]="detailSearchForm">
    <p-accordion>
      <p-accordionTab header="{{'DEMANDED.ARAMA_DIALOG.FORM_TITLE.KISISEL_BILGILER' | translate}}">

        <div class="row">
          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.AD" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="text"
              placeholder="{{'DEMANDED.ARAMA_DIALOG.FORM.PLACEHOLDER' | translate}}"
              formControlName="ad">
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.SOYAD" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="text"
              placeholder="{{'DEMANDED.ARAMA_DIALOG.FORM.PLACEHOLDER' | translate}}"
              formControlName="soyad">
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.SICIL_NO" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="text"
              placeholder="{{'DEMANDED.ARAMA_DIALOG.FORM.PLACEHOLDER' | translate}}"
              formControlName="sicilno">
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.PERSONEL_NO" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="text"
              placeholder="{{'DEMANDED.ARAMA_DIALOG.FORM.PLACEHOLDER' | translate}}"
              formControlName="personelno">
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="{{'DEMANDED.ARAMA_DIALOG.FORM_TITLE.FIRMA_BILGILER' | translate}}">
        <div class="row">
          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.FIRMA" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="firma">
              <option *ngFor="let item of firma" value="{{item.id}}">{{item.ad}}</option>
            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.BOLUM" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="bolum">
              <option *ngFor="let item of bolum" value="{{item.id}}">{{item.ad}}</option>
            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.POZISYON" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="pozisyon">
              <option *ngFor="let item of pozisyon" value="{{item.id}}">{{item.ad}}</option>

            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.GOREV" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="gorev">
              <option *ngFor="let item of gorev" value="{{item.id}}">{{item.ad}}</option>

            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.ALT_FIRMA" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="altfirma">
              <option *ngFor="let item of altFirma" value="{{item.id}}">{{item.ad}}</option>

            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.YAKA" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="yaka">
              <option *ngFor="let item of yaka" value="{{item.id}}">{{item.ad}}</option>

            </select>
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.DIREKTORLUK" | translate}}</span>
            </label>

            <select class="form-select form-select-lg form-select-solid" formControlName="direktorluk">
              <option *ngFor="let item of direktorluk" value="{{item.id}}">{{item.ad}}</option>

            </select>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="{{'DEMANDED.ARAMA_DIALOG.FORM_TITLE.OKOD_BILGILER' | translate}}">
        <div class="row">
          <div class="col-6 mt-5" *ngFor="let item of oKodFields | slice :0:6">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{item.Ad}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="text"
              placeholder="{{'DEMANDED.ARAMA_DIALOG.FORM.PLACEHOLDER' | translate}}"
              formControlName="okod{{item.ID}}">
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="{{'DEMANDED.ARAMA_DIALOG.FORM_TITLE.TALEP_BILGILER' | translate}}">
        <div class="row">
          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.ARALIK_BASLANGIC" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="date"
              formControlName="tarih">
          </div>

          <div class="col-6 mt-5">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
              <span>{{"DEMANDED.ARAMA_DIALOG.FORM.ARALIK_BITIS" | translate}}</span>
            </label>

            <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6" type="date"
              formControlName="tarihbit">
          </div>

          <ng-container *ngIf="kaynak == 'izin'">
            <div class="col-6 mt-5">
              <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                <span>{{"DEMANDED.ARAMA_DIALOG.FORM.IZIN_TIPI" | translate}}</span>
              </label>

              <select class="form-select form-select-lg form-select-solid" formControlName="ftip">
                <option *ngFor="let item of izinTipleri" value="{{item.ID}}">{{item.ad}}</option>
              </select>
            </div>
          </ng-container>

          <ng-container *ngIf="kaynak == 'fazlamesai'">
            <div class="col-6 mt-5">
              <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                <span>{{"DEMANDED.ARAMA_DIALOG.FORM.FAZLA_MESAI_TURU" | translate}}</span>
              </label>

              <select class="form-select form-select-lg form-select-solid" formControlName="ftip">
                <option *ngFor="let item of fmNedenleri" value="{{item.ID}}">{{item.ad}}</option>
              </select>
            </div>
          </ng-container>


        </div>
      </p-accordionTab>
    </p-accordion>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="getFormValues(kaynak)" label="{{'DEMANDED.BUTTON_TEXT.GONDER' | translate}}" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayDetailSearch=false" label="{{'DEMANDED.BUTTON_TEXT.VAZGEC' | translate}}"></p-button>
  </ng-template>
</p-dialog>