<div class="ag-theme-material" [ngStyle]="gridStyle" #gridContainer>
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" 
        [ngClass]="isDarkMode ? 'ag-theme-alpine-dark' : 'ag-theme-alpine'"
        (gridReady)="isDarkMode ? onGridReadyDark($event) : onGridReadyLight($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="rowSelection"
        [suppressRowClickSelection]="true"
        (selectionChanged)="onSelectionChanged()"
        [sideBar]="sideBar"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [animateRows]="true"
        [statusBar]="statusBar"
        [getRowHeight]="getRowHeight"
        [groupSelectsChildren]="true"
        [pagination]="false"
        [paginationAutoPageSize]="false"
        [paginateChildRows]="false"
        [enableRangeSelection]="true"
        [enableRangeHandle]="true"
        [gridOptions]="gridOptions"
        (filterChanged)="onFilterChanged($event)"
        [getRowStyle]="getRowStyle">
    </ag-grid-angular>
</div>
