<div class="container py-10 px-15">
    <form [formGroup]="overtimeForm">
        <div class="row">
            <div class="col-12 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.ACIKLAMA" | translate}}</span>
                </label>

                <textarea class="form-control form-control-solid" rows="3" formControlName="aciklama" placeholder="{{'FM_TALEP_DIALOG.FORM.ACIKLAMA_GIRINIZ' | translate}}" style="height: 12px;"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['aciklama'].invalid,
                    'is-valid': overtimeForm.controls['aciklama'].valid
                }"></textarea>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['aciklama']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: 'Password should have at least 5 symbols',
                    control: overtimeForm.controls['aciklama']}">
                </ng-container>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: 'Password should have maximum 25 symbols',
                    control: overtimeForm.controls['aciklama']}">
                </ng-container> -->

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['aciklama']}">
                </ng-container> -->

            </div>

            <div class="col-4 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.FM_TIPI" | translate}}</span>
                </label>

                <!-- <select class="form-select form-select-lg form-select-solid" formControlName="tip"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['tip'].invalid,
                    'is-valid': overtimeForm.controls['tip'].valid
                }">
                    <option *ngFor="let item of fmNedenleri" value="{{item.ID}}">{{item.ad}}</option>
                </select> -->

                <p-dropdown [options]="fmNedenleri" [(ngModel)]="selectedOvertime" optionLabel="ad" [filter]="true" filterBy="ad"
                    [showClear]="true" placeholder="{{'FM_TALEP_DIALOG.FORM.FM_TIPI_SECINIZ' | translate}}" formControlName="tip"
                    [ngClass]="{
                        'is-invalid': overtimeForm.controls['tip'].invalid,
                        'is-valid': overtimeForm.controls['tip'].valid
                    }">
                    <ng-template pTemplate="selectedItem">
                        <div class="item-item item-item-value" *ngIf="selectedOvertime">
                            <div>{{selectedOvertime.ad}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['tip']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['tip']}">
                </ng-container> -->
            </div>


            <div class="col-4 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.ULASIM" | translate}}</span>
                </label>

                <!-- <select
                    class="form-select form-select-lg form-select-solid" formControlName="ulasim"
                    [ngClass]="{
                        'is-invalid': overtimeForm.controls['ulasim'].invalid,
                        'is-valid': overtimeForm.controls['ulasim'].valid
                    }">
                    <option *ngFor="let item of ulasim" value="{{item.ID}}">{{item.ad}}</option>
                </select> -->

                <p-dropdown [options]="ulasim" [(ngModel)]="selectedUlasim" optionLabel="ad" [filter]="true" filterBy="ad"
                    [showClear]="true" placeholder="{{'FM_TALEP_DIALOG.FORM.ULASIM_SECINIZ' | translate}}" formControlName="ulasim"
                    [ngClass]="{
                        'is-invalid': overtimeForm.controls['ulasim'].invalid,
                        'is-valid': overtimeForm.controls['ulasim'].valid
                    }">
                    <ng-template pTemplate="selectedItem">
                        <div class="item-item item-item-value" *ngIf="selectedUlasim">
                            <div>{{selectedUlasim.ad}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['ulasim']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['ulasim']}">
                </ng-container> -->
            </div>

            <div class="col-4 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.YEMEK" | translate}}</span>
                </label>

                <!-- <select
                    class="form-select form-select-lg form-select-solid" formControlName="yemek"
                    [ngClass]="{
                        'is-invalid': overtimeForm.controls['yemek'].invalid,
                        'is-valid': overtimeForm.controls['yemek'].valid
                    }">
                    <option *ngFor="let item of yemek" value="{{item.ID}}">{{item.ad}}</option>
                </select> -->

                <p-dropdown [options]="yemek" [(ngModel)]="selectedYemek" optionLabel="ad" [filter]="true" filterBy="ad"
                    [showClear]="true" placeholder="{{'FM_TALEP_DIALOG.FORM.YEMEK_SECINIZ' | translate}}" formControlName="yemek"
                    [ngClass]="{
                        'is-invalid': overtimeForm.controls['yemek'].invalid,
                        'is-valid': overtimeForm.controls['yemek'].valid
                    }">
                    <ng-template pTemplate="selectedItem">
                        <div class="item-item item-item-value" *ngIf="selectedYemek">
                            <div>{{selectedYemek.ad}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['yemek']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['yemek']}">
                </ng-container> -->
            </div>

            <div class="col-6 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.BASLANGIC_TARIHI" | translate}}</span>
                </label>
    
                <input type="date" class="form-control form-control-lg form-control-solid" formControlName="bastarih"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['bastarih'].invalid,
                    'is-valid': overtimeForm.controls['bastarih'].valid
                }">
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['bastarih']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['bastarih']}">
                </ng-container> -->
            </div>

            <div class="col-6 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.BASLANGIC_SAATI" | translate}}</span>
                </label>
    
                <input type="time" class="form-control form-control-lg form-control-solid" formControlName="bassaat"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['bassaat'].invalid,
                    'is-valid': overtimeForm.controls['bassaat'].valid
                }">
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['bassaat']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['bassaat']}">
                </ng-container> -->
            </div>

            <div class="col-6 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.BITIS_TARIHI" | translate}}</span>
                </label>
    
                <input type="date" class="form-control form-control-lg form-control-solid" formControlName="bittarih"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['bittarih'].invalid,
                    'is-valid': overtimeForm.controls['bittarih'].valid
                }">
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['bittarih']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['bittarih']}">
                </ng-container> -->
            </div>

            <div class="col-6 p-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">{{"FM_TALEP_DIALOG.FORM.BITIS_SAATI" | translate}}</span>
                </label>
    
                <input type="time" class="form-control form-control-lg form-control-solid" formControlName="bitsaat"
                [ngClass]="{
                    'is-invalid': overtimeForm.controls['bitsaat'].invalid,
                    'is-valid': overtimeForm.controls['bitsaat'].valid
                }">
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'IZIN_TALEP_DIALOG.FORM_ERROR.REQUIRED',
                    control: overtimeForm.controls['bitsaat']}">
                </ng-container>

                <!-- <ng-container [ngTemplateOutlet]="formSuccess" [ngTemplateOutletContext]="{
                    message: 'Success! You\'ve done it.',
                    control: overtimeForm.controls['bitsaat']}">
                </ng-container> -->
            </div>
        </div>
    </form>

    <div class="row mt-10">
        <div class="col-12 d-flex align-items-end justify-content-end">
            <button class="mat-stepper-next w-25 btn btn-primary" [disabled]="overtimeForm.invalid" type="submit" (click)="getOvertimeFormValues()">
                {{"FM_TALEP_DIALOG.FORM.GONDER" | translate}}
            </button>
        </div>
    </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation)">
        <div class="invalid-feedback">
            {{message | translate}}
        </div>
    </ng-container>
</ng-template>

<ng-template #formSuccess let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.valid">
        <div class="valid-feedback">
            {{message | translate}}
        </div>
    </ng-container>
</ng-template>