<div class="row mt-5 m-0">
    <div class="col-12 d-flex justify-content-center">
        <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center mb-3">
            <li *ngFor="let menuItem of menuItems" class="nav-item mb-3 me-3 me-lg-6">
                <a class="nav-link btn btn-outline btn-flex btn-color-gray-800 btn-active-color-danger flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                    data-bs-toggle="pill" (click)="getMyDemands(menuItem.key)" [attr.id]="'bekleyen-' + menuItem.id">
                    <div class="nav-icon mb-3">
                        <i class="fa-solid {{ menuItem.icon }} fs-2"></i>
                    </div>
                    <span class="fw-bold fs-6 lh-1">{{ menuItem.label | translate }}</span>
                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<ng-container *ngIf="!selectedNavItem && ongoingRequests.length == 0">
    <div class="row mt-5 m-0">
        <div class="col-12 d-flex justify-content-center">
            <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center w-100 w-md-50">
                <i class="fa-solid fa-arrow-pointer fs-2x text-danger ms-5"></i>
                <div class="flex-grow-1 me-2">
                    <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"Talep_Türü_Seçmelisiniz" |
                        translate}}</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="selectedNavItem && ongoingRequests.length == 0">
    <div class="row pt-10 m-0">
        <app-data-not-found [imgWidth]=" '30%' "></app-data-not-found>
    </div>
</ng-container>

<ng-container *ngIf="selectedNavItem && ongoingRequests.length > 0">
    <div class="row mt-5 m-0 d-flex justify-content-center">
        <div class="card bg-light-secondary p-4">

            <div class="row d-flex align-items-center gy-3 gy-md-0 justify-content-between">
                <div class="col-12 col-md-4 col-xl-4">
                    <!-- <div class="input-group h-100" style="flex: 1;">
                        <input class="form-control form-control-solid h-30px p-2 border-1 border-dark rounded-lg font-size-h6"
                            [(ngModel)]="filterText" type="text" placeholder="{{'Arama' | translate}}">
                    
                        <button class="search-icon">
                            <div class="svg">
                                <i class="fa-solid fa-magnifying-glass text-white fs-4"></i>
                            </div>
                        </button>
                    </div> -->
                    <p-floatlabel variant="on" class="mt-2">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input pInputText id="over_label" [(ngModel)]="filterText" autocomplete="off" />
                        </p-iconfield>
                        <label for="over_label">Arama..</label>
                    </p-floatlabel>
                </div>

                <div class="col-6 col-md-4 col-xl-3 d-flex justify-content-md-center">
                    <div class="symbol symbol-30px cursor-pointer me-2" pTooltip="{{'Detaylı_Arama' | translate}}">
                        <span class="symbol-label symbol-label bg-dark" (click)="showDetailSearchDialog()">
                            <i class="fa-solid fa-search fs-7 text-white"></i>
                        </span>
                    </div>

                    <div class="symbol symbol-30px cursor-pointer me-2">
                        <span class="symbol-label symbol-label bg-dark" (click)="checkGrid = !checkGrid">
                            <i class="fa-solid fa-list fs-7 text-white"
                                [ngClass]="{'fa-grip': checkGrid, 'fa-list' : !checkGrid}"></i>
                        </span>
                    </div>
                </div>

            </div>


            <!-- <div class="row">
                <div class="col-12 col-md-6 pb-2 p-md-auto d-flex justify-content-start">
                    <div class="input-group h-100 w-100 w-md-75">
                        <input class="form-control form-control-solid h-auto p-2 border-1 border-danger rounded-lg font-size-h6"
                            [(ngModel)]="filterText" type="text" placeholder="{{'Arama' | translate}}">
                        <button class="search-icon">
                            <div class="svg">
                                <i class="fa-solid fa-magnifying-glass text-white fs-4"></i>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="col-10 col-md-5 pb-2 p-md-auto d-flex justify-content-end">
                    <a class="btn btn-sm btn-danger btn-shadow-hover font-weight-bold"
                        [ngClass]="{'w-100': layoutService.isMobile | async}" (click)="showDetailSearchDialog()">
                        {{"Detaylı_Arama" | translate}}
                        <i class="fa fa-search"></i>
                    </a>
                </div>

                <div class="col-2 col-md-1 d-flex justify-content-center justify-content-md-start">
                    <a class="btn btn-icon btn-danger btn-sm me-3" (click)="checkGrid = !checkGrid">
                        <i class="fa-solid fa-list fs-4" [ngClass]="{'fa-grip': checkGrid, 'fa-list' : !checkGrid}"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>



    <div class="row mt-5 m-0">
        <ng-container *ngIf="checkGrid">
            <div class="col-12 col-md-3 mb-9"
                *ngFor="let item of ongoingRequests | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis', 'firma', 'bolum', 'pozisyon']">
                <mat-accordion>
                    <mat-expansion-panel (opened)="isCardOpen(item)" (closed)="item.panelOpenState = false">
                        <mat-expansion-panel-header #panelA class="p-0">
                            <ng-container *ngIf="item?.bosBelgeSayisi > 0">
                                
                                <div class="col d-flex justify-content-center align-items-center">
                                    <span class="badge badge-circle badge-danger"
                                        [pTooltip]="getTooltipScript(item?.atananlar)">
                                        <i class="fa-solid fa-exclamation text-white"></i>
                                    </span>
                                </div>
                            </ng-container>

                            <mat-panel-title class="d-flex justify-content-center">
                                <span class="badge badge-danger ml-4">00000606</span>
                            </mat-panel-title>

                            <mat-panel-description class="fw-bolder text-dark">
                                <div class="text-center">
                                    <div class="fs-7">
                                        {{item.Personel}}
                                    </div>

                                    <ng-container *ngIf="!item.panelOpenState">
                                        <div class="text-gray-400 fs-8">
                                            {{item.neden}}
                                        </div>
                                    </ng-container>

                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 d-flex justify-content-center">
                                    <img width="25%" style="border-radius: 5px;"
                                        src="{{imageUrl}}?sicilid={{item.SicilId}}" alt="Personel Foto" />
                                </div>
                            </div>
                            <div class="row card-body p-1">
                                <div class="col-12 mt-3 text-center">
                                    <h5>{{"Nedeni" | translate}}</h5>
                                    <span class="text-gray-600">{{item.neden}}</span>
                                </div>

                                <div class="col-6 mt-3 text-center">
                                    <h5>{{"Başlangıç" | translate}}</h5>
                                    <span class="text-gray-600">{{item.Baslangic | date: 'dd-MM-yyyy / HH:mm'}}</span>
                                </div>

                                <div class="col-6 mt-3 text-center">
                                    <h5>{{"Bitiş_İş_Başı" | translate}}</h5>
                                    <span class="text-gray-600">{{item.Bitis | date: 'dd-MM-yyyy / HH:mm'}}</span>
                                </div>

                                <ng-container *ngIf="item.nedenx">
                                    <div class="col-12 mt-3 text-center">
                                        <h5>{{"Açıklama" | translate}}</h5>
                                        <span class="text-gray-600 scroll h-45px">{{item.nedenx}}</span>
                                    </div>
                                </ng-container>


                                <ng-container *ngIf="item.Onaylayan">
                                    <div class="col-12 mt-3 text-center">
                                        <h5>{{"Son" | translate}}</h5>
                                        <span class="text-gray-600">{{item.Onaylayan}}</span>
                                        <p class="text-gray-600">{{item.OnayTarih | date : 'dd-MM-yyyy - HH:mm'}}</p>
                                    </div>
                                </ng-container>

                                <div class="col-12 text-center">
                                    <div class="row mt-8">

                                        <div class="col-3">
                                            <button class="btn btn-icon btn-light-danger btn-circle"
                                                pTooltip="{{'İptal' | translate}}"
                                                (click)="showPositionDialog('top', item)">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>

                                        <div class="col-3">
                                            <button class="btn btn-icon btn-light-info btn-circle"
                                                pTooltip="{{'Süreç' | translate}}"
                                                (click)="showDemandProcessDialog(item.Id, item.tipad)">
                                                <i class="fa-solid fa-question"></i>
                                            </button>
                                        </div>

                                        <div class="col-3">
                                            <button class="btn btn-icon btn-light-primary btn-circle"
                                                pTooltip="{{'Form' | translate}}">
                                                <i class="fa-solid fa-print"></i>
                                            </button>
                                        </div>

                                        <div class="col-3">
                                            <button class="btn btn-icon btn-light-info btn-circle"
                                                (click)="showUploadedFiles(item)" pTooltip="{{'Dosyalar' | translate}}">
                                                <i class="fa-solid fa-paperclip"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-container>

        <ng-container *ngIf="!checkGrid">
            <div class="col-12 mb-9">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="rounded fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                                <th class="text-center rounded-start"></th>
                                <th class="text-center">{{ "Personel" | translate }}</th>
                                <th class="text-center">{{ "Talep_Tipi" | translate }}</th>
                                <th class="text-center">{{ "Başlangıç_Tarihi" | translate }}</th>
                                <th class="text-center">{{ "Bitiş_Tarihi" | translate }}</th>
                                <th class="text-center w-150px">{{ "Açıklama" | translate }}</th>
                                <th class="text-center rounded-end"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                *ngFor="let item of ongoingRequests | searchFilter:filterText: ['tipad', 'Personel', 'neden', 'nedenx', 'Baslangic', 'Bitis', 'firma', 'bolum', 'pozisyon']">
                                <td class="text-center">
                                    <div class="symbol symbol-50px me-2">
                                        <img src="{{imageUrl}}?sicilid={{item.SicilId}}" alt="Personel Foto">
                                    </div>
                                </td>

                                <td class="text-center text-muted fw-bold fs-4">
                                    <span class="text-dark fw-bold text-hover-danger mb-1 fs-6">
                                        {{item.Personel}}
                                    </span>
                                </td>

                                <td class="text-center">
                                    <p class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.tipad}}</p>
                                    <span class="text-muted fw-semibold d-block" pTooltip="{{item.neden}}"
                                        tooltipPosition="top">{{item.neden | truncate:25}}</span>
                                </td>

                                <td class="text-center">
                                    <p class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Baslangic | date:
                                        'dd-MM-yyyy'}}</p>
                                    <span class="text-muted fw-semibold d-block">{{item.Baslangic | date:
                                        'HH:mm'}}</span>
                                </td>

                                <td class="text-center">
                                    <p class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Bitis | date:
                                        'dd-MM-yyyy'}}</p>
                                    <span class="text-muted fw-semibold d-block">{{item.Bitis | date: 'HH:mm'}}</span>
                                </td>

                                <td class="text-center">
                                    <p class="text-dark fw-bold text-hover-danger mb-1 fs-6" pTooltip="{{item.nedenx}}"
                                        tooltipPosition="top">
                                        {{item.nedenx | truncate:25}}</p>
                                </td>

                                <td class="text-center text-muted fw-bold fs-4">
                                    <a pTooltip="{{'İptal' | translate}}"
                                        class="btn btn-icon btn-light-danger btn-sm me-3"
                                        (click)="showPositionDialog('top', item)">
                                        <i class="fa-solid fa-xmark fs-4"></i>
                                    </a>

                                    <a pTooltip="{{'Süreç' | translate}}"
                                        class="btn btn-icon btn-light-info btn-sm me-3"
                                        (click)="showDemandProcessDialog(item.Id, item.tipad)">
                                        <i class="fa-solid fa-question fs-4"></i>
                                    </a>

                                    <a pTooltip="{{'Form' | translate}}"
                                        class="btn btn-icon btn-light-primary btn-sm me-3">
                                        <i class="fa-solid fa-print fs-4"></i>
                                    </a>

                                    <a pTooltip="{{'Dosyalar' | translate}}" (click)="showUploadedFiles(item)"
                                        class="btn btn-icon btn-light-info btn-sm me-3">
                                        <i class="fa-solid fa-paperclip fs-4"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>