<!-- <div class="container">
    <div class="row d-flex justify-content-center g-5 g-xl-5 mb-5 mb-xl-10">
        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-3' : !(layoutService.isMobile | async)}">
            <app-dogum-gunu></app-dogum-gunu>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-3' : !(layoutService.isMobile | async)}">
            <app-yeni-katilanlar></app-yeni-katilanlar>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-6' : !(layoutService.isMobile | async)}">
            <app-bulten></app-bulten>
        </div>
        
        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-6' : !(layoutService.isMobile | async)}">
            <app-dosyalarim></app-dosyalarim>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-3' : !(layoutService.isMobile | async)}">
            <app-yemek-menu></app-yemek-menu>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-3' : !(layoutService.isMobile | async)}">
            <app-kidemliler></app-kidemliler>
        </div>
                
        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-4' : !(layoutService.isMobile | async)}">
            <app-duyurular></app-duyurular>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-4' : !(layoutService.isMobile | async)}">
            <app-oneriler></app-oneriler>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-4' : !(layoutService.isMobile | async)}">
            <app-anket></app-anket>
        </div>

        <div [ngClass]="{'col-12': layoutService.isMobile | async, 'col-5' : !(layoutService.isMobile | async)}">
            <app-envanter></app-envanter>
        </div>

        
    </div>
</div> -->



<div class="container">
    <div class="row d-flex justify-content-center g-5 g-xl-5 mb-5 mb-xl-10">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-dogum-gunu></app-dogum-gunu>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-yeni-katilanlar></app-yeni-katilanlar>
        </div>

        <div class="col-md-12 col-lg-4 col-xl-6">
            <app-bulten></app-bulten>
        </div>
        
        <div class="col-md-12 col-lg-4 col-xl-6">
            <app-dosyalarim></app-dosyalarim>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-yemek-menu></app-yemek-menu>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-kidemliler></app-kidemliler>
        </div>
                
        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-duyurular></app-duyurular>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-oneriler></app-oneriler>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-anket></app-anket>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-5">
            <app-envanter></app-envanter>
        </div>

        
    </div>
</div>