<div class="container">
    <div class="row d-flex justify-content-center g-5 g-xl-5 mb-5 mb-xl-10">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-dogum-gunu></app-dogum-gunu>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-yeni-katilanlar></app-yeni-katilanlar>
        </div>

        <div class="col-md-12 col-lg-4 col-xl-6">
            <app-bulten></app-bulten>
        </div>
        
        <div class="col-md-12 col-lg-4 col-xl-6">
            <app-dosyalarim></app-dosyalarim>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-yemek-menu></app-yemek-menu>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <app-kidemliler></app-kidemliler>
        </div>
                
        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-duyurular></app-duyurular>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-oneriler></app-oneriler>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <app-anket></app-anket>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-5">
            <app-envanter></app-envanter>
        </div>

        
    </div>
</div>