  <div class="container-fluid">

  
    <div class="col-md-12 m-3">
      <mat-form-field class="full-width">
        <mat-label>Lokasyon</mat-label>
        <mat-select [(ngModel)]="selectLocationId" name="location">
          @for (location of _locations; track location) {
            <mat-option [value]="location.id">{{location.ad}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      {{selectLocationId}}
    </div>


    <mat-tab-group>

      <mat-tab label="Cihazlar Ve Harita">
        <div class="tab-content">
   
          <div class="row mt-4">
            <div class="row col-md-12">
              <div class="col-md-3">    
            
                <div class="card custom-card h-100">
                  <div class="card-header" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;">
                    <h5 class="text-white mb-0">Cihaz Tablosu</h5>
                  </div>
                  <div class="card-body">
  
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Cihaz Adı</th>
                          <th scope="col">Pil</th>
                          <th scope="col">Durum</th>
                          <th scope="col">Olay</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of displayList || []; let i = index" class="cursor-pointer" (click)="getGuardEventList(item)">
                          <td>
                            {{ item.adSoyad }}
                            <br>
                            <span *ngIf="item.securityid" class="text-muted small">
                              ID: {{ item.securityid }}
                            </span>
                          </td>
                          <td>{{ item.battery }}%</td>
                          <td>
                            <i class="fa fa-circle"
                               [ngClass]="{
                                 'text-success': item.alarm == '0',
                                 'text-danger': item.alarm != '0'
                               }">
                            </i>
                          </td>
                          <td>
                            <i *ngIf="item.alarm != '0'" class="fa fa-flag text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>
          
              <div class="col-md-9">
                <div class="card custom-card h-100">
                  <div class="card-header" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;">
                    <h5 class="text-white mb-0">Cihaz Haritası</h5>
                  </div>
                  <div class="card-body">
                    <div id="map" style="height: 50vh;"></div>
                  </div>
                </div>
              </div>
            </div>
                   
          </div>

        </div>
      </mat-tab>
    
      <mat-tab label="Turlar">
        <div class="tab-content">

          <div class="row g-3 widget-section mt-3">
            <!-- <ng-container *ngFor="let widget of widgets">
              <div class="col-md-2">
                <div class="widget-card cursor-pointer" 
                    style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;"
                    (click)="openWidget(widget)">
                  <h6 class="widget-title">{{ widget.title }}</h6>
                  <p class="widget-value">{{ widget.value }}</p>
                </div>
              </div>
            </ng-container> -->
          </div>

          <div class="row align-items-center justify-content-center mt-3 custom-container">
      
          

            <div class="col-md-12 mt-3">
              <!-- <mat-form-field appearance="outline" class="full-width">
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" [formControl]="dateControl">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
            </div>

          </div>

          <div class="row mt-4">

            <div class="col-md-3 mb-3" *ngFor="let item of this.tour_s">
              <div class="card custom-card">
                <div class="card-header" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700)) 100%;font-weight: bold;">
                  <h5 class="text-white mb-0">{{item.tur}}</h5>
                </div>
                <div class="card-body">
                  <div class="row text-center">
                    <h3>{{item.sicil}}</h3>
                  </div> 
                  <div class="row text-center">
                    <div class="col-12">
                      <p><b>Tarih:</b>&nbsp;&nbsp;<b>{{item?.zaman | date: 'dd-MM-yyyy'}}</b></p>

                      <p><b>Başlangıç:</b>&nbsp;&nbsp;<b>{{item?.zaman | date: 'hh:mm' }}</b></p>
                      <p><b>Bitiş:</b>&nbsp;&nbsp;<b>{{item?.zaman2 | date: 'hh:mm' }}</b></p>
                      <p><b>Tur Tanımı:</b>&nbsp;&nbsp;<b>{{item?.turtanim}}</b></p>
                      <p><b>Gerçekleşen Süre:</b>&nbsp;&nbsp;<b>{{this.formatTime(item?.stursure)}}</b></p>
                      <p><b>Planlanan Süre:</b>&nbsp;&nbsp;<b>{{item?.sturmaxsure}}</b></p>
                    </div> 
                  </div>
                  
                </div>
              </div>
            </div>
    
        </div>
        
        </div>
      </mat-tab>
      
    </mat-tab-group>

    
  </div>
  
  


<p-dialog
  header="Olay Detayı"
  [(visible)]="lastIncidentModal"
  [modal]="true"
  [style]="{ width:'40vw'}"
  [breakpoints]="{ '2560px': '50vw', '992px': '70vw', '576px': '90vw' }"
  [maximizable]="true"
  [baseZIndex]="10000">
  <div class="incident-modal">
   
    <section class="incident-info">
      <h2 class="incident-title">Olay Bilgisi</h2>
      <p class="incident-description">
        <b>Açıklama:</b> {{ lastIncidentDesc || 'Bilgi bulunamadı.' }}
      </p>
      <p class="incident-security">
        <b>Güvenlik:</b> {{ lastIncidentSecurity || 'Belirtilmemiş.' }}
      </p>
    </section>


    <section class="incident-map">
      <div id="mapIncident"></div>
    </section>

    <!-- <section *ngIf="hasMedia()" class="incident-media">
      <h3 class="media-title">Medya</h3>

      <div *ngIf="hasPhotos()" class="media-photos">
        <h4>Fotoğraflar</h4>
        <div class="photo-gallery">
          <img
            *ngFor="let photo of incidentMedia.photos"
            [src]="photo"
            alt="Olay Fotoğrafı"
            class="photo-item" />
        </div>
      </div>

      <div *ngIf="hasVideos()" class="media-videos">
        <h4>Videolar</h4>
        <div class="video-gallery">
          <video
            *ngFor="let video of incidentMedia.videos"
            [src]="video"
            controls
            class="video-item">
          </video>
        </div>
      </div>
    </section> -->
  </div>
</p-dialog>

<p-dialog
[(visible)]="lastAlarmModal"
[modal]="true"
[styleClass]="'alarm-dialog'"
[style]="{ width: '40vw'}"
[breakpoints]="{ '2560px': '50vw', '992px': '70vw', '576px': '90vw' }"
[maximizable]="true"
[baseZIndex]="10000">
<div class="incident-modal">
 
  <section class="incident-info">
    <h2 class="incident-title" style="color: #ff0000;">! ! ! ALARM ! ! !</h2>
  </section>


  <section class="incident-map">
    <div id="mapIncident"></div>
  </section>

</div>
</p-dialog>

<p-dialog
  header="Cihaz Olayları"
  [(visible)]="deviceIncidentList"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [breakpoints]="{ '2560px': '50vw', '992px': '70vw', '576px': '90vw' }"
  [maximizable]="true"
  [baseZIndex]="10000">
  <div class="card custom-card h-100">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Olay Başlık</th>
            <th>Olay Açıklama</th>
            <th>Tur ID</th>
            <th>Zaman</th>
            <th>Linkler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let olay of guardEventList" (click)="getEventDetail(olay)" class="cursor-pointer">
         
            <td>{{ olay.olaybaslik }}</td>
            <td>{{ olay.olayaciklama }}</td>
         
            <td>{{ olay.turid }}</td>
            <td>{{ olay.zaman | date: 'short' }}</td>
            <td>
              <ul>
                <li *ngFor="let link of olay.link">
                  {{ link.dosyatipi }}: <a [href]="link.link">{{ link.link }}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</p-dialog>


<p-dialog
  header="Olay Detayları"
  [(visible)]="eventDetailsModal"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [breakpoints]="{ '2560px': '50vw', '992px': '70vw', '576px': '90vw' }"
  [maximizable]="true"
  [baseZIndex]="10000">
  <div class="incident-modal">
  <section class="incident-info">
    <h2 class="incident-title">Olay Bilgisi</h2>
    <p class="incident-description">
      <b>BASLIK:</b> {{ IncidentHeader || 'Bilgi bulunamadı.' }}
    </p>
    <p class="incident-security">
      <b>ACIKLAMA:</b> {{ IncidentDesc || 'Belirtilmemiş.' }}

      
    </p>
    <p><b>{{IncidentTime | date: 'short' }}</b></p>
  </section>
    <section class="incident-map">
      <div id="mapIncident"></div>
    </section>

    <!-- <section *ngIf="hasMedia()" class="incident-media">
      <h3 class="media-title">Medya</h3>

      <div *ngIf="hasPhotos()" class="media-photos">
        <h4>Fotoğraflar</h4>
        <div class="photo-gallery">
          <img
            *ngFor="let photo of incidentMedia.photos"
            [src]="photo"
            alt="Olay Fotoğrafı"
            class="photo-item" />
        </div>
      </div>

      <div *ngIf="hasVideos()" class="media-videos">
        <h4>Videolar</h4>
        <div class="video-gallery">
          <video
            *ngFor="let video of incidentMedia.videos"
            [src]="video"
            controls
            class="video-item">
          </video>
        </div>
      </div>
    </section> -->
  </div>
</p-dialog>

<p-dialog
  header={{widgetTitle}}
  [(visible)]="widgetDetailModal"
  [modal]="true"
  [style]="{ width: '40vw'}"
  [breakpoints]="{ '2560px': '40vw', '992px': '40vw', '576px': '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">İşlem Zamanı</th>
        <th scope="col">Tur Adı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of widgetData  || []; let i = index"  class="cursor-pointer">
        <td>
          {{ item.tarih | date: 'dd-MM-yyyy hh:mm' }}
        </td>
        <td>{{ item.turadi }}</td>
      </tr>
    </tbody>
  </table>
</p-dialog>

  <router-outlet></router-outlet>

