<div class="card" style="min-height: 450px;">
    <div class="card-header" style="display: flow-root;">
        <div class="row mt-4">
            <div class="col-10 d-flex align-items-center">
                <h4 class="card-label text-danger mt-2 font-weight-bolder">
                    {{selectedItem.name}}
                </h4>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <a (click)="onCloseButtonClick()" class="btn font-weight-bold mr-2">
                    <i class="fa-solid fa-circle-xmark text-danger" style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>

    </div>
    <div  class="card-body d-flex p-0 card-rounded">
        <div style="padding: 20px 0px 15px 15px ;" class="flex-grow-1 card-rounded flex-grow-1">
            <div class="container">
                <div class="w-100">
                    
                    <div class="row">
                        <div class="col-12 mb-5">
                            <div class="row">
                                <div class="col-12">
                                    <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                        <span class="required">{{selectedItem.tip}}</span>
                                    </label>        
                                </div>

                                <div class="col-12" [formGroup]="form">
                                    <p-dropdown [options]="vacationReasons" [(ngModel)]="selectedType" optionLabel="ad"
                                        [emptyFilterMessage]="dropdownEmptyMessage" [filter]="true" filterBy="ad" [showClear]="true"
                                        placeholder="{{'PUBLIC.SELECT' | translate}}" formControlName="type">
                                        <ng-template pTemplate="selectedItem">
                                            <div class="item-item item-item-value" *ngIf="selectedType">
                                                <div>{{selectedType.ad}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <div class="item-item">
                                                <div>{{item.ad}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-12">
                            <p-pickList [source]="sourceItems" [target]="targetItems" sourceHeader="Tüm Dosya Tipleri" targetHeader="Atanmış Dosya Tipler"
                                [dragdrop]="dragDrop" [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
                                filterBy="ad" sourceFilterPlaceholder="{{'PUBLIC.SEARCH' | translate}}" targetFilterPlaceholder="{{'PUBLIC.SEARCH' | translate}}"
                                (onMoveToTarget)="onMoveToTarget($event)" (onMoveToSource)="onMoveToSource($event)"
                                (onMoveAllToTarget)="onMoveToTarget($event)" (onMoveAllToSource)="onMoveToSource($event)" >
                                <ng-template let-item pTemplate="item">
                                    <div class="product-item border-bottom border-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="text-gray-800 fw-bold fs-6 lh-1"> {{item.BelgeId}} </span>
                                            </div>

                                            <div class="col-6">
                                                <span class="text-gray-800 fw-bold fs-6 lh-1"> {{item.ad}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>