<!-- <div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">

            <div class="ScaleForm">
                
                <div class="col-md-6">

                    <div class="p-field">
                        <p-iftalabel style="margin-bottom: 3px;">
                            <input   pInputText id="scaleName" [(ngModel)]="scaleName" />
                            <label for="scaleName">Scale İsmi:</label>
                        </p-iftalabel>
                    </div>

                  
                    <label for="countSelect">Kaç seçenek olsun?</label>

                  
                  <p-dropdown 
                     [options]="allowedCounts" 
                     [(ngModel)]="selectedCount" 
                     optionLabel="label" 
                     optionValue="value"
                     placeholder="Seçiniz"
                     class="w-full md:w-56">
                  </p-dropdown>

            
                    <div class="p-col-12" *ngIf="selectedCount > 0 && selectedCount <= 5">
                        <div class="p-field" *ngIf="selectedCount >= 1">
                            <p-iftalabel style="margin-bottom: 3px;">
                                <input   pInputText id="cevap1" [(ngModel)]="answer1" />
                                <label for="cevap1">Cevap 1</label>
                            </p-iftalabel>
                        </div>
                        <div class="p-field" *ngIf="selectedCount >= 2">
                            <p-iftalabel style="margin-bottom: 3px;">
                                <input   pInputText id="cevap2" [(ngModel)]="answer2" />
                                <label for="cevap2">Cevap 2</label>
                            </p-iftalabel>
                        </div>
                        <div class="p-field" *ngIf="selectedCount >= 3">
                            <p-iftalabel style="margin-bottom: 3px;">
                                <input   pInputText id="cevap3" [(ngModel)]="answer3" />
                                <label for="cevap3">Cevap 3</label>
                            </p-iftalabel>
                        </div>
                        <div class="p-field" *ngIf="selectedCount >= 4">
                            <p-iftalabel style="margin-bottom: 3px;">
                                <input   pInputText id="cevap4" [(ngModel)]="answer4" />
                                <label for="cevap4">Cevap 4</label>
                            </p-iftalabel>
                        </div>
                        <div class="p-field" *ngIf="selectedCount >= 5">
                            <p-iftalabel style="margin-bottom: 3px;">
                                <input   pInputText id="cevap5" [(ngModel)]="answer5" />
                                <label for="cevap5">Cevap 5</label>
                            </p-iftalabel>
                        </div>
                      </div>



                  
                    <div *ngIf="selectedCount > 5">

                      <label>Skala: 1 - {{ selectedCount }}</label>

                      <p-slider 
                         [(ngModel)]="sliderValue"
                         [min]="1" 
                         [max]="selectedCount" 
                         [style]="{width: '300px'}">
                      </p-slider>

                     <div class="p-mt-2">Seçilen Değer: {{ sliderValue }}</div>

                    </div>
                  
                    <button pButton type="button" label="Kaydet" (click)="saveScale()"></button>

                  </div>
                  
                  
         
             
            </div>    
            
        </div>

    </div>
</div>

 -->
<!-- <div class="container-fluid py-4 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="scale-form-box">
  
      <div class="p-field">
        <label for="scaleName">Scale İsmi:</label>
        <input pInputText id="scaleName" [(ngModel)]="scaleName" class="full-width-input" />
      </div>
  
      <div class="p-field">
        <label for="countSelect">Kaç seçenek olsun?</label>
        <p-dropdown 
          [options]="allowedCounts"
          [(ngModel)]="selectedCount"
          optionLabel="label"
          optionValue="value"
          placeholder="Seçiniz"
          class="full-width-input">
        </p-dropdown>
      </div>
  
      <div *ngIf="selectedCount > 0 && selectedCount <= 5">
        <div class="p-field" *ngIf="selectedCount >= 1">
          <label for="cevap1">Cevap 1</label>
          <input pInputText id="cevap1" [(ngModel)]="answer1" class="full-width-input" />
        </div>
        <div class="p-field" *ngIf="selectedCount >= 2">
          <label for="cevap2">Cevap 2</label>
          <input pInputText id="cevap2" [(ngModel)]="answer2" class="full-width-input" />
        </div>
        <div class="p-field" *ngIf="selectedCount >= 3">
          <label for="cevap3">Cevap 3</label>
          <input pInputText id="cevap3" [(ngModel)]="answer3" class="full-width-input" />
        </div>
        <div class="p-field" *ngIf="selectedCount >= 4">
          <label for="cevap4">Cevap 4</label>
          <input pInputText id="cevap4" [(ngModel)]="answer4" class="full-width-input" />
        </div>
        <div class="p-field" *ngIf="selectedCount >= 5">
          <label for="cevap5">Cevap 5</label>
          <input pInputText id="cevap5" [(ngModel)]="answer5" class="full-width-input" />
        </div>
      </div>
  
      <div *ngIf="selectedCount > 5" class="p-field">
        <label>Skala: 1 - {{ selectedCount }}</label>
        <p-slider 
          [(ngModel)]="sliderValue"
          [min]="1" 
          [max]="selectedCount" 
          class="full-width-slider">
        </p-slider>
        <div class="mt-2">Seçilen Değer: {{ sliderValue }}</div>
      </div>
  
      <button pButton type="button" label="Kaydet" (click)="saveScale()" class="full-width-button"></button>
  
    </div>
  </div> -->
<div class="container-fluid m-5">

    <mat-tab-group>

        <mat-tab label="INSERT">

            <div class="scale-form-box">

                <div class="p-field">
                    <p-iftalabel style="margin-top: 3px;">
                        <input pInputText id="scaleName" [(ngModel)]="scaleName" class="full-width-input" />
                        <label for="scaleName">Scale İsmi:</label>
                    </p-iftalabel>
                </div>
    
                <div class="p-field">
                    <label for="countSelect">Kaç seçenek olsun?</label>
                    <p-dropdown [options]="allowedCounts" [(ngModel)]="selectedCount" optionLabel="label"
                        optionValue="value" placeholder="Seçiniz" class="full-width-input">
                    </p-dropdown>
                </div>
    
                <!-- Dinamik cevap inputları -->
                <div *ngIf="selectedCount > 0 && selectedCount <= 5">
                    <div class="p-field" *ngIf="selectedCount >= 1">
                        <p-iftalabel style="margin-bottom: 5px;">
                            <input pInputText id="cevap1" [(ngModel)]="answers[0]" class="full-width-input" />
                            <label for="cevap1">Cevap 1</label>
                        </p-iftalabel>
                    </div>
                    <div class="p-field" *ngIf="selectedCount >= 2">
                        <p-iftalabel style="margin-bottom: 5px;">
                            <input pInputText id="cevap2" [(ngModel)]="answers[1]" class="full-width-input" />
                            <label for="cevap2">Cevap 2</label>
                        </p-iftalabel>
                    </div>
                    <div class="p-field" *ngIf="selectedCount >= 3">
                        <p-iftalabel style="margin-bottom: 5px;">
                            <input pInputText id="cevap3" [(ngModel)]="answers[2]" class="full-width-input" />
                            <label for="cevap3">Cevap 3</label>
                        </p-iftalabel>
                    </div>
                    <div class="p-field" *ngIf="selectedCount >= 4">
                        <p-iftalabel style="margin-bottom: 5px;">
                            <input pInputText id="cevap4" [(ngModel)]="answers[3]" class="full-width-input" />
                            <label for="cevap4">Cevap 4</label>
                        </p-iftalabel>
                    </div>
                    <div class="p-field" *ngIf="selectedCount >= 5">
                        <p-iftalabel style="margin-bottom: 5px;">
                            <input pInputText id="cevap5" [(ngModel)]="answers[4]" class="full-width-input" />
                            <label for="cevap5">Cevap 5</label>
                        </p-iftalabel>
                    </div>
                </div>
    
                <div class="my-3">
                    <label>Yön Seçimi:</label>
                    <div class="flex gap-3 mt-2 align-items-center">
                        <p-radioButton name="direction" value="0" [(ngModel)]="direction" inputId="dir1" />
                        <label for="dir1" class="mx-5">Soldan Sağa</label>
                        <p-radioButton name="direction" value="1" [(ngModel)]="direction" inputId="dir2" />
                        <label for="dir2" class="mx-5">Sağdan Sola</label>
                    </div>
                </div>
    
                <!-- Slider için -->
                <div class="p-field" *ngIf="selectedCount > 5">
                    <label>Skala: 1 - {{ selectedCount }}</label>
                    <p-slider [(ngModel)]="sliderValue" [min]="1" [max]="selectedCount" class="full-width-slider"
                        styleClass="w-56">
                    </p-slider>
                    <div class="mt-2">Seçilen Değer: {{ sliderValue }}</div>
                </div>
    
                <button pButton type="button" label="Kaydet" (click)="setScale()" class="full-width-button"></button>
    
            </div>

        </mat-tab>


        <mat-tab label="UPDATE AND DELETE">

            <div>
                <div class="p-card my-3 p-3">
                    
                        <div class="scale-form-box">


                            <div class="p-field">
                                <label for="countSelect">Scale seçimi</label>
                                <p-dropdown [options]="scaleList" [(ngModel)]="selectedScaleId" optionLabel="ad"
                                    optionValue="id" placeholder="Seçiniz"  (onChange)="onScaleChange($event.value)" class="full-width-input" 
                                    [panelStyle]="{ width: '100%' }" [appendTo]="'body'" >
                                </p-dropdown>
                            </div>

                            <div class="p-field">
                                <p-iftalabel style="margin-top: 3px;">
                                    <input pInputText id="scaleName" [(ngModel)]="scaleName" class="full-width-input" />
                                    <label for="scaleName">Scale İsmi:</label>
                                </p-iftalabel>
                            </div>
                
                            <div class="p-field">
                                <label for="countSelect">Kaç seçenek olsun?</label>
                                <p-dropdown [options]="allowedCounts" [(ngModel)]="selectedCount" optionLabel="label"
                                    optionValue="value" placeholder="Seçiniz" class="full-width-input"
                                    [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                                </p-dropdown>
                            </div>
                
                            <!-- Dinamik cevap inputları -->
                            <div *ngIf="selectedCount > 0 && selectedCount <= 5">
                                <div class="p-field" *ngIf="selectedCount >= 1">
                                    <p-iftalabel style="margin-bottom: 5px;">
                                        <input pInputText id="cevap1" [(ngModel)]="answers[0]" class="full-width-input" />
                                        <label for="cevap1">Cevap 1</label>
                                    </p-iftalabel>
                                </div>
                                <div class="p-field" *ngIf="selectedCount >= 2">
                                    <p-iftalabel style="margin-bottom: 5px;">
                                        <input pInputText id="cevap2" [(ngModel)]="answers[1]" class="full-width-input" />
                                        <label for="cevap2">Cevap 2</label>
                                    </p-iftalabel>
                                </div>
                                <div class="p-field" *ngIf="selectedCount >= 3">
                                    <p-iftalabel style="margin-bottom: 5px;">
                                        <input pInputText id="cevap3" [(ngModel)]="answers[2]" class="full-width-input" />
                                        <label for="cevap3">Cevap 3</label>
                                    </p-iftalabel>
                                </div>
                                <div class="p-field" *ngIf="selectedCount >= 4">
                                    <p-iftalabel style="margin-bottom: 5px;">
                                        <input pInputText id="cevap4" [(ngModel)]="answers[3]" class="full-width-input" />
                                        <label for="cevap4">Cevap 4</label>
                                    </p-iftalabel>
                                </div>
                                <div class="p-field" *ngIf="selectedCount >= 5">
                                    <p-iftalabel style="margin-bottom: 5px;">
                                        <input pInputText id="cevap5" [(ngModel)]="answers[4]" class="full-width-input" />
                                        <label for="cevap5">Cevap 5</label>
                                    </p-iftalabel>
                                </div>
                            </div>
                
                            <div class="my-3">
                                <label>Yön Seçimi:</label>
                                <div class="flex gap-3 mt-2 align-items-center">
                                    <p-radioButton name="direction" value="0" [(ngModel)]="direction" inputId="dir1" />
                                    <label for="dir1" class="mx-5">Soldan Sağa</label>
                                    <p-radioButton name="direction" value="1" [(ngModel)]="direction" inputId="dir2" />
                                    <label for="dir2" class="mx-5">Sağdan Sola</label>
                                </div>
                            </div>
                
                            <!-- Slider için -->
                            <div class="p-field" *ngIf="selectedCount > 5">
                                <label>Skala: 1 - {{ selectedCount }}</label>
                                <p-slider [(ngModel)]="sliderValue" [min]="1" [max]="selectedCount" class="full-width-slider"
                                    styleClass="w-56">
                                </p-slider>
                                <div class="mt-2">Seçilen Değer: {{ sliderValue }}</div>
                            </div>
                
                            <button *ngIf="selectedScaleId != 0" pButton type="button" label="Güncelle" (click)="updateScale()" class="full-width-button"></button>
                            <button *ngIf="selectedScaleId != 0" pButton type="button" label="Sil" (click)="deleteScale()" class="full-width-button"></button>
                        </div>
                </div>
            </div>
            
        </mat-tab>

    



    </mat-tab-group>

</div>