.ag-header-cell-label {
    color: red;
    font-weight: bold;
}
.header-class {
    background-color: #0000ff !important;;
    color: rgb(226, 12, 12) !important;;
    text-align: center !important;;
  }

.ag-theme-alpine .header-class {
    color: red !important;
    font-weight: bold !important;
}

.ag-theme-alpine .ag-row-selected {
    background-color: #b3d9ff !important;
    color: black !important;
}
// .adana{
//     color: pink !important;
// }
// .ag-cell.custom-border {
//     border: 5px solid black !important;
//   }

// .custom-border {
//     border: 5px solid black !important;
// }