<div
  class="card card-flush h-md-100"
  style="
    background-image: url('./assets/media/stock/my-svg-background/food-7.svg');
    background-position: center;
    background-size: initial;
  "
>
  <div class="card-header pt-5" style="display: block">
    <div class="card-title" style="display: block">
      <div class="row">
        <div class="col-8">
          <i class="fa-solid fa-pizza-slice text-danger fs-2 pe-2"></i>
          <span
            class="fs-5 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover"
            >{{ "Günün_Menüsü" | translate }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-4">
    <div class="mb-5">
      <div class="row"></div>

      <div class="row pt-2">
        <div class="col-5">
          <hr />
        </div>

        <div class="col-2 d-flex justify-content-center">
          <i class="fa-solid fa-utensils fs-2x"></i>
        </div>

        <div class="col-5">
          <hr />
        </div>

        <div
          id="mealCarousel"
          class="carousel slide"
          data-bs-ride="false"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let s of slides; let i = index"
              class="carousel-item"
              [class.active]="i === 0"
            >
              <div class="container py-4">
                <div
                  *ngFor="let g of s.groups; trackBy: trackByGroup"
                  class="mb-3"
                >
                  <h6
                    class="text-center fw-bold text-uppercase mb-2 text-danger"
                  >
                  ~ {{ g.label }} ~
                  </h6>
                  <div class="d-flex flex-column align-items-center gap-2">
                    <span
                      *ngFor="let item of g.items; trackBy: trackById"
                      class="badge text-dark px-3 py-2"
                    >
                      {{ item.Aciklama }}
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#mealCarousel"
            data-bs-slide="prev"
          >
            <span class="arrow-btn" aria-hidden="true">‹</span>
            <span class="visually-hidden">Önceki</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#mealCarousel"
            data-bs-slide="next"
          >
            <span class="arrow-btn" aria-hidden="true">›</span>
            <span class="visually-hidden">Sonraki</span>
          </button>
        </div>

        <ng-template #noMeals>
          <div class="text-center text-muted py-4">
            Gösterilecek menü bulunamadı.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="displayAllFoodMenu">
  <p-dialog
    header="{{ 'Haftalık_Yemek_Menüsü' | translate }}"
    [(visible)]="displayAllFoodMenu"
    [modal]="true"
    [breakpoints]="{ '2560px': '65vw', '992px': '90vw', '576px': '99vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="true"
    [resizable]="false"
  >
    <app-all-meal-menu></app-all-meal-menu>

    <ng-template pTemplate="footer">
      <a (click)="closeMenuDialog()" class="btn btn-sm btn-danger mx-1">
        <i class="fa-solid fa-xmark fs-7"></i>
        {{ "Kapat" | translate }}
      </a>
    </ng-template>
  </p-dialog>
</ng-container>
