
  .icon-container {
    font-size: 5rem;
    /* Daha büyük ikon */
    color: var(--red-200);
    /* İkonun rengi */
    opacity: 0.5;
    /* Şeffaflık */
    position: absolute;
    /* Kenara hizalama için */
    top: 4px;
    /* Yukarı kaydırma */
    left: -2px;
    /* Sola kaydırma */
    z-index: 0;
    /* Metinle çakışmaması için */
    transform: scale(0.8);
    /* İkonu büyüt */
}



.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  border-radius: 50%;
  margin-top: 6px;
}
.timeline li {
  position: relative;
  padding-left: 15px;
}
.timeline li::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #dee2e6;
}
