<!--begin::Exolore drawer-->
<div id="kt_engage_demos" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="explore"
    data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'400px', 'lg': '555px'}"
    data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_engage_demos_toggle"
    data-kt-drawer-close="#kt_engage_demos_close">

    <!--begin::Card-->
    <div class="card shadow-none rounded-0 w-100">
        <!--begin::Header-->
        <div class="card-header" id="kt_explore_header">
            <h3 class="card-title fw-bolder text-gray-700">İşlemler</h3>

            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-danger me-n5"
                    id="kt_engage_demos_close">
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                        class="svg-icon svg-icon-2"></span>
                </button>
            </div>
        </div>
        <!--end::Header-->

        <!--begin::Body-->
        <div class="card-body" id="kt_explore_body">
            <!--begin::Content-->
            <div class="">
                <ul class="nav nav-pills nav-pills-custom item position-relative mx-1 mb-1" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item col mx-0 p-0" role="presentation" *ngFor="let item of tabList">
                        <!--begin::Link-->
                        <a class="nav-link d-flex justify-content-center w-100 border-0 h-100"
                            [ngClass]="{'active': selectedTab == item.type}" (click)="changeTabMenu(item.type)"
                            data-bs-toggle="pill" href="#kt_list_widget_16_tab_1" aria-selected="true" role="tab">
                            <!--begin::Subtitle-->
                            <span class="nav-text text-gray-800 fw-bold fs-7 mb-3">
                                {{item.name}}
                            </span>
                            <!--end::Subtitle-->

                            <!--begin::Bullet-->
                            <span
                                class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-dark rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->

                    <!--begin::Bullet-->
                    <span class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded"></span>
                    <!--end::Bullet-->
                </ul>
            </div>
            <!--end::Content-->

            <div class="row">
                <ng-container *ngIf="selectedItems.length > 0 && selectedTab == '0' ">
                    <div class="col-12 d-flex justify-content-center align-items-center border border-3 rounded p-5 my-10">
                        <span class="badge badge-circle badge-danger mx-5">
                            <i class="fa-solid fa-info text-white"></i>
                        </span>
                        <span class="text-gray-500 pt-1 fw-semibold fs-6">{{getTooltipScript()}}</span>
                    </div>

                    <div class="col-12 my-5">
                        <!-- <div class="input-group h-100" style="flex: 1;">
                            <input
                                class="form-control form-control-solid h-auto p-2 border-1 border-danger rounded-lg font-size-h6"
                                [(ngModel)]="filterText" type="text" placeholder="{{'Arama' | translate}}">

                            <button class="search-icon">
                                <div class="svg">
                                    <i class="fa-solid fa-magnifying-glass text-white fs-4"></i>
                                </div>
                            </button>
                        </div> -->
                        <p-floatlabel variant="on" class="mt-2">
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input pInputText id="over_label" [(ngModel)]="filterText" autocomplete="off" />
                            </p-iconfield>
                            <label for="over_label">Arama..</label>
                        </p-floatlabel>
                    </div>

                    <div class="col-12 px-15 h-300px scroll">
                        <!--begin:Option-->
                        <label class="d-flex flex-stack mb-5 cursor-pointer" *ngFor="let item of workShifts | searchFilter: filterText: ['ad']">
                            <!--begin:Label-->
                            <span class="d-flex align-items-center me-2">
                                <!--begin:Icon-->
                                <!-- <span class="symbol symbol-50px me-6">
                                    <span class="symbol-label bg-light-danger">
                                        <i class="ki-duotone ki-compass fs-1 text-danger"></i>
                                    </span>
                                </span> -->
                                <!--end:Icon-->

                                <!--begin:Info-->
                                <span class="d-flex flex-column">
                                    <span class="fw-bold fs-6">{{item.ad}}</span>
                                    <span class="fs-7 text-muted">Mesai açıklaması gelebilir</span>
                                </span>
                                <!--end:Info-->
                            </span>
                            <!--end:Label-->

                            <!--begin:Input-->
                            <span class="form-check form-check-custom form-check-solid">
                                <input class="form-check-input" type="radio" name="category" value="1" />
                            </span>
                            <!--end:Input-->
                        </label>
                        <!--end::Option-->
                    </div>
                </ng-container>
            </div>
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Exolore drawer-->