<div class="container" [ngClass]="{'p-0 pt-5': (this.layoutService.isMobile | async)}" style="height: 100%; width: 100%;">
    <div class="card" [ngClass]="{'p-5': !(this.layoutService.isMobile | async), 'p-0': (this.layoutService.isMobile | async)}">
        <div class="card-body pt-0 px-0">
            <div class="row mb-4">
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-chevron-left text-hover-danger fs-2" (click)="previousMonth()"></i>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <span class="fw-bold fs-2x text-gray-800">
                        {{ currentMonthName }} {{ currentYear }}
                    </span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <i class="fa-solid fa-chevron-right text-hover-danger fs-2" (click)="nextMonth()"></i>
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-chevron-left text-hover-danger fs-2" (click)="previousWeek()"></i>
                </div>
                <div class="col-10 list" [ngClass]="{'p-0 m-0': (this.layoutService.isMobile | async)}">
                    <ul class="nav nav-stretch nav-pills nav-pills-custom nav-pills-active-custom d-flex"
                        [ngClass]="{'px-5': !(this.layoutService.isMobile | async), 'px-0': (this.layoutService.isMobile | async), 'justify-content-between': !(this.layoutService.isMobile | async), 'justify-content-around': (this.layoutService.isMobile | async)}"
                        role="tablist">
                        <li class="nav-item p-0 ms-0" role="presentation"
                            *ngFor="let item of weeks[currentWeekIndex]">
                            <a class="nav-link border border-2 btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 btn-active-danger"
                                [ngClass]="
                                    {
                                        'active': item.date.getDate() == currentDate.getDate() && item.date.getMonth() == currentDate.getMonth(),
                                        'bg-light-dark text-dark text-hover-white' : !item.isCurrentMonth,
                                        'px-3': !(this.layoutService.isMobile | async), 'px-1': (this.layoutService.isMobile | async)
                                    }" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab"
                                (click)="showMenu(item)"
                                [attr.id]="'date-' + item.monthName + item.day + item.dayName">
                                <span class="fs-7 fw-semibold">{{ item.dayName }}</span>
                                <span class="fs-6 fw-bold" [ngClass]="{'text-gray-500': !item.isCurrentMonth}">
                                    {{ item.day }}
                                </span>
                                <span class="fs-8 fw-bold">{{ item.monthName }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-chevron-right text-hover-danger fs-2" (click)="nextWeek()"></i>
                </div>
            </div>

            <ng-container *ngIf="selectedMenu">
                <div class="row my-5" [ngClass]="{'mx-15': !(this.layoutService.isMobile | async), 'mx-1': (this.layoutService.isMobile | async)}">
                    <div class="col-12 mb-6" *ngFor="let item of selectedMenu.menu">
                        <div class="row">
                            <div class="d-flex align-items-center" [ngClass]="{'col-8': !(this.layoutService.isMobile | async), 'col-7': (this.layoutService.isMobile | async)}">
                                <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-danger"></span>
                        
                                <div class="flex-grow-1 me-5">
                                    <div class="text-gray-800 fw-semibold fs-2">
                                        {{ item.name }}
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngIf="selectedMenu.date > currentDate">
                                <ng-container *ngIf="item.joinType == '1'">
                                    <div class="col-3 d-flex justify-content-end align-items-center">
                                        <button disabled class="btn btn-sm btn-danger mx-2">
                                            <i class="fa-solid fa-thumbs-up fs-1"></i>
                                        </button>
                                    </div>

                                    <div class="col-1 d-flex justify-content-end align-items-center">
                                        <a class="btn btn-sm btn-danger" (click)="item.joinType = '0' ">
                                            <i class="fa-solid fa-ban fs-1"></i>
                                        </a>
                                    </div>

                                </ng-container>

                                <ng-container *ngIf="item.joinType == '-1' ">
                                    <div class="col-3 d-flex justify-content-end align-items-center">
                                        <button disabled class="btn btn-sm btn-danger mx-2">
                                            <i class="fa-solid fa-thumbs-down fs-1"></i>
                                        </button>
                                    </div>

                                    <div class="col-1 d-flex justify-content-end align-items-center">
                                        <a class="btn btn-sm btn-danger" (click)="item.joinType = '0' ">
                                            <i class="fa-solid fa-ban fs-1"></i>
                                        </a>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="item.joinType == '0'">
                                    <div class="col-4 d-flex justify-content-end align-items-center">
                                        <a class="btn btn-sm btn-light-danger mx-2" (click)="item.joinType = '1' ">
                                            <i class="fa-solid fa-thumbs-up fs-1"></i>
                                            Katılacağım
                                        </a>
                                        <a class="btn btn-sm btn-light-danger mx-2" (click)="item.joinType = '-1'">
                                            <i class="fa-solid fa-thumbs-down fs-1"></i>
                                            Katılmayacağım
                                        </a>
                                    </div>    
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="currentDate > selectedMenu.date">
                                <div class="d-flex justify-content-end align-items-center" [ngClass]="{'col-4': !(this.layoutService.isMobile | async), 'col-5': (this.layoutService.isMobile | async)}">
                                    <p-rating [(ngModel)]="item.rating" [cancel]="false"></p-rating>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>