<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold; min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-dark">LOKASYON TANIMLARI</h3>
                    
                    </div>
                </div>

                <ng-container>
                    <div class="card-body">
                        <div class="row d-flex align-items-strech">
                            <div class="col-3">
                                <div class="table-responsive">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" [(ngModel)]="locationName" (input)="filterItems()">
                                        <button type="button" id="button-addon2" class="btn btn-sm" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;" (click)="setLocation(locationName)">Ekle</button>
                                    </div>
                    
                                    <table class="table table-striped">
                                    <thead>
                                        <tr style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold; ">
                                            <th class="fw-bolder me-1 cursor-pointer rounded-start text-center" style="width: 80%;">Lokasyonlar</th>
                                            <th class="fw-bolder me-1 cursor-pointer rounded-end" style="width: 20%;" colspan="2">Action</th>
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                        <tr *ngFor="let item of _filteredItems" class="cursor-pointer fs-8">
                                                <td (click)="selectLocation(item);">
                                                    <span class="mb-1">{{item?.ad}}</span>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm py-1 px-2" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);">
                                                        <i class="fa-solid fa-pen p-0" style="background: linear-gradient(112.14deg, var(--red-400) 0%, var(--red-700) 100%);"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm py-1 px-2 text-white" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);"(click)="deleteLocation(item?.id)">
                                                        <i class="fa-solid fa-minus p-0"></i>
                                                    </a>
                                                </td>
                                        </tr>
                    
                                    </tbody>
                                </table>
                                </div>    
                                
                            </div>
    
                            <div class="col-9 h-100">
                                <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="changeTabMenu($event)" [selectedIndex]="selectedIndex" style="min-height: 300px;">


                                    <mat-tab label="Terminaller">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationDevices">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">

                                                
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                    işlem
                                                                </th>
                                                                <th style="width: 75%;text-align: right;">
                                                                  Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationDevices">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    <mat-tab label="Turlar">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationTours">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                    işlem
                                                                </th>
                                                                <th  style="width: 75%;text-align: right;">
                                                                  Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationTours">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    <mat-tab label="İstasyonlar">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocaitonStations">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                    işlem
                                                                </th>
                                                                <th style="width: 75%;text-align: right;">
                                                                  Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocaitonStations">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    
                                    <mat-tab label="Guvenlikçiler">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationGuards">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                   İşlem
                                                                </th>
                                                                <th style="width: 75%;text-align:right">
                                                                   Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationGuards">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    
                                    <mat-tab label="Acil Durum SMS">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                    
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationEmergencySms">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                   İşlem
                                                                </th>
                                                                <th style="width: 75%;text-align:right">
                                                                   Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationEmergencySms">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    
                                    <mat-tab label="Acil Durum Arama">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationEmergencyCall">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                   İşlem
                                                                </th>
                                                                <th style="width: 75%;text-align:right">
                                                                   Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationEmergencyCall">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    <mat-tab label="Araçlar">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 75%;">
                                                                    Ad
                                                                </th>
                                                                <th style="width: 25%;text-align:right">
                                                                    işlem
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationVehicle">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 25%;">
                                                                   İşlem
                                                                </th>
                                                                <th style="width: 75%;text-align:right">
                                                                   Ad
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationVehicle">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>
                        

                                </mat-tab-group>
                            </div>

                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>