
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header" class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-light fw-bolder text-center">LOKASYON TANIMLARI</h3>
                    
                    </div>
                </div>

                <ng-container>
                    <div class="card-body">
                        <div class="row d-flex align-items-strech">
                            <div class="col-3">
                                <div class="table-responsive">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" [(ngModel)]="locationName" (input)="filterItems()">
                                        <button type="button" id="button-addon2" class="btn btn-sm " style="background:red;font-weight: bold;color:white" (click)="setLocation(locationName)">Ekle</button>
                                    </div>
                    
                                    <table class="table table-striped ">
                                    <thead>
                                        <tr style="background:red;font-weight: bold;color:white">
                                            <th class="fw-bolder me-1 cursor-pointer rounded-start text-center text-white" style="width: 80%;">Lokasyonlar</th>
                                            <th class="fw-bolder me-1 cursor-pointer rounded-end text-white" style="width: 20%;" colspan="2">İşlem</th>
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                        <tr *ngFor="let item of _filteredItems" class="cursor-pointer fs-8">
                                                <td [ngClass]="this.selectLocationId === item.id ? 'selected-location' : 'text-dark fw-bold'" (click)="selectLocation(item);">
                                                    <span style="margin-left: 10px;">{{item?.ad}}</span>
                                                </td>
                                                <td>


                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1" (click)="updateLocationModal(item?.ad, item?.id)">
                                                        <i class="fa-solid fa-pen p-0 mr-3"></i>
                                                    </a>
                                                </td>
                                                <td>

                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1" (click)="deleteLocationModal(item?.id)">
                                                        <i class="fa-solid fa-trash p-0 mr-3"></i>
                                                    </a>

                                                </td>
                                        </tr>
                    
                                    </tbody>
                                </table>
                                </div>    
                                
                            </div>
    
                            <div class="col-9 h-100">
                                <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="changeTabMenu($event)" [selectedIndex]="selectedIndex" style="min-height: 300px;">


                                    <mat-tab label="Terminaller">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                   <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationDevices">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">

                                                
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align: right;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationDevices">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    <mat-tab label="Turlar">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationTours">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th  style="background:red;font-weight: bold;color:white;width: 75%;text-align: right;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationTours">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    <mat-tab label="İstasyonlar">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocaitonStations">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            
                                                </div>

                                            </div>
                                    
                                            <div class="col-md-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align: right;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocaitonStations">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                            
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align: right;">{{ item?.ad }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                           </div>

                                        </div> 
                                    </mat-tab>

                                    
                                    <mat-tab label="Guvenlikçiler">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationGuards">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align:right">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationGuards">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    
                                    <mat-tab label="Acil Durum SMS">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                    
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationEmergencySms">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align:right">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationEmergencySms">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    
                                    <mat-tab label="Acil Durum Arama">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationEmergencyCall">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align:right">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationEmergencyCall">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>

                                    <mat-tab label="Araçlar">
                                        <div class="row w-100">
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;">
                                                                    <span>Ad</span> 
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;text-align:right">
                                                                    <span>işlem</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _setlocationVehicle">
                                                                <td style="width: 75%;">{{ item?.ad }}</td>
                                                                <td style="width: 25%;text-align:right;">
                                                                    <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,0)">
                                                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div class="col-6 py-4">
                                            
                                                <div class="table-responsive">
                                                    <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"> 
                                                        <thead>
                                                            <tr>
                                                                <th style="background:red;font-weight: bold;color:white;width: 25%;">
                                                                    <span>işlem</span>
                                                                </th>
                                                                <th style="background:red;font-weight: bold;color:white;width: 75%;text-align:right">
                                                                    <span>Ad</span> 
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of _getlocationVehicle">
                                                                <td style="width: 25%;">
                                                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2"
                                                                    (click)="setGuardLocation(item,1)">
                                                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                                                                    </a>
                                                                </td>
                                                                <td style="width: 75%;text-align:right">
                                                                    {{ item?.ad }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    
                                               
                                            </div>
                                            
                                        </div>
                                    </mat-tab>
                        

                                </mat-tab-group>
                            </div>

                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>


<p-dialog
        [(visible)]="_updateLocationModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
       <input type="text" [(ngModel)]="updateLocationName" class="form-control">
        
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_updateLocationModal = false;">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="updateLocaion()">Güncelle</button>
          </div>
        
        </div>

</p-dialog>


<p-dialog
        [(visible)]="_deleteLocationModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
        <h1>Silmek istediğinize emin misiniz? </h1>
        
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_deleteLocationModal = false;">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="deleteLocation()">Sil</button>
          </div>
        
        </div>

</p-dialog>