<div class="container py-4">
    <div class="row">
        <div class="col-md-4">

            <div class="table-responsive">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="locationName" (input)="filterItems()">
                    <button class="btn btn-danger text-white" type="button" id="button-addon2" (click)="setLocation(locationName)">Ekle</button>
                </div>

                <table class="table table-striped">
                <thead>
                    <tr class="fs-8 fw-bold text-white border-bottom-0 text-uppercase bg-dark rounded text-white">
                        <th class="fw-bolder me-1 cursor-pointer rounded-start text-center" style="width: 80%;">Lokasyonlar</th>
                        <th class="fw-bolder me-1 cursor-pointer rounded-end" style="width: 20%;" colspan="2">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of _filteredItems" class="cursor-pointer fs-8">
                            <td (click)="getItem(item);">
                                <span class="mb-1">{{item?.ad}}</span>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm py-1 px-2">
                                    <i class="fa-solid fa-pen p-0"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm py-1 px-2" (click)="deleteLocation(item?.id)">
                                    <i class="fa-solid fa-minus p-0"></i>
                                </a>
                            </td>
                    </tr>

                </tbody>
            </table>
            </div>    
            
        </div>

        <div class="col-md-8">
            <p-pickList 
            [source]="_allLocationDetails" 
            [target]="targetProducts" 
            sourceHeader="Available"
            targetHeader="Selected" 
            [dragdrop]="true" 
            [responsive]="true"
            [sourceStyle]="{ height: '30rem' }" 
            [targetStyle]="{ height: '30rem' }" 
            breakpoint="1400px">
                <ng-template let-item pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                        <!-- <img 
                            class="w-4rem shadow-2 flex-shrink-0 border-round" 
                            src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                            alt="{item.name}" /> -->
                        <div class="flex-1 flex flex-column gap-2">
                            <span class="font-bold">
                                {{ item?.ad }}
                            </span>
                            <!-- <div class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-sm"></i>
                                <span>
                                    {{ product.category }}
                                </span>
                            </div> -->
                        </div>
                        <!-- <span class="font-bold text-900">
                            {{ '$' + product.price }}
                        </span> -->
                    </div>
                </ng-template>
        </p-pickList>
            
           

        </div>
    </div>
</div>



