

canvas {
    background-color: white;
    background-image: url(../../../../../assets/media/logos/MECLOUD-Clock.png);
    
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-position: top;
    background-size: 90px;
    background-repeat: no-repeat;
    background-position-y: -5px;
}
    