<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body py-3">
                    <div class="row d-flex justify-content-center">
                        <ng-container *ngIf="visits.length > 0">
                            <div class="col-12">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show">
                                        <div class="table-responsive">
                                            <div class="text-center">
                                                <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                                    <thead>
                                                        <tr class="fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                                                            <th class="text-center rounded-start"></th>
                                                            <th class="text-center"> {{"Ad_Soyad" | translate}} </th>
                                                            <th class="text-center"> {{"Firma" | translate}} </th>
                                                            <th class="text-center"> {{"Açıklama" | translate}} </th>
                                                            <th class="text-center"> {{"Giriş" | translate}} </th>
                                                            <th class="text-center"> {{"Çıkış" | translate}} </th>
                                                            <th class="text-center rounded-end">  </th>
                                                        </tr>
                                                    </thead>
            
                                                    <tbody>
                                                        <ng-container *ngFor="let item of visits; let i = index">
                                                            <tr class="cursor-pointer bg-hover-light-dark">
                                                                <td class="text-center">
                                                                    <div [ngSwitch]="item.ziyaretNedeni">
                                                                        <div *ngSwitchCase="'Misafir'">
                                                                            <div pTooltip="Misafir" class="symbol symbol-50px me-2">
                                                                                <span class="symbol-label bg-light-danger">
                                                                                    <i class="fa-solid fa-users text-danger fs-2x"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                
                                                                        <div *ngSwitchCase="'Etkinlik'">
                                                                            <div pTooltip="Etkinlik" class="symbol symbol-50px me-2">
                                                                                <span class="symbol-label bg-light-danger">
                                                                                    <i class="fa-solid fa-cake-candles text-danger fs-2x"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                
                                                                        <div *ngSwitchCase="'İş Görüşmesi'">
                                                                            <div pTooltip="Etkinlik" class="symbol symbol-50px me-2">
                                                                                <span class="symbol-label bg-light-danger">
                                                                                    <i class="fa-solid fa-handshake text-danger fs-2x"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                
                                                                        <div *ngSwitchCase="'Yük Girişi'">
                                                                            <div pTooltip="Yük Girişi"
                                                                                class="symbol symbol-50px me-2">
                                                                                <span class="symbol-label bg-light-danger">
                                                                                    <i class="fa-solid fa-truck-ramp-box text-danger fs-2x"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                
                
                                                                        <div *ngSwitchDefault>
                                                                            <div pTooltip="Diğer" class="symbol symbol-50px me-2">
                                                                                <span class="symbol-label bg-light-danger">
                                                                                    <i class="fa-solid fa-truck-ramp-box text-danger fs-2x"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                
                                                                <td class="text-center">
                                                                    <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.talepSahibi }}</a>
                                                                </td>
                
                                                                <td class="text-center text-muted fw-bold fs-4">
                                                                    <span class="border border-gray-500 border-2 rounded p-3">
                                                                        {{ item.firma }}
                                                                    </span>
                                                                </td>
                
                                                                <td class="text-center text-muted fw-bold fs-4">
                                                                    <span class="text-dark fw-bold text-hover-danger mb-1 fs-6">
                                                                        {{ item.aciklama }}
                                                                    </span>
                                                                </td>
                
                                                                <td class="text-center">
                                                                    <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.giris | date : 'yyyy-MM-dd' }}</a>
                                                                    <span class="text-muted fw-semibold d-block">{{ item.giris | date : 'HH:mm' }}</span>
                                                                </td>
                
                                                                <td class="text-center">
                                                                    <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.cikis | date : 'yyyy-MM-dd' }}</a>
                                                                    <span class="text-muted fw-semibold d-block">{{ item.cikis | date : 'HH:mm' }}</span>
                                                                </td>
    
                                                                <td class="text-center">
                                                                    <a (click)="toggleTable(i)" class="btn btn-icon btn-sm bg-danger mx-3" pTooltip="{{ isTableVisible[i] ? 'Ziyaretçileri Gizle' : 'Ziyaretçileri  Göster' }}">
                                                                        <ng-container *ngIf="isTableVisible[i]">
                                                                            <i class="fa-solid fa-eye-slash text-white"></i>
                                                                        </ng-container>
    
                                                                        <ng-container *ngIf="!isTableVisible[i]">
                                                                            <i class="fa-solid fa-eye text-white"></i>
                                                                        </ng-container>
                                                                    </a>
    
                                                                    <a (click)="removeVisit(item)" class="btn btn-icon btn-sm bg-danger mx-3" pTooltip="{{'Talebi_Kaldır' | translate}}">
                                                                        <i class="fa-solid fa-xmark text-white"></i>                                                                    
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            
                                                            <ng-container *ngIf="item.ziyaretciler">
                                                                <tr *ngIf="isTableVisible[i]">
                                                                    <td colspan="5">
                                                                        <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                                                            <tbody>
                                                                                <ng-container *ngFor="let visitor of item.ziyaretciler; index as i">
                                                                                    <tr>
                                                                                        <td class="text-end" style="width: 10%;">
                                                                                            <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ i + 1 }}.</a>
                                                                                        </td>
    
                                                                                        <td class="text-center" style="width: 40%;">
                                                                                            <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ visitor.Ad }}</a>
                                                                                        </td>
                                                    
                                                                                        <td class="text-center" style="width: 40%;">
                                                                                            <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ visitor.Soyad }}</a>
                                                                                        </td>
            
                                                                                        <td class="text-start" style="width: 10%;">
                                                                                            <ng-container *ngIf="visitor.Dosyalar.length > 0">
                                                                                                <a (click)="showVisitorFiles(visitor)" pTooltip='Ziyaretçinin Dosyaları'
                                                                                                    class="btn btn-danger btn-sm px-4 py-2">
                                                                                                    <i class="fa-solid fa-paperclip m-0 p-0"></i>
                                                                                                </a>
                                                                                            </ng-container>
                                                                                        </td>
                                                                                    </tr>
                                                                                </ng-container>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="visits.length == 0">
                            <app-data-not-found [imgWidth]=" '30%' "></app-data-not-found>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<p-dialog header="{{ 'Yüklenmiş_Dosyalar' | translate }}" [(visible)]="displayVisitors"
    position="center" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="true" [resizable]="false">

    <ng-container *ngIf="selectedVisit">
        <app-visitor-uploaded-files [selectedVisit]="selectedVisit" (refreshVisit)="refreshVisit($event)"></app-visitor-uploaded-files>
    </ng-container>

    <ng-template pTemplate="footer">
        <a (click)="displayVisitors=false" class="btn btn-sm btn-danger mx-1">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'Kapat' | translate}}
        </a>
    </ng-template>
</p-dialog>