<div class="card card-custom gutter-b bg-success bg-opacity-75" style="border-radius: 0;">
    <div class="row card-body">
        <div class="col-3 icon d-flex justify-content-flex-start">
            <i class="fa fs-5tx  mt-4 ml-6 text-white" style="margin-left: auto; position: absolute; opacity: 0.3;">&#xe585;</i>
        </div>
        <div class="col-9">
            <a class="h1 text-white text-hover-primary mt-3 mr-6 d-flex justify-content-end">
                {{kesikCihazlar.length}}
            </a>
        </div>
        <div class="col-12 text-right mb-2 d-flex justify-content-end">
            <p class="text-white hover-underline-animation">
                İletişimi Kesik Cihaz Sayısı
            </p>
        </div>
    </div>
</div>