<div class="container-fluid py-4">

    <div class="row g-3 widget-section">
        <ng-container *ngFor="let widget of widgets">
          <div class="col-md-2">
            <div class="widget-card cursor-pointer"
                 [ngClass]="activeWidget === widget.value ? 'active-widget' : 'inactive-widget'"
                 (click)="changeContent(widget.value)">
              <h6 class="widget-title">{{ widget.title }}</h6>
            </div>
          </div>
        </ng-container>
      </div>
      
  

    <div class="row m-4">

      <div  class="card custom-card definitions">

        <div *ngIf="activeWidget == 1">

           <app-performance-question-category></app-performance-question-category>
      
         </div>
   
         <div *ngIf="activeWidget == 2">

            <app-scale></app-scale>

         </div>
   
         <div *ngIf="activeWidget == 3">

            <app-competence-questions></app-competence-questions>

         </div>
   
         <div *ngIf="activeWidget == 4">

            <app-draft></app-draft>
      
         </div>

      </div>
    
    </div>

    
  </div>
  
  
