
.bg-left { background: linear-gradient(140deg, #ffffff, #ed1e28); }
.bg-right { background: linear-gradient(135deg, #ed1e28, #ffffff); }


  
/* Widget Kartlar */
.widget-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
    cursor: pointer;
  }
  .active-widget {
    background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);
    color: white;
  }
  
  /* İnaktif widget – Beyaz zemin, kırmızı yazı */
  .inactive-widget {
    background-color: white;
    color: var(--p-red-700);
    border: 2px solid var(--p-red-700);
  }
  
  /* Hover efekti her iki durumda da çalışsın */
  .widget-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Yazı tipi stilleri */
  .widget-title {
    font-size: 14px;
    margin: 0;
    color: inherit; /* Rengi ebeveyn div'den alsın */
  }
  
  

.definitions{
  
  background: url(https://www.meyer.com.tr/cdn/img/briefly2.png) right 0;
  height: 80vh !important;
}


/* Harita */
#map {
height: 50vh;
border-radius: 8px;
border: 1px solid #e0e0e0;
}

/* Responsive */
@media (max-width: 768px) {
.widget-card {
  margin-bottom: 15px;
}
}

