<div class="row" *ngIf="editMode">
    <div class="col-12">
        <div class="card card-custom wave wave-animate wave-danger mb-2 mb-4">
            <div class="card-body py-2">
                <div class="d-flex align-items-center p-1">
                    <div>
                        <div class="d-flex">
                            <div class="ng-star-inserted" *ngFor="let item of menu">
                                <div class="bg-hover-dark p-2 rounded" *ngIf="!item.visible" (click)="changeTabMenu(item)"
                                    style="background-color: var(--p-red-500); color: white; border-radius: 5px; padding: 5px; margin: 5px; box-shadow: 5px 5px rgba(128, 128, 128, 0.555);">
                                    <div class="mr-1 text-center"><a>{{item.ad}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>