<div class="card mb-6 mb-xl-9 mx-2">
    
    <div class="card-header border-0 bg-danger" style="min-height: 45px;">
        <div class="card-title">
            <h3 class="card-label text-white">{{"Sicil_Yetkileri" | translate}}</h3>
            <h4 class="card-label text-gray-200 fs-8">{{"Sicil_Yetkilerini_Buradan_Belirleyebilirsiniz" | translate}}
            </h4>
        </div>
    </div>

    <div class="card-body pt-0 pb-5">
        <div class="row">
            <div class="col-12 py-5">
                <!-- <div class="input-group py-3" style="flex: 1;">
                    <input class="form-control form-control-solid p-2 border-1 border-dark rounded-lg font-size-h6"
                        [(ngModel)]="filterText" style="height: 30px;" type="text" placeholder="{{'Arama' | translate}}">
            
                    <button class="search-icon">
                        <div class="svg">
                            <i class="fa-solid fa-magnifying-glass text-white fs-7"></i>
                        </div>
                    </button>
                </div> -->
                <p-floatlabel variant="on" class="mt-2">
                    <p-iconfield>
                        <p-inputicon class="pi pi-search" />
                        <input pInputText id="over_label" [(ngModel)]="filterText" autocomplete="off" />
                    </p-iconfield>
                    <label for="over_label">Arama..</label>
                </p-floatlabel>
            </div>

            <div class="col-12 py-5 h-550px scroll">
                <table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
                    <thead>
                        <tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
                            <th class=" fw-bolder me-1 cursor-pointer rounded-start" style="width: 60%;">{{"Cihaz" | translate}}</th>
                            <th class=" fw-bolder me-1 cursor-pointer" style="width: 30%;">{{"Yetki" | translate}}</th>
                            <th class=" fw-bolder me-1 cursor-pointer rounded-end" style="width: 10%;">{{"Özel" | translate}}</th>
                        </tr>
                    </thead>
                
                    <ng-container *ngIf="devices.length > 0">
            
                        <tbody>
                            <tr *ngFor="let item of devices| searchFilter:filterText: ['terminalad']; trackBy: trackById " class="fs-8 fw-bolder">
                            
                                <td>
                                    <span class="mb-1">{{ item.terminalad }}</span>
                                </td>
                            
                                <ng-container *ngIf="!item?.isEdit">
                                    <td>
                                        <span class="mb-1" (click)="onClickItem(item)" *ngIf="!item.isUpdate">{{ item.timezonead }}</span>
                                        <span class="mb-1" (click)="onClickItem(item)" *ngIf="item.isUpdate">{{ item.newName }}</span>
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="item?.isEdit">
                                    <td>
                                        <span class="mb-1">
                                            <select class="form-select form-select-sm" [(ngModel)]="selectedValue" (ngModelChange)="onValueChange(selectedValue, item)">
                                                <ng-container *ngFor="let value of authorizedAreas">
                                                    <option value="{{value.ID + ',' + value.ad}}">{{value.ad}}</option>
                                                </ng-container>
                                            </select>                                                                            
                                        </span>
                                    </td>
                                </ng-container>
                                
                            
                                <td>
                                    <a class="btn btn-light-dark btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2" *ngIf="item?.isUpdate || item.ozelyetki != -1" (click)="setDefault(item)">
                                        <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                        <span>{{"Kaldır" | translate}}</span>
                                    </a>
                                </td>
                            
                            </tr>
                        </tbody>
                    </ng-container>
            
                    <ng-container *ngIf="devices.length == 0">
                        <tr>
                            <td colspan="3" class="text-center">
                                <app-data-not-found [imgWidth]="'60%'"></app-data-not-found>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>


        </div>
    </div>
</div>