<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- <ul class="px-5 d-flex flex-column" style="list-style: none; margin: 0;">
                <li *ngFor="let item of categories">
                    <a (click)="changeCategory(item)">{{item.category}}</a>
                </li>
            </ul> -->

            <ul class="nav nav-tabs nav-pills flex-column border-0">
                <li class="nav-item me-0" *ngFor="let item of categories">
                    <a class="nav-link" [ngClass]="{'active': selectedCategory.category == item.category }" (click)="changeCategory(item)">
                        <span class="nav-link-logo m-0">
                            <!-- <img class="nav-link-logo-img-active" src="/metronic/assets/media/framework-logos/html.png" alt="">
                            <img class="nav-link-logo-img-default" src="/metronic/assets/media/framework-logos/inactive/html.png" alt=""> -->
                        </span>
            
                        <span class="nav-link-title ms-5"> {{item.category}} </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-10">

        </div>
    </div>
</div>