:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    display: block;
}

.fireworks-canvas {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    display: block;
}