.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #e33a37;
    height: 30px;
}

::ng-deep .mat-progress-spinner svg {
    height: 30px !important;
}