<div class="container-fluid">
  <div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
      <div class="row">
        <ng-container *ngIf="isLoading | async">
          <div class="col-12 pt-10">
            <div class="loader-container">
              <div id="splash-screen" class="splash-screen"
                style="position: inherit; color:transparent; background-color: transparent;">
                <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo" style="margin-left: 0; height: 0;" />
                <mat-spinner></mat-spinner>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!(isLoading | async)">
          <div class="row" *ngIf="user$ | async as _user">
            <div class="col-xl-2 d-flex justify-content-center">
              <div class="me-7 mb-4">
                <div class="symbol symbol-100px symbol-xl-160px symbol-fixed position-relative">
                  <!-- <img alt="Logo" src="{{'data:image/jpg;base64,' + _user.FotoImage}}" /> -->

                  <img alt="Logo" src="http://localhost:5075/api/Image?sicilid={{_user.xSicilID}}" />

                  <div
                    class="theme-light-show position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px">
                  </div>
                  <div
                    class="theme-dark-show position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-dark h-20px w-20px">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-10">
              <div class="row">
                <div class="col-xl-8 pt-xl-4 d-flex justify-content-center d-xl-flex justify-content-xl-start">
                  <div class="d-flex align-items-center mb-2">

                    <a class="text-gray-800 text-hover-danger fs-2 fw-bolder me-1 cursor-pointer">
                      {{ _user.adsoyad }}
                    </a>

                    <!-- <a class="cursor-pointer">
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen026.svg'"
                        class="svg-icon svg-icon-1 svg-icon-primary"></span>
                    </a> -->

                    <ng-container *ngIf="userInformation">
                      <a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer">
                        {{"Giriş_Tarihi" | translate}} : {{ userInformation.GirisTarih | date :'yyyy-MM-dd'}}
                      </a>
                    </ng-container>

                    <ng-container *ngIf="!userInformation">
                      <a class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer">
                        YYYY-MM-DD
                      </a>
                    </ng-container>

                  </div>
                </div>

                <div class="col-xl-4 d-flex justify-content-center d-xl-flex justify-content-xl-end pt-xl-4">
                  <button class="btn btn-danger w-75 w-md-50 h-100" [matMenuTriggerFor]="talepler">{{"Talep_Oluştur" |
                    translate}}</button>
                  <mat-menu #talepler="matMenu">

                    <button mat-menu-item (click)="showVacationDialog()">
                      <i class="icon-l fas fa-skiing pe-4 fs-3"> </i>
                      {{"İzin" | translate}}
                    </button>

                    <button (click)="showOvertimeDialog()" mat-menu-item>
                      <i class="icon-l fas fa-business-time pe-4 fs-3"> </i>
                      {{"Fazla_Mesai" | translate}}
                    </button>

                    <button mat-menu-item (click)="showVisitRequestDialog()">
                      <i class="fa-solid fa-person-walking pe-4 fs-3"> </i>
                      {{"Ziyaretçi" | translate}}
                    </button>

                    <button mat-menu-item (click)="showAuthorityDialog()">
                      <i class="fa-solid fa-fingerprint pe-4 fs-3"></i>
                      {{"Yetki" | translate}}
                    </button>

                    <button mat-menu-item (click)="showVehicleRequestDialog()">
                      <i class="fa-solid fa-car-side pe-4 fs-3"></i>
                      {{"Araç" | translate}}
                    </button>

                    <button mat-menu-item (click)="showAdvancePaymentDialog()">
                      <i class="fa-solid fa-sack-dollar pe-4 fs-3"></i>
                      {{"Avans" | translate}}
                    </button>

                    <button mat-menu-item>
                      <i class="fa-solid fa-van-shuttle pe-4 fs-3"></i>
                      {{"Servis" | translate}}
                    </button>

                    <button mat-menu-item>
                      <i class="fa-solid fa-screwdriver-wrench pe-4 fs-3"></i>
                      {{"Malzeme_Envanter" | translate}}
                    </button>

                    <button mat-menu-item (click)="showExpenseDialog()">
                      <i class="fa-solid fa-file-invoice-dollar pe-4 fs-3"></i>
                      {{"Masraf" | translate}}
                    </button>

                    <button mat-menu-item (click)="showShiftDialog()">
                      <i class="fa-solid fa-calendar-days pe-4 fs-3"></i>
                      {{"Mesai_Birimi_Değişikliği" | translate}}
                    </button>
                    
                    <button mat-menu-item (click)="showAttendanceDialog()">
                      <i class="fa-solid fa-door-open pe-4 fs-3"></i>
                      {{"Hareket_Değişikliği" | translate}}
                    </button>
                  </mat-menu>
                </div>

              </div>

              <div class="row pt-4">
                <div class="col-12 d-flex justify-content-center d-xl-flex justify-content-xl-start">
                  <!-- flex-wrap -->
                  <div class="d-flex  fw-bold fs-6 mb-4 pe-2">

                    <a class="d-flex align-items-center text-gray-400 text-hover-danger me-5 mb-2 cursor-pointer ">
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen001.svg'"
                        class="svg-icon svg-icon-4 me-1"></span>
                      {{ _user.firmaad }}
                    </a>

                    <a class="d-flex align-items-center text-gray-400 text-hover-danger me-5 mb-2 cursor-pointer">
                      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com009.svg'"
                        class="svg-icon svg-icon-4 me-1"></span>
                      {{ _user.gorevad }}
                    </a>

                    <a class="d-flex align-items-center text-gray-400 text-hover-danger mb-2 cursor-pointer">
                      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com008.svg'"
                        class="svg-icon svg-icon-4 me-1"></span>
                      {{ _user.bolumad }}
                    </a>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-wrap flex-stack">
                    <div class="d-flex flex-column flex-grow-1">
                      <div class="d-flex justify-content-center d-xl-flex justify-content-xl-start flex-wrap">

                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                          <div class="d-flex align-items-center">
                            <ng-container *ngIf="userInformation">
                              <div class="fs-2 fw-bolder">{{ userInformation.Kidem }}</div>
                            </ng-container>

                            <ng-container *ngIf="!userInformation">
                              <div class="fs-2 fw-bolder">-</div>
                            </ng-container>
                          </div>

                          <div class="fw-bold fs-6 text-gray-400">{{"Kıdem" | translate}}</div>
                        </div>

                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                          <div class="d-flex align-items-center">
                            <ng-container *ngIf="userInformation">
                              <div class="fs-2 fw-bolder">{{ userInformation.Hak }}</div>

                            </ng-container>

                            <ng-container *ngIf="!userInformation">
                              <div class="fs-2 fw-bolder">-</div>
                            </ng-container>
                          </div>

                          <div class="fw-bold fs-6 text-gray-400">{{"İzin_Hakkı" | translate}}</div>
                        </div>


                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                          <div class="d-flex align-items-center">
                            <ng-container *ngIf="userInformation">
                              <div class="fs-2 fw-bolder"> {{ userInformation.KullanilanYillikIzin }} </div>
                            </ng-container>

                            <ng-container *ngIf="!userInformation">
                              <div class="fs-2 fw-bolder"> - </div>

                            </ng-container>

                          </div>

                          <div class="fw-bold fs-6 text-gray-400">{{"Kullanılan_İzin" | translate}}
                          </div>
                        </div>

                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                          <div class="d-flex align-items-center">
                            <ng-container *ngIf="userInformation">
                              <div class="fs-2 fw-bolder">{{ userInformation.IzinDevir }}</div>
                            </ng-container>

                            <ng-container *ngIf="!userInformation">
                              <div class="fs-2 fw-bolder">-</div>
                            </ng-container>
                          </div>

                          <div class="fw-bold fs-6 text-gray-400">{{"Devir" | translate}}</div>
                        </div>


                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                          <div class="d-flex align-items-center">
                            <ng-container *ngIf="userInformation">
                              <div class="fs-2 fw-bolder">{{ userInformation.Kalan }}</div>
                            </ng-container>

                            <ng-container *ngIf="!userInformation">
                              <div class="fs-2 fw-bolder">-</div>
                            </ng-container>
                          </div>
                          <div class="fw-bold fs-6 text-gray-400">{{"Kalan" | translate}}</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-12">
              <div class="d-flex overflow-auto h-55px">
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fw-bolder flex-nowrap">

                  <ng-container>
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="dashboard"
                        routerLinkActive="active" translate="Genel_Bakış"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.gecislerim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="gecislerim"
                        routerLinkActive="active" translate="Geçişlerim"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.surelerim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="surelerim"
                        routerLinkActive="active" translate="Sürelerim"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.izinlerim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="izinlerim"
                        routerLinkActive="active" translate="İzinlerim"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.talepEdilenler">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="talep_edilenler"
                        routerLinkActive="active" translate="Talep_Edilenler">
                        <span class="badge badge-circle badge-danger ms-2">5</span>
                      </a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.taleplerim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="taleplerim"
                        routerLinkActive="active" translate="Taleplerim"></a>
                    </li>
                  </ng-container>

                  <!-- <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.ziyaretciTaleplerim"> -->
                  <li class="nav-item">
                    <a class="nav-link text-active-danger text-center me-6" routerLink="ziyaretci_talepleri"
                      routerLinkActive="active" translate="Ziyaretçi_Talepleri"></a>
                  </li>
                  <!-- </ng-container> -->

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.ziyaretciTaleplerim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="ziyaretci_taleplerim"
                        routerLinkActive="active" translate="Ziyaretçi_Taleplerim"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.mobilLokasyon">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="mobil_lokasyon"
                        routerLinkActive="active" translate="Mobil_Lokasyon"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.taskListem">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="task_listem"
                        routerLinkActive="active" translate="Task_Listem"></a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="menuConfig.auth.pages.profil.tabMenu.takimim">
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="takimim"
                        routerLinkActive="active" translate="Takımım"></a>
                    </li>
                  </ng-container>

                  <ng-container>
                    <li class="nav-item">
                      <a class="nav-link text-active-danger text-center me-6" routerLink="eksik_surelerim"
                        routerLinkActive="active" translate="Eksik_Sürelerim"></a>
                    </li>
                  </ng-container>

                </ul>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="displayOvertimeForm">
  <app-dialog-fazla-mesai-talebi [isFromAttendance]="false" [displayOvertimeForm]="displayOvertimeForm" (onHideOvertimeForm)="onHideOvertimeForm()"></app-dialog-fazla-mesai-talebi>
</ng-container>



<ng-container *ngIf="displayVacationForm">
  <app-dialog-izin-talebi [isFromAttendance]="false" [displayVacationForm]="displayVacationForm" (onHideVacationForm)="onHideVacationForm()"></app-dialog-izin-talebi>
</ng-container>


<ng-container *ngIf="displayVisitRequestForm">
  <p-dialog header="{{'Ziyaretçi_Talep_Formu' | translate}}" [(visible)]="displayVisitRequestForm"
    (visibleChange)="visitRequestFormIsSend()" [modal]="true" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="true" [resizable]="false">

    <ng-container *ngIf="displayVisitRequestForm">
      <app-dialog-ziyaretci-talebi (visitRequestFormIsSend)="visitRequestFormIsSend()"></app-dialog-ziyaretci-talebi>
    </ng-container>

  </p-dialog>
</ng-container>

<ng-container *ngIf="displayAuthorityRequestForm">
  <p-dialog header="{{'Yetki_Talep_Formu' | translate}}" [(visible)]="displayAuthorityRequestForm"
    (visibleChange)="visitRequestFormIsSend()" [modal]="true" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="true" [resizable]="false">

    <ng-container *ngIf="displayAuthorityRequestForm">
      <app-dialog-yetki-talebi (authorityRequestFormIsSend)="authorityRequestFormIsSend()"></app-dialog-yetki-talebi>
    </ng-container>

  </p-dialog>
</ng-container>

<ng-container *ngIf="displayVehicleRequestForm">
  <p-dialog header="{{'Araç_Talep_Formu' | translate}}" [(visible)]="displayVehicleRequestForm"
    (visibleChange)="vehicleRequestIsSend()" [modal]="true" [maximizable]="true" [baseZIndex]="10000" [draggable]="true"
    [resizable]="false">

    <ng-container *ngIf="displayVehicleRequestForm">
      <app-dialog-arac-talebi (vehicleRequestFormIsSend)="vehicleRequestIsSend()"></app-dialog-arac-talebi>
    </ng-container>

  </p-dialog>
</ng-container>


<p-dialog header="{{'Avans_Talep_Formu' | translate}}" [(visible)]="displayAdvancePaymentForm" [modal]="true"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

  <ng-container *ngIf="displayAdvancePaymentForm">
    <app-dialog-avans-talebi (visitRequestFormIsSend)="advancePaymentIsSend()"></app-dialog-avans-talebi>
  </ng-container>

</p-dialog>


<p-dialog header="{{'Masraf_Talep_Formu' | translate}}" [(visible)]="displayExpenseRequestForm" [modal]="true"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

  <ng-container *ngIf="displayExpenseRequestForm">
    <app-dialog-masraf-talebi (visitRequestFormIsSend)="expenseRequestIsSend()"></app-dialog-masraf-talebi>
  </ng-container>

</p-dialog>

<ng-container *ngIf="displayShiftForm">
  <app-shift-change-form [isFromAttendance]="false" [displayShiftForm]="displayShiftForm" (onHideShiftForm)="onHideShiftForm()"></app-shift-change-form>
</ng-container>

<ng-container *ngIf="displayAttendanceForm">
  <app-attendance-change-form [isFromAttendance]="false" [displayAttendanceForm]="displayAttendanceForm" (onHideAttendanceForm)="onHideAttendanceForm()"></app-attendance-change-form>
</ng-container>



<router-outlet></router-outlet>