<!-- <p-dialog header="{{'Detaylı_Arama' | translate}}" [(visible)]="displayDetailSearch" position="top"
  [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="hideDetailSearch()"> -->
  <p-dialog header="{{'Detaylı_Arama' | translate}}" [(visible)]="displayDetailSearch" position="top" [breakpoints]="{ '2560px': '83vw', '992px': '90vw', '576px': '99vw' }"
  [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="hideDetailSearch()">

    <form [formGroup]="detailSearchForm">
        <p-accordion>
            <p-accordionTab header="{{'Kişisel_Bilgiler' | translate}}">

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Ad" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="text" placeholder="{{'Bir_Değer_Giriniz' | translate}}"
                            formControlName="ad">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Soyad" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="text" placeholder="{{'Bir_Değer_Giriniz' | translate}}"
                            formControlName="soyad">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Sicil_No" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="text" placeholder="{{'Bir_Değer_Giriniz' | translate}}"
                            formControlName="sicilno">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Personel_No" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="text" placeholder="{{'Bir_Değer_Giriniz' | translate}}"
                            formControlName="personelno">
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="{{'Firma_Bilgileri' | translate}}">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Firma" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="firma">
                            <option *ngFor="let item of companies" value="{{item.id}}">{{item.ad}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Bölüm" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="bolum">
                            <option *ngFor="let item of departments" value="{{item.id}}">{{item.ad}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Pozisyon" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="pozisyon">
                            <option *ngFor="let item of positions" value="{{item.id}}">{{item.ad}}</option>

                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Görev" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="gorev">
                            <option *ngFor="let item of duties" value="{{item.id}}">{{item.ad}}</option>

                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Alt_Firma" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="altfirma">
                            <option *ngFor="let item of subsidiaries" value="{{item.id}}">{{item.ad}}</option>

                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Yaka" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="yaka">
                            <option *ngFor="let item of collars" value="{{item.id}}">{{item.ad}}</option>

                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Direktörlük" | translate}}</span>
                        </label>

                        <select class="form-select form-select-lg form-select-solid" formControlName="direktorluk">
                            <option *ngFor="let item of directorates" value="{{item.id}}">{{item.ad}}</option>

                        </select>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="{{'Özel_Kod_Bilgileri' | translate}}">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5" *ngFor="let item of oKodFields | slice :0:6">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{item.Ad}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="text" placeholder="{{'Bir_Değer_Giriniz' | translate}}"
                            formControlName="okod{{item.ID}}">
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="{{'Talep_Bilgileri' | translate}}">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Başlangıç_Tarihi" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="date" formControlName="tarih">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                            <span>{{"Bitiş_Tarihi" | translate}}</span>
                        </label>

                        <input class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6"
                            type="date" formControlName="tarihbit">
                    </div>

                    <ng-container *ngIf="selectedNavItem == 'izin'">
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>{{"İzin_Tipi" | translate}}</span>
                            </label>

                            <select class="form-select form-select-lg form-select-solid" formControlName="ftip">
                                <option *ngFor="let item of vacationTypes" value="{{item.ID}}">{{item.ad}}</option>
                            </select>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="selectedNavItem == 'fazlamesai'">
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>{{"Fazla_Mesai_Nedeni" | translate}}</span>
                            </label>

                            <select class="form-select form-select-lg form-select-solid" formControlName="ftip">
                                <option *ngFor="let item of overtimeReasons" value="{{item.ID}}">{{item.ad}}</option>
                            </select>
                        </div>
                    </ng-container>


                </div>
            </p-accordionTab>
        </p-accordion>
    </form>

    <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center mt-5">
            <a (click)="getFormValues(selectedNavItem)" class="btn btn-danger mx-2">
                <i class="fa-solid fa-check fs-1"></i>
                {{'Gönder' | translate}}
            </a>

            <a (click)="hideDetailSearch()" class="btn btn-danger">
                <i class="fa-solid fa-xmark fs-1"></i>
                {{'Vazgeç' | translate}}
            </a>
        </div>
    </div>

</p-dialog>

    