.search-icon {
    background-color: var(--kt-dark);
    cursor: pointer;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 0 39px 39px 0;

}

.search-icon .svg {
    display: flex;
    align-items: center;
    height: 100%;
}