<div class="card" style="min-height: 450px;">
    <div class="card-header" style="display: flow-root;">
        <div class="row mt-4">
            <div class="col-10 d-flex align-items-center">
                <h4 class="card-label text-danger mt-2 font-weight-bolder">
                    {{selectedItem.name}}
                </h4>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <a (click)="onCloseButtonClick()" class="btn font-weight-bold mr-2">
                    <i class="fa-solid fa-circle-xmark text-danger" style="font-size: 2rem;"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="card-body d-flex p-0 card-rounded">
        <div style="padding: 20px 0px 15px 15px ;" class="flex-grow-1 card-rounded flex-grow-1">
            <div class="container">
                <div class="w-100">
                    <!-- <ng-container *ngIf="!bayrak">
                        <div class="col-12 pt-10">
                            <div class="loader-container">
                                <div id="splash-screen" class="splash-screen"
                                    style="position: inherit; color:transparent; background-color: transparent;">
                                    <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo"
                                        style="margin-left: 0; height: 0;" />
                                    <mat-spinner></mat-spinner>
                                </div>
                            </div>
                        </div>
                    </ng-container> -->
                    <ng-container>
                    <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)">
                        <!-- <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)"></form> -->
                        <div class="row mb-4">
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <i class="fa-solid fa-chevron-left text-hover-danger fs-2" (click)="previousMonth()"></i>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <span class="fw-bold fs-2x text-gray-800">
                                    {{ currentMonthName }} {{ currentYear }}
                                </span>
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <i class="fa-solid fa-chevron-right text-hover-danger fs-2" (click)="nextMonth()"></i>
                            </div>
                        </div>
                        <div class="row mb-8">
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-chevron-left text-hover-danger fs-2" (click)="previousWeek()"></i>
                            </div>

                            <div class="col-10 list p-0 m-0 p-md-auto m-md-auto">
                                <ul class="nav nav-stretch nav-pills nav-pills-custom nav-pills-active-custom d-flex justify-content-around justify-content-md-between px-0 px-md-5" role="tablist">
                                    <li class="nav-item p-0 ms-0" role="presentation"
                                        *ngFor="let item of weeks[currentWeekIndex]">
                                        <a class="nav-link border border-2 btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 px-md-1 btn-active-danger"
                                            [ngClass]="
                                                {
                                                    'active': item.date.getDate() == currentDate.getDate() && item.date.getMonth() == currentDate.getMonth(),
                                                    'bg-light-dark text-dark text-hover-white' : !item.isCurrentMonth
                                                }" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab"
                                            (click)="showMenu(item)"
                                            [attr.id]="'date-' + item.monthName + item.day + item.dayName">
                                            <span class="fs-7 fw-semibold">{{ item.dayName }}</span>
                                            <span class="fs-6 fw-bold" [ngClass]="{'text-gray-500': !item.isCurrentMonth}">
                                                {{ item.day }}
                                            </span>
                                            <span class="fs-8 fw-bold">{{ item.monthName }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-chevron-right text-hover-danger fs-2" (click)="nextWeek()"></i>
                            </div>
                        </div>
 
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Çorba</label>
                                <select [(ngModel)]="selectedCorba" name="corba" (change)="onSelectionChange(selectedCorba,'Corba')"  class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of corbaOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.corbaMenu.length != 0">
                                    <span *ngFor="let item of corbaMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Corba')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Ana Yemek</label>
                                <select [(ngModel)]="selectedAnaYemek" name="anayemek" (change)="onSelectionChange(selectedAnaYemek,'AnaYemek')" class="form-select" aria-label="Default select example">
                                    <option *ngFor="let item of anayemekOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>      
                                </select>
                                <div *ngIf="this.anayemekMenu.length != 0">
                                    <span *ngFor="let item of anayemekMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'AnaYemek')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Salata</label>
                                <select [(ngModel)]="selectedSalata" name="salata" (change)="onSelectionChange(selectedSalata, 'Salata')"  class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of salataOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.salataMenu.length != 0">
                                    <span *ngFor="let item of salataMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Salata')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                       
                        </div>
                      
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Tatlı</label>
                                <select [(ngModel)]="selectedTatli" name="tatli" (change)="onSelectionChange(selectedTatli,'Tatli')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of tatliOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.tatliMenu.length != 0">
                                    <span *ngFor="let item of tatliMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Tatli')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Meze</label>
                                <select [(ngModel)]="selectedMeze" name="meze" (change)="onSelectionChange(selectedMeze,'Meze')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of mezeOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.mezeMenu.length != 0">
                                    <span *ngFor="let item of mezeMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Meze')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Ara Sıcak</label>
                                <select [(ngModel)]="selectedAraSicak" name="arasicak" (change)="onSelectionChange(selectedAraSicak, 'AraSicak')"  class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of arasicakOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.arasicakMenu.length != 0">
                                    <span *ngFor="let item of arasicakMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'AraSicak')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Ara Soguk</label>
                                <select [(ngModel)]="selectedAraSoguk" name="arasoguk" (change)="onSelectionChange(selectedAraSoguk,'AraSoguk')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of arasogukOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.arasogukMenu.length != 0">
                                    <span *ngFor="let item of arasogukMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'AraSoguk')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">İçecek</label>
                                <select [(ngModel)]="selectedIcecek" name="icecek" (change)="onSelectionChange(selectedIcecek,'icecekler')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of icecekOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.icecekMenu.length != 0">
                                    <span *ngFor="let item of icecekMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'icecekler')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Meyve</label>
                                <select [(ngModel)]="selectedMeyve" name="meyve" (change)="onSelectionChange(selectedMeyve,'Meyve')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of meyveOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.meyveMenu.length != 0">
                                    <span *ngFor="let item of meyveMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Meyve')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="required" for="inputMeal">Kahvaltılık</label>
                                <select [(ngModel)]="selectedKahvaltilik" name="kahvaltilik" (change)="onSelectionChange(selectedKahvaltilik,'Kahvaltilik')" class="form-select" aria-label="Default select example" ngModel>
                                    <option *ngFor="let item of kahvaltilikOptions" [ngValue]="item"><span>{{item?.Aciklama}}</span></option>
                                </select>
                                <div *ngIf="this.kahvaltilikMenu.length != 0">
                                    <span *ngFor="let item of kahvaltilikMenu" class="badge text-bg-danger m-2"><button  (click)="onSelectionChange(item,'Kahvaltilik')" type="button" class="btn-close" aria-label="Close"></button>{{item?.Aciklama}}</span>
                                </div>
                            </div>
                        </div>
                 
                    
                        <!-- <div class="row">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-danger">Oluştur</button>
                            </div>
                        </div> -->

                    </form>
                </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>

