.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
::ng-deep {
    .p-progressbar .p-progressbar-value {
        background: var(--kt-danger) !important;
    }
    .p-button:enabled:hover {
        background: var(--kt-danger-active);
        color: #ffffff;
        border-color: var(--kt-danger);
    }
    .p-button {
        color: #ffffff;
        background: var(--kt-danger);
        border: 1px solid var(--kt-danger);
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 6px;
    }
    .p-button:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--kt-danger-active), 0 1px 2px 0 black;
    }
    .p-button:enabled:active {
        background: var(--kt-danger);
        color: #ffffff;
        border-color: var(--kt-danger);
    }
    .p-speeddial-action {
        width: 3rem;
        height: 3rem;
        background: var(--kt-gray-500);
        color: #fff;
    }
    .p-speeddial-action:hover {
        background: var(--kt-gray-900);
        color: #ffffff;
    }
    .cell-weekend {
        background-color: var(--kt-secondary) !important;
        color: var(--kt-black) !important;
        border-right: 1px solid #dcdcdc !important;
        border-bottom: 1px solid #dcdcdc !important;
    }
    .piv-cell-blue {
        background-color: #5e738b !important;
        color: white !important;
        text-align: center !important;
    }
    .piv-cell-yellow-casablanca {
        background-color: orange !important;
        color: black !important;
        text-align: center !important;
    }
    .piv-cell-green {
        background-color: greenyellow !important;
        text-align: center !important;
    }
    .piv-cell-red {
        background-color: #ff9494 !important;
        color: white !important;
        text-align: center !important;
    }
    .piv-cell-white {
        text-align: center !important;
    }
    .ag-center-cols-container .ag-cell {
        border-right: 1px solid #dcdcdc !important;
    }
    .ag-center-cols-container .ag-cell:last-child {
        border-right: none !important;
    }
        .cell-wrapper {
            overflow: hidden;
            // position: relative;
    
            // Sağ üst çentik
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-top: 20px solid #007bff;
                z-index: 1;
                transition: all 0.5s ease;
            }
    
            // Sağ üst çentiğin dinamik içeriği
            .dynamic-content {
                position: absolute;
                top: 0;
                right: 0;
                padding: 2px 5px;
                background-color: #007bff;
                color: white;
                font-weight: bold;
                transform: translate(100%, -100%);
                transition: transform 0.5s ease;
                z-index: 2;
            }
            // Sol alt çentik
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #007bff;
                z-index: 1;
                transition: all 0.5s ease;
            }
            // Sol alt çentiğin dinamik içeriği
            .bottom-content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2px 5px;
                background-color: #007bff;
                color: white;
                font-weight: bold;
                transform: translate(-100%, 100%);
                transition: transform 0.5s ease;
                z-index: 2;
            }
            // Hover durumunda çentiklerin açılması
            &:hover::before {
                width: 50%;
                height: 50%;
                border-left: none;
                border-top: none;
                background-color: transparent;
            }
            &:hover .dynamic-content {
                transform: translate(0, 0);
            }
            &:hover::after {
                width: 50%;
                height: 50%;
                border-right: none;
                border-bottom: none;
                background-color: transparent;
            }
            &:hover .bottom-content {
                transform: translate(0, 0);
            }
        }     
}
// .search-icon {
//     background-color: var(--kt-danger);
//     cursor: pointer;
//     width: 45px;
//     height: 37px;
//     display: flex;
//     justify-content: center;
//     border: none;
//     outline: none;
//     border-radius: 0 39px 39px 0;
  
// } 
// .search-icon .svg {
//    display: flex;
//    align-items: center;
//    height: 100%;
// }
.process-item {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--kt-danger);
        transition: width 0.1s ease-in;
        z-index: 0;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover a {
        color: var(--kt-white) !important;
    }
    a {
        transition: color 0.1s ease-in;
    }
    .d-flex {
        position: relative;
        z-index: 1;
    }
}
.grid {
    max-height: 50vw;
    width: 94%;
    transition: width 0.5s ease;
}
.process {
    max-height: 50vw;
    width: 6%;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    &.expanded {
        width: 31%;
        + .grid {
            width: 69%;
        }
    }
    .nav-text {
        transition: opacity 0.5s ease;
    }
}
@media (min-width: 1550px) {
    .grid {
        max-height: 50vw;
        width: 94%;
        transition: width 0.5s ease;
    }
    .process {
        max-height: 50vw;
        width: 6%;
        transition: width 0.5s ease;
        display: flex;
        align-items: center;
        &.expanded {
            width: 25%;
            + .grid {
                width: 75%;
            }
        }
        .nav-text {
            transition: opacity 0.5s ease;
        }
    }
}
#lbRangeCount:active {
    background-color: #adff2f;
}

  