<ng-container *ngIf="isLoading | async">
    <div class="col-12 pt-10">
        <div class="loader-container">
            <div id="splash-screen" class="splash-screen"
                style="position: inherit; color:transparent; background-color: transparent;">
                <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo"
                    style="margin-left: 0; height: 0;" />
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!(isLoading | async) && selectedVisit">
    <div class="container"  style="height: 600px;">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="roundend fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger">
                                        <th class="text-center rounded-start"> </th>
                                        <th class="text-center"> {{ "Belge_Adı" | translate }} </th>
                                        <th class="text-center"> {{ "Yüklenme_Tarihi" | translate }}</th>
                                        <th class="text-center"> {{ "Boyutu" | translate }} </th>
                                        <th class="text-center rounded-end"> </th>
                                    </tr>
                                </thead>
        
                                <tbody>
                                    <ng-container *ngFor="let item of selectedVisit.Dosyalar; index as i">
                                        <tr [ngClass]="{ 'bg-light-danger' : !item.uploadedFile }">
                                            <td class="text-center">
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <div [ngSwitch]="item.uploadedFile.DosyaTipi">
                                                        <div
                                                            *ngSwitchCase="['jpeg', 'jpg', 'png', 'svg'].includes(item.uploadedFile.DosyaTipi) ? item.uploadedFile.DosyaTipi : !item.uploadedFile.DosyaTipi">
                                                            <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                                            (click)="showUploadedFile(item.uploadedFile)"></i>
                                                        </div>
        
                                                        <div *ngSwitchCase=" 'txt' ">
                                                            <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                                            (click)="showUploadedFile(item.uploadedFile)"></i>
                                                        </div>
        
                                                        <div *ngSwitchCase=" 'pdf' ">
                                                            <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                                            (click)="showUploadedFile(item.uploadedFile)"></i>
                                                        </div>
        
                                                        <div *ngSwitchDefault>
                                                            <i class="fa-solid cursor-pointer fa-file text-dark fs-3x"
                                                            (click)="showUploadedFile(item.uploadedFile)"></i>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </td>
        
                                            <td class="text-center">
                                                <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.BelgeAdi }}</a>
                                            </td>
        
                                            <td class="text-center">
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <div>
                                                        <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.uploadedFile.Zaman | date : 'yyyy-MM-dd' }}</a>
                                                    </div>
        
                                                    <div>
                                                        <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.uploadedFile.Zaman | date : 'HH:mm:ss' }}</a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="!item.uploadedFile">
                                                    <div>
                                                        <a class="text-dark fw-bold text-hover-danger mb-1 fs-6"> ------- </a>
                                                    </div>
                                                </ng-container>
                                            </td>
        
                                            <td class="text-center">
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{ item.uploadedFile.FileLength | formatFileSize:false }}</a>
                                                </ng-container>

                                                <ng-container *ngIf="!item.uploadedFile">
                                                    <a class="text-dark fw-bold text-hover-danger mb-1 fs-6"> ------- </a>
                                                </ng-container>
                                            </td>
        
                                            <td class="text-center text-muted fw-bold fs-4">
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <a matTooltip="{{'Önizleme' | translate}}" class="btn btn-icon bg-light-danger btn-light-danger btn-sm me-3"
                                                        (click)="showUploadedFile(item.uploadedFile)">
                                                        <i class="fa-solid fa-eye fs-4"></i>
                                                    </a>
                                                </ng-container>
        
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <a matTooltip="{{'İndir' | translate}}" class="btn btn-icon bg-light-danger btn-light-danger btn-sm me-3"
                                                    (click)="downloadFile(item)">
                                                        <i class="fa-solid fa-download fs-4"></i>
                                                    </a>
                                                </ng-container>
        
                                                <ng-container *ngIf="item.uploadedFile">
                                                    <a matTooltip="{{'Kaldır' | translate}}" class="btn btn-icon bg-light-danger btn-light-danger btn-sm me-3"
                                                        (click)="deleteFileForDemand(item)">
                                                        <i class="fa-solid fa-trash fs-4"></i>
                                                    </a>
                                                </ng-container>
        
                                                <ng-container *ngIf="!item.uploadedFile">
                                                    <input type="file" [id]="'upload_' + i" style="display: none;"
                                                        max-size="10" (change)="getFile($event, item)">
                                                    <label matTooltip="{{'Karşıya_Yükle' | translate}}"
                                                        class="btn btn-icon bg-light-danger btn-light-danger btn-sm me-3" [for]="'upload_' + i">
                                                        <i class="fa-solid fa-upload fs-4"></i>
                                                    </label>
                                                </ng-container>
                                            </td>
                                        </tr>

                                        <ng-container *ngIf="item.files">
                                            <tr>
                                                <td colspan="5">
                                                    <div class="card bg-light-dark mx-8 my-5">
                                                        <div class="card-body">
                                                            <div class="row d-flex justify-content-center align-items-center">
                                                    
                                                                <div class="col-3 text-center">
                                                                    <div [ngSwitch]="item.files.type">
                                                                        <div
                                                                            *ngSwitchCase="['image/jpeg', 'image/png', 'image/svg'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                            <i class="file-type cursor-pointer fa-solid fa-file-image text-dark fs-3x"
                                                                                (click)="showUploadedFile(item)"></i>
                                                                        </div>
                                                    
                                                                        <div *ngSwitchCase="['text/plain'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                            <i class="file-type cursor-pointer fa-solid fa-file-lines text-dark fs-3x"
                                                                                (click)="showUploadedFile(item)"></i>
                                                                        </div>
                                                    
                                                                        <div
                                                                            *ngSwitchCase="['application/pdf'].includes(item.files.type) ? item.files.type : !item.files.type">
                                                                            <i class="file-type cursor-pointer fa-solid fa-file-pdf text-dark fs-3x"
                                                                                (click)="showUploadedFile(item)"></i>
                                                                        </div>
                                                    
                                                                        <div *ngSwitchDefault>
                                                                            <i class="fa-solid cursor-pointer fa-file text-dark fs-3x" (click)="showUploadedFile(item)"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    
                                                    
                                                                <div class="col-5">
                                                                    <div class="fs-6 fw-bold text-gray-800 text-center">
                                                                        {{ item.files.name }}
                                                                    </div>
                                                    
                                                                    <div class="fs-6 fw-bold text-gray-800 text-center">
                                                                        {{ item.files.fileSize }} {{ item.files.fileSizeType }}
                                                                    </div>
                                                                </div>
                                                    
                                                                <div class="col-2">
                                                                    <a class="btn btn-icon btn-danger btn-sm w-100" (click)="postVacationFile(item)">
                                                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                                                        {{"Yükle" | translate}}
                                                                    </a>
                                                                </div>
                                                    
                                                                <div class="col-2">
                                                                    <a (click)="item.files = null" class="btn btn-icon btn-danger btn-sm me-3">
                                                                        <i class="fa-solid fa-xmark fs-4"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <p-dialog header="{{ 'Önizleme' | translate }}" [(visible)]="displayUploadedFile" position="center"
        (onHide)="onHideUploadedFile()" [modal]="true"
        [breakpoints]="{ '2560px': '65vw', '992px': '90vw', '576px': '99vw' }" [baseZIndex]="10000"
        [draggable]="false" [resizable]="false">

        <div class="col-12 d-flex justify-content-center">
            <div class="symbol symbol-75px">
                <ng-container *ngIf="base64Data">
                    <iframe #base64Iframe id="base64Iframe" [src]="base64Data" width="600px" height="600px"
                        allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                </ng-container>

                <!-- <ng-container *ngIf="currentUploadedFile">
                    <iframe #base64Iframe2 id="base64Iframe2" [src]="currentUploadedFile?.files?.url" width="600px"
                        height="600px" allowfullscreen webkitallowfullscreen mozallowfullscreen>

                    </iframe>
                </ng-container> -->
            </div>
        </div>


        <ng-template pTemplate="footer">
            <a (click)="displayUploadedFile = false; base64Data = null"
                class="btn btn-danger">
                <i class="fa-solid fa-xmark fs-1"></i>
                {{'Kapat' | translate}}
            </a>
        </ng-template>
    </p-dialog>
</ng-container>