<form class="ag-filter-wrapper ag-focus-managed">
    <div class="ag-filter-body-wrapper ag-set-filter-body-wrapper" ref="eFilterBody">

        <div class="ag-set-filter">
            <div ref="eFilterLoading" class="ag-filter-loading ag-hidden" aria-hidden="true">Loading...</div>
            <!--AG-INPUT-TEXT-FIELD-->
            <div role="presentation" class="ag-mini-filter ag-labeled ag-label-align-left ag-text-field ag-input-field"
                ref="eMiniFilter">
                <div ref="eLabel" class="ag-input-field-label ag-label ag-hidden ag-text-field-label" aria-hidden="true"
                    role="presentation"></div>
                <div ref="eWrapper" class="ag-wrapper ag-input-wrapper ag-text-field-input-wrapper" role="presentation">
                    <input ref="eInput" class="ag-input-field-input ag-text-field-input" type="text" id="ag-1249-input"
                        tabindex="0" aria-label="Search filter values" placeholder="Search...">
                </div>
            </div>
            <div ref="eFilterNoMatches" class="ag-filter-no-matches ag-hidden">No matches.</div>
            <div ref="eSetFilterList" class="ag-set-filter-list" role="presentation"
                style="flex: 0 0 auto; max-height: 342.5px;">
                <div class="ag-virtual-list-viewport ag-filter-virtual-list-viewport ag-focus-managed"
                    role="presentation">
                    <div class="ag-tab-guard ag-tab-guard-top" role="presentation" tabindex="0"></div>
                    <div class="ag-virtual-list-container ag-filter-virtual-list-container" ref="eContainer"
                        role="listbox" aria-label="Filter List" [style.height.px]="organizationFilterList.length * 17">
                        
                        <div class="ag-virtual-list-item ag-filter-virtual-list-item" role="option" aria-setsize="36"
                            *ngFor="let item of organizationFilterList; let i = index" [style.height.px]="16" [style.top.px]="i * 16">
                            <div class="ag-set-filter-item">
                                <input type="radio" name="filter" [(ngModel)]="filter" id="{{item.ID}}" (ngModelChange)="updateFilter()" [value]="item.ID" />
                                <label class="mx-1 " for="{{item.ID}}">{{item.Ad}}</label>
                            </div>
                        </div>

                        
                    </div>
                    <div class="ag-tab-guard ag-tab-guard-bottom" role="presentation" tabindex="0"></div>
                </div>
                <div class="ag-resizer-wrapper">
                    <div ref="eTopLeftResizer" class="ag-resizer ag-resizer-topLeft"></div>
                    <div ref="eTopResizer" class="ag-resizer ag-resizer-top"></div>
                    <div ref="eTopRightResizer" class="ag-resizer ag-resizer-topRight"></div>
                    <div ref="eRightResizer" class="ag-resizer ag-resizer-right" style="pointer-events: all;"></div>
                    <div ref="eBottomRightResizer" class="ag-resizer ag-resizer-bottomRight"
                        style="pointer-events: all;"></div>
                    <div ref="eBottomResizer" class="ag-resizer ag-resizer-bottom" style="pointer-events: all;"></div>
                    <div ref="eBottomLeftResizer" class="ag-resizer ag-resizer-bottomLeft"></div>
                    <div ref="eLeftResizer" class="ag-resizer ag-resizer-left"></div>
                </div>
            </div>
        </div>
    </div>
</form>