<div class="container py-4">

    <p-tabView (onChange)="getTransitions($event.index)">
        <p-tabPanel header="{{ 'Bugün' | translate }}">
            <ng-template pTemplate="content">
                <ng-container *ngIf="transitions.length > 0; else noData">

                    <div class="position-relative  p-3">
                        <div class="position-absolute top-0 bottom-0 start-50 translate-middle-x bg-secondary"
                            style="width: 2px; z-index: 0;"></div>

                        <div *ngFor="let movement of transitions; let i = index" class="position-relative py-5">
                            <div class="position-absolute start-50 translate-middle bg-white z-3">
                                <div class="rounded-circle border border-white shadow"
                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'"
                                    style="width: 24px; height: 24px;">
                                </div>
                            </div>

                            <div class="position-absolute top-50 translate-middle-y"
                                [ngClass]="movement.yon == '2' ? 'start-50 ms-3' : 'end-50 me-3'"
                                style="width: 100px; height: 2px;"
                                [style.background]="movement.yon == '2' ? 'linear-gradient(to right, #4ade80, #bbf7d0)' : 'linear-gradient(to left, #f87171, #fecaca)'">
                            </div>

                            <div class="d-flex"
                                [ngClass]="movement.yon == '2' ? 'justify-content-end' : 'justify-content-start'">
                                <div class="card shadow-sm hover-elevate-up"
                                    [ngClass]="movement.yon == '2' ? 'border-start border-success me-15' : 'border-end border-danger ms-15'"
                                    style="width: 30rem;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start mb-3">
                                            <div class="d-flex align-items-center gap-2">
                                                <div [ngClass]="movement.yon == '2' ? 'bg-success bg-opacity-10' : 'bg-danger bg-opacity-10'"
                                                    class="px-3 py-2 rounded-circle">
                                                    <i
                                                        [class]="movement.yon == '2' ? 'fa-solid fa-sign-in-alt text-success' : 'fa-solid fa-sign-out-alt text-danger'">
                                                    </i>

                                                </div>
                                                <span class="badge text-capitalize"
                                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'">
                                                    {{ movement.yon == '2' ? 'Giriş' : 'Çıkış' }}
                                                </span>
                                            </div>
                                            <div class="text-end"
                                                [ngClass]="movement.yon == '2' ? 'text-success' : 'text-danger'">
                                                <div class="fw-bold">{{ movement.zaman | date: 'HH:mm:ss' }}</div>
                                                <small class="text-muted">{{ movement.zaman | date: 'dd-MM-yyyy'
                                                    }}</small>
                                            </div>
                                        </div>

                                        <div class="bg-light rounded p-2 mb-2 d-flex align-items-center gap-2">
                                            <i [class]="getDeviceIcon(movement.cihaz)" class="text-gray-700 me-2"></i>

                                            <div>
                                                <div class="fw-semibold text-dark">{{ movement.deviceName }}</div>
                                                <small class="text-gray-700 text-capitalize">{{ movement.cihaz }}</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                            <div class="rounded-circle bg-secondary"
                                style="width: 16px; height: 16px; border: 4px solid white;"></div>
                        </div>
                    </div>
                </ng-container>

                <!-- BOŞ VERİ ŞABLONU -->
                <ng-template #noData>
                    <div class="d-flex justify-content-center align-items-center py-5">
                        <app-data-not-found [imgWidth]="'70%'"></app-data-not-found>
                    </div>
                </ng-template>
            </ng-template>
        </p-tabPanel>

        <!-- HAFTALIK -->
        <p-tabPanel header="{{ 'Bu Hafta' | translate }}">
            <ng-template pTemplate="content">
                <ng-container *ngIf="transitions.length > 0; else noData">
                    <div class="position-relative p-3">
                        <div class="position-absolute top-0 bottom-0 start-50 translate-middle-x bg-secondary"
                            style="width: 2px; z-index: 0;"></div>

                        <div *ngFor="let movement of transitions; let i = index" class="position-relative py-5">
                            <div class="position-absolute start-50 translate-middle bg-white z-3">
                                <div class="rounded-circle border border-white shadow"
                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'"
                                    style="width: 24px; height: 24px;">
                                </div>
                            </div>

                            <div class="position-absolute top-50 translate-middle-y"
                                [ngClass]="movement.yon == '2' ? 'start-50 ms-3' : 'end-50 me-3'"
                                style="width: 100px; height: 2px;"
                                [style.background]="movement.yon == '2' ? 'linear-gradient(to right, #4ade80, #bbf7d0)' : 'linear-gradient(to left, #f87171, #fecaca)'">
                            </div>

                            <div class="d-flex"
                                [ngClass]="movement.yon == '2' ? 'justify-content-end' : 'justify-content-start'">
                                <div class="card shadow-sm hover-elevate-up"
                                    [ngClass]="movement.yon == '2' ? 'border-start border-success me-15' : 'border-end border-danger ms-15'"
                                    style="width: 30rem;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start mb-3">
                                            <div class="d-flex align-items-center gap-2">
                                                <div [ngClass]="movement.yon == '2' ? 'bg-success bg-opacity-10' : 'bg-danger bg-opacity-10'"
                                                    class="px-3 py-2 rounded-circle">
                                                    <i
                                                        [class]="movement.yon == '2' ? 'fa-solid fa-sign-in-alt text-success' : 'fa-solid fa-sign-out-alt text-danger'">
                                                    </i>

                                                </div>
                                                <span class="badge text-capitalize"
                                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'">
                                                    {{ movement.yon == '2' ? 'Giriş' : 'Çıkış' }}
                                                </span>
                                            </div>
                                            <div class="text-end"
                                                [ngClass]="movement.yon == '2' ? 'text-success' : 'text-danger'">
                                                <div class="fw-bold">{{ movement.zaman | date: 'HH:mm:ss' }}</div>
                                                <small class="text-muted">{{ movement.zaman | date: 'dd-MM-yyyy'
                                                    }}</small>
                                            </div>
                                        </div>

                                        <div class="bg-light rounded p-2 mb-2 d-flex align-items-center gap-2">
                                            <i [class]="getDeviceIcon(movement.cihaz)" class="text-gray-700 me-2"></i>

                                            <div>
                                                <div class="fw-semibold text-dark">{{ movement.deviceName }}</div>
                                                <small class="text-gray-700 text-capitalize">{{ movement.cihaz }}</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                            <div class="rounded-circle bg-secondary"
                                style="width: 16px; height: 16px; border: 4px solid white;"></div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noData>
                    <div class="d-flex justify-content-center align-items-center py-5">
                        <app-data-not-found [imgWidth]="'70%'"></app-data-not-found>
                    </div>
                </ng-template>
            </ng-template>
        </p-tabPanel>

        <!-- AYLIK -->
        <p-tabPanel header="{{ 'Bu Ay' | translate }}">
            <ng-template pTemplate="content">
                <ng-container *ngIf="transitions.length > 0; else noData">
                    <div class="position-relative p-3">
                        <div class="position-absolute top-0 bottom-0 start-50 translate-middle-x bg-secondary"
                            style="width: 2px; z-index: 0;"></div>

                        <div *ngFor="let movement of transitions; let i = index" class="position-relative py-5">
                            <div class="position-absolute start-50 translate-middle bg-white z-3">
                                <div class="rounded-circle border border-white shadow"
                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'"
                                    style="width: 24px; height: 24px;">
                                </div>
                            </div>

                            <div class="position-absolute top-50 translate-middle-y"
                                [ngClass]="movement.yon == '2' ? 'start-50 ms-3' : 'end-50 me-3'"
                                style="width: 100px; height: 2px;"
                                [style.background]="movement.yon == '2' ? 'linear-gradient(to right, #4ade80, #bbf7d0)' : 'linear-gradient(to left, #f87171, #fecaca)'">
                            </div>

                            <div class="d-flex"
                                [ngClass]="movement.yon == '2' ? 'justify-content-end' : 'justify-content-start'">
                                <div class="card shadow-sm hover-elevate-up"
                                    [ngClass]="movement.yon == '2' ? 'border-start border-success me-15' : 'border-end border-danger ms-15'"
                                    style="width: 30rem;">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start mb-3">
                                            <div class="d-flex align-items-center gap-2">
                                                <div [ngClass]="movement.yon == '2' ? 'bg-success bg-opacity-10' : 'bg-danger bg-opacity-10'"
                                                    class="px-3 py-2 rounded-circle">
                                                    <i
                                                        [class]="movement.yon == '2' ? 'fa-solid fa-sign-in-alt text-success' : 'fa-solid fa-sign-out-alt text-danger'">
                                                    </i>

                                                </div>
                                                <span class="badge text-capitalize"
                                                    [ngClass]="movement.yon == '2' ? 'bg-success' : 'bg-danger'">
                                                    {{ movement.yon == '2' ? 'Giriş' : 'Çıkış' }}
                                                </span>
                                            </div>
                                            <div class="text-end"
                                                [ngClass]="movement.yon == '2' ? 'text-success' : 'text-danger'">
                                                <div class="fw-bold">{{ movement.zaman | date: 'HH:mm:ss' }}</div>
                                                <small class="text-muted">{{ movement.zaman | date: 'dd-MM-yyyy'
                                                    }}</small>
                                            </div>
                                        </div>

                                        <div class="bg-light rounded p-2 mb-2 d-flex align-items-center gap-2">
                                            <i [class]="getDeviceIcon(movement.cihaz)" class="text-gray-700 me-2"></i>

                                            <div>
                                                <div class="fw-semibold text-dark">{{ movement.deviceName }}</div>
                                                <small class="text-gray-700 text-capitalize">{{ movement.cihaz }}</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                            <div class="rounded-circle bg-secondary"
                                style="width: 16px; height: 16px; border: 4px solid white;"></div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noData>
                    <div class="d-flex justify-content-center align-items-center py-5">
                        <app-data-not-found [imgWidth]="'70%'"></app-data-not-found>
                    </div>
                </ng-template>
            </ng-template>
        </p-tabPanel>
    </p-tabView>


</div>