    <p-dialog
    header="{{this.nameOfDevice}}"
    (onHide)="kapat()"
    [modal]="true"
    [(visible)]="displayUpdateDevice" 
    [style]="{ width: '75vw' }" 
    [breakpoints]="{'2560px': '70vw', '992px': '90vw', '576px': '99vw' }"
    [maximizable]="true" 
    [baseZIndex]="10000">
   


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        
            <!-- <nav class="d-grid gap-2">
                <button type="button" class="btn btn-light-danger" (click)="showSection(1)"
                    [ngClass]="{ 'btn-danger': selectedSection === 1 }">
                    Cihaz Ad ve Modeli
                </button>
                <button type="button" class="btn btn-light-danger" (click)="showSection(2)"
                    [ngClass]="{ 'btn-danger': selectedSection === 2 }">
                    Cihaz Port/Ip/ModuleId
                </button>
                <button type="button" class="btn btn-light-danger" (click)="showSection(3)"
                    [ngClass]="{ 'btn-danger': selectedSection === 3 }">
                    Cihaz Yön/Tanım
                </button>
                <button type="button" class="btn btn-light-danger" (click)="showSection(4)"
                    [ngClass]="{ 'btn-danger': selectedSection === 4 }">
                    Pc/Kart/Kapı
                </button>
                <button type="button" class="btn btn-light-danger" (click)="showSection(5)"
                    [ngClass]="{ 'btn-danger': selectedSection === 5 }">
                    Ping/ByPass/Pasif?
                </button>
                <button type="button" class="btn btn-light-danger" (click)="showSection(6)"
                    [ngClass]="{ 'btn-danger': selectedSection === 6 }">
                    Lokasyon
                </button>
            </nav> -->
            <nav class="d-flex flex-column align-items-start gap-2">
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(1)"
                    [ngClass]="{ 'btn-danger': selectedSection === 1 }">Cihaz Ad ve Modeli</button>
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(2)"
                    [ngClass]="{ 'btn-danger': selectedSection === 2 }">Cihaz Port/Ip/ModuleId</button>
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(3)"
                    [ngClass]="{ 'btn-danger': selectedSection === 3 }">Cihaz Yön/Tanım</button>
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(4)"
                    [ngClass]="{ 'btn-danger': selectedSection === 4 }">Pc/Kart/Kapı</button>
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(5)"
                    [ngClass]="{ 'btn-danger': selectedSection === 5 }">Ping/ByPass/Pasif?</button>
                <button type="button" class="btn btn-light-danger w-100" (click)="showSection(6)"
                    [ngClass]="{ 'btn-danger': selectedSection === 6 }">Lokasyon</button>
            </nav>
            
        </div>
        
        <div class="col-md-10">
            <div [ngSwitch]="selectedSection">

                <div *ngSwitchCase="1"> 

                    <div class="row py-2 px-4">

                        <div class="col-12 m-3">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Adı</span>
                            </label>
                
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="nameOfDevice">
                
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Modeli</span>
                            </label>

                            <p-dropdown [options]="model_device" [(ngModel)]="selectModelDevice"
                                optionLabel="Ad" optionValue="ID" [filter]="true" filterBy="Ad" 
                               
                                placeholder="Cihaz Modelini Seçiniz">
                          
                                <ng-template let-item pTemplate="item">
                                    <div class="item-item">
                                        <div>{{item.Ad}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>

                            <p>Seçilen Cihaz Modeli  selectModelDevice  : {{ selectModelDevice }}</p>
                           
                            <button type="button" (click)="submitForm()"
                            class="btn btn-success w-100 mt-5">Güncelle</button>

                        </div>

                     


                    </div>
                   
                </div>

                <div *ngSwitchCase="2"> <!-- Step 2 İçeriği -->
                    <div class="row py-2 px-4">
                        <div class="col-12 m-3">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Port</span>
                            </label>
            
                            <input class="form-control form-control-solid mb-5" type="number" [(ngModel)]="portOfDevice">
                            <p>  portOfDevice  : {{ portOfDevice }}</p>

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Ip</span>
                            </label>
            
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="ipOfDevice">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz ModuleId</span>
                            </label>
            
                            <input  class="form-control form-control-solid mb-5" type="number" [(ngModel)]="moduleIdOfDevice">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Güvenlik Anahtarı</span> 
                                <span class="badge text-bg-danger text-light sck ml-4" (click)="olustur()">Oluştur</span>
                            </label>
    
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="secureKey">
                            
                            <button type="button" (click)="submitForm()"
                            class="btn btn-success w-100 mt-5">Güncelle</button>
                        </div>
                    
                      

                    </div>
                </div>

                <div *ngSwitchCase="3"> <!-- Step 3 İçeriği -->
                    <div class="row py-2 px-4">
                        <div class="col-12 m-3">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Giriş/Çıkış</span>
                            </label>

                            <p-dropdown [options]="IO" [(ngModel)]="selectIO"  styleClass="custom-dropdown"

                                optionLabel="Ad" optionValue="ID"
                               
                                placeholder="Cihaz Yönünü Seçiniz">
                              
                                <ng-template let-item pTemplate="item">
                                    <div class="item-item">
                                        <div>{{item.Ad}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>

                            selectIO : {{selectIO}}

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Tanımı</span>
                            </label>

                            <p-dropdown [options]="type_device" [(ngModel)]="selectTypeOfDevice"
                                optionLabel="Ad" optionValue="ID" styleClass="custom-dropdown"
                               
                                placeholder="Cihaz Tanımını Seçiniz">
                           
                                <ng-template let-item pTemplate="item">
                                    <div class="item-item">
                                        <div>{{item.Ad}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            selectTypeOfDevice : {{selectTypeOfDevice}}
                            <button type="button" (click)="submitForm()"
                            class="btn btn-success w-100 mt-5">Güncelle</button>
                        </div>
            
                     
                    
            
                    </div>
                 
                </div>

                <div *ngSwitchCase="4"> <!-- Step 4 İçeriği -->
                    <div class="row py-2 px-4">

                            
                        <div class="col-12 m-3">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>PC Adı</span>
                            </label>
            
                            <input  class="form-control form-control-solid" type="text" [(ngModel)]="nameOfPc">
            
                          
                        </div>
            
                        <div class="col-12 m-3">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Kart Formatı</span>
                            </label>
                            <p-dropdown [options]="type_card" [(ngModel)]="selectFormatOfCardName"
                                optionLabel="Ad" [filter]="true" filterBy="Ad"  optionValue="Ad"
                                styleClass="custom-dropdown"
                                placeholder="Cihaz Modelini Seçiniz">
                              
                                <ng-template let-item pTemplate="item">
                                    <div class="item-item">
                                        <div>{{item.Ad}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <p>Seçilen Cihaz Modelini  selectFormatOfCardName : {{ selectFormatOfCardName}}</p>
                        </div>
            
            
                        <div class="col-12 m-3">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Kapı Tipi</span>
                            </label>
                            <p-dropdown [options]="type_door" [(ngModel)]="selectDoorType"
                                placeholder="Cihaz Kapı Tipini Seçiniz" styleClass="custom-dropdown"
                               optionLabel="GateTypeName" optionValue="Id">
                          
                                <ng-template let-item pTemplate="item">
                                    <div class="item-item">
                                        <div>{{item?.GateTypeName}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <p>Seçilen Kapı Tipini   selectDoorType : {{ selectDoorType}}</p>
                       
                        </div>
            
                        <div class="col-12 m-3">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Kapı Bilgisi</span>
                            </label>
             
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="infoOfDeviceDoor">
            
                            <button type="button" (click)="submitForm()"
                            class="btn btn-success w-100 mt-5">Güncelle</button>
                        </div>
            
                
                    </div>


                </div>
                <div *ngSwitchCase="5"> <!-- Step 5 İçeriği -->
                    <div class="current h-xl-500px scroll d-flex justify-content-center align-items-center">
                        <p class="w-100">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Ping Test Yapılsın mı?</span>
                            </label>
            
                            <input type="checkbox" [(ngModel)]="pingTest">
                        </p>
                        <p class="w-100">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Cihaz ByPass</span>
                            </label>
            
                            <input type="checkbox" [(ngModel)]="byPass">
                        </p>
                        <p class="w-100">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Cihaz Pasif Durumda Mı?</span>
                            </label>
            
                            <input type="checkbox" [(ngModel)]="IsDevicePassive">
                        </p>
                        <p class="w-100">
                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Cihaz Zaman Gönderilsin Mi?</span>
                            </label>
            
                            <input type="checkbox" [(ngModel)]="IsShowTimeOfDevice">
                        </p>
                    </div>
                    <button type="button" (click)="submitForm()"
                    class="btn btn-success w-100 mt-5">Güncelle</button>
                </div>
                <div *ngSwitchCase="6"> <!-- Step 6 İçeriği -->
                    <div class="row py-2 px-4">

                            
                        <div class="col-12 my-2">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Adres</span>
                            </label>
            
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="address">

                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Kat No</span>
                            </label>
            
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="numberOfFloor">


                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span>Oda No</span>
                            </label>
            
                            <input class="form-control form-control-solid mb-5" type="text" [(ngModel)]="numberOfRoom">


                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                <span class="required">Lokasyon</span>
                            </label>
                                   <input 
                                   class="form-control form-control-solid mb-5" 
                                   type="text" [(ngModel)]="lokasyon"  (click)="openKoordinatModal()" 
                                   [readonly]="true" value="Tıklayın" /> 

                                   <button type="button" (click)="submitForm()"
                                   class="btn btn-success w-100 mt-5">Güncelle</button>
                        </div>
                   
                      
                       <!-- <div class="col-12 my-2">
                        <div id="map" style="height: 500px; width: 100%;"></div>
                        </div>  -->
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <h2>Hoş geldiniz!</h2>
                    <p>Bir adım seçin.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</p-dialog>



<!--<ng-container>
    <nav>
        <div class="btn-group-vertical d-flex justify-content-center" role="group" aria-label="Vertical button group">
            <button type="button" 
                class="btn btn-outline-danger"
                (click)="showSection(1)"
                [ngClass]="{ 'btn-danger': selectedSection === 1 }">Step 1</button>
    
            <button type="button" 
                class="btn btn-outline-danger" 
                (click)="showSection(2)"
                [ngClass]="{ 'btn-danger': selectedSection === 2 }">Step 2</button>
    
            <button type="button" 
                class="btn btn-outline-danger" 
                (click)="showSection(3)"
                [ngClass]="{ 'btn-danger': selectedSection === 3 }">Step 3</button>
    
            <button type="button" 
                class="btn btn-outline-danger" 
                (click)="showSection(4)"
                [ngClass]="{ 'btn-danger': selectedSection === 4 }">Step 4</button>
    
            <button type="button" 
                class="btn btn-outline-danger" 
                (click)="showSection(5)"
                [ngClass]="{ 'btn-danger': selectedSection === 5 }">Step 5</button>
    
            <button type="button" 
                class="btn btn-outline-danger" 
                (click)="showSection(6)"
                [ngClass]="{ 'btn-danger': selectedSection === 6 }">Step 6</button>
        </div>
    </nav>
    <div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
        <div class="stepper-nav d-flex justify-content-center">
            <img src="../../../../../assets/media/illustrations/dozzy-1/1.png" width="100%" alt="">
        </div>
    </div>
    <div class="section" *ngIf="selectedSection === 1">
        <div class="col-6 my-2">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                <span class="required">Cihaz Adı</span>
            </label>

            <input class="form-control form-control-solid" type="text" [(ngModel)]="nameOfDevice">

          
        </div>

        <div class="col-6 my-2">
            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                <span class="required">Cihaz Modeli</span>
            </label>
            <p-dropdown [options]="model_device" [(ngModel)]="selectModelDeviceID"
                optionLabel="Ad" [filter]="true" filterBy="Ad" optionValue="ID"
               
                placeholder="Cihaz Modelini Seçiniz">
          
                <ng-template let-item pTemplate="item">
                    <div class="item-item">
                        <div>{{item.Ad}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p>Seçilen Cihaz Modeli: {{ selectModelDevice }}</p>
       
        </div>
      </div>
      
      <div class="section" *ngIf="selectedSection === 2">

        <div class="row">
            <div class="col-6 my-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Port</span>
                </label>

                <input class="form-control form-control-solid" type="number" [(ngModel)]="portOfDevice">
            </div>

            <div class="col-6 my-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Ip</span>
                </label>

                <input class="form-control form-control-solid" type="text" [(ngModel)]="ipOfDevice">
            </div>
            <div class="col-6 my-5">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz ModuleId</span>
                </label>

                <input  class="form-control form-control-solid" type="number" [(ngModel)]="moduleIdOfDevice">
            </div>
        
        </div>
      </div>
     
      <div class="section" *ngIf="selectedSection === 3">
        <div class="row">
            <div class="col-6 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Giriş/Çıkış</span>
                </label>
                <p-dropdown [options]="IO" [(ngModel)]="selectIOID" 
                    optionLabel="Ad" optionValue="ID"
                   
                    placeholder="Cihaz Yönünü Seçiniz">
                  
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.Ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
              
            
            </div>

            <div class="col-6 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Tanımı</span>
                </label>
                <p-dropdown [options]="type_device" [(ngModel)]="selectTypeOfDeviceID"
                    optionLabel="Ad" optionValue="ID"
                   
                    placeholder="Cihaz Tanımını Seçiniz">
               
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.Ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
        
           
            </div>

        </div>
      </div>
      <div class="section" *ngIf="selectedSection === 4">
        <div class="row py-2 px-4">

                            
            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>PC Adı</span>
                </label>

                <input  class="form-control form-control-solid" type="text" [(ngModel)]="nameOfPc">

              
            </div>

            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Kart Formatı</span>
                </label>
                <p-dropdown [options]="type_card" [(ngModel)]="selectFormatOfCardName"
                    optionLabel="Ad" [filter]="true" filterBy="Ad" optionLabel="Ad" optionValue="Ad"
                   
                    placeholder="Cihaz Modelini Seçiniz">
                  
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.Ad}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <p>Seçilen Cihaz Modelini: {{ selectFormatOfCard}}</p>
            </div>


            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Kapı Tipi</span>
                </label>
                <p-dropdown [options]="type_door" [(ngModel)]="selectDoorTypeID"
                    placeholder="Cihaz Kapı Tipini Seçiniz"
                   optionLabel="GateTypeName" optionValue="Id">
              
                    <ng-template let-item pTemplate="item">
                        <div class="item-item">
                            <div>{{item.GateTypeName}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <p>Seçilen Kapı Tipini: {{ selectDoorType }}</p>
           
            </div>

            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Kapı Bilgisi</span>
                </label>

                <input class="form-control form-control-solid" type="text" [(ngModel)]="infoOfDeviceDoor">

              
            </div>

    

        </div>
      </div>
      <div class="section" *ngIf="selectedSection === 5">
        <div class="current h-xl-500px scroll">
            <div class="w-100">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Ping Test Yapılsın mı?</span>
                </label>

                <input type="checkbox" [(ngModel)]="pingTest">
            </div>
            <div class="w-100">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Cihaz ByPass</span>
                </label>

                <input type="checkbox" [(ngModel)]="byPass">
            </div>
            <div class="w-100">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Cihaz Pasif Durumda Mı?</span>
                </label>

                <input type="checkbox" [(ngModel)]="IsDevicePassive">
            </div>
            <div class="w-100">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Cihaz Zaman Gönderilsin Mi?</span>
                </label>

                <input type="checkbox" [(ngModel)]="IsShowTimeOfDevice">
            </div>
        </div>
      </div>
      <div class="section" *ngIf="selectedSection === 6">
        <div class="row py-2 px-4">

                            
            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Adres</span>
                </label>

                <input class="form-control form-control-solid" type="text" [(ngModel)]="address">

              
            </div>
            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Kat No</span>
                </label>

                <input class="form-control form-control-solid" type="text" [(ngModel)]="numberOfFloor">

              
            </div>
            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span>Oda No</span>
                </label>

                <input class="form-control form-control-solid" type="text" [(ngModel)]="numberOfRoom">

              
            </div>


            <div class="col-12 my-2">
                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                    <span class="required">Lokasyon</span>
                </label>

    
                <input 
                       class="form-control form-control-solid" 
                       type="text" [(ngModel)]="lokasyon" 
                       [readonly]="true" 
                       (click)="openKoordinatModal()" 
                       value="Tıklayın"/> 


            </div>
           
          
           <div class="col-12 my-2">
                <button type="button" class="btn btn-lg btn-danger me-3" (click)="openKoordinatModal()">
                    Koordinat
                </button>
            </div> 
           
        </div>
      </div>
</ng-container>    -->   
<p-dialog
header="Cihaz Koordinat"
[modal]="true"
[(visible)]="koordinatModal" 
[style]="{ width: '75vw' }" 
[breakpoints]="{'2560px': '70vw', '992px': '90vw', '576px': '99vw' }"
[maximizable]="true" 
[baseZIndex]="10000">
<!-- <agm-map [latitude]="latitude" [longitude]="longitude"  [zoom]=19 (mapClick)="onChoseLocation($event)">
   <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
   <agm-map-type-control></agm-map-type-control>
</agm-map> -->
<div id="map" #mapContainer  style="height: 500px; width: 100%;"></div>
   <!-- <agm-map  [zoom]=19>
       <agm-marker></agm-marker>
       <agm-map-type-control></agm-map-type-control>
       </agm-map> -->
</p-dialog>