<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <ng-container
      *ngTemplateOutlet="renderMenu; context: { $implicit: menu }"
    ></ng-container>

    <ng-template #renderMenu let-items>
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="hasAccess(item)">
          <ng-container *appPermission="item.permissionCode">
            <div
              class="menu-item menu-accordion"
              *ngIf="item.children?.length; else leafLink"
              data-kt-menu-trigger="click"
              routerLinkActive="here"
            >
              <span class="menu-link">
                <span class="menu-icon" *ngIf="item.icon">
                  <span class="svg-icon svg-icon-2">
                    <i [class]="item.icon"></i>
                  </span>
                </span>

                <span class="menu-title text-gray-700" *ngIf="!item.translate">
                  {{ item.title }}
                </span>
                <span
                  class="menu-title"
                  *ngIf="item.translate"
                  [translate]="item.title"
                ></span>

                <span class="menu-arrow"></span>
              </span>

              <div
                class="menu-sub menu-sub-accordion"
                routerLinkActive="menu-active-bg"
              >
                <ng-container
                  *ngTemplateOutlet="
                    renderMenu;
                    context: { $implicit: item.children }
                  "
                ></ng-container>
              </div>
            </div>

            <ng-template #leafLink>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  [routerLink]="item.routerLink"
                  #rla="routerLinkActive"
                >
                  <span class="menu-bullet">
                    <span
                      class="bullet bullet-dot"
                      [ngClass]="rla.isActive ? 'bg-white' : 'bg-danger'"
                    ></span>
                  </span>

                  <span
                    class="menu-title"
                    *ngIf="item.translate"
                    [translate]="item.title"
                  ></span>
                  <span class="menu-title" *ngIf="!item.translate">
                    {{ item.title }}
                  </span>
                </a>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>
</div>
