i {
    font-size: 1.5rem;
}

.menu-title:focus {
    color: #f1416c;
}

.menu-bullet:focus {
    color: #f1416c;
}


::ng-deep [data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-title {
    color: #ffffff;
}

::ng-deep [data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
    transition: color 0.2s ease;
    background-color: #ed1b2494;
    color: var(--kt-primary);
}