<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{"FM_Nedenleri_Tanımları" | translate}}</h3>
                        <!-- <h4 class="card-label text-gray-200 fs-8">{{"Gerçekleşme_Kademesini_Belirleyebilirsiniz" | translate}}</h4> -->
                    </div>
                </div>

                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-8">
                            <div class="input-group h-100 w-50" style="flex: 1;">
                                <input
                                    class="form-control form-control-solid h-auto p-2 border-1 border-danger rounded-lg font-size-h6"
                                    [(ngModel)]="filterText"
                                    type="text" placeholder="{{'Arama' | translate}}">
    
                                <button class="search-icon">
                                    <div class="svg">
                                        <i class="fa-solid fa-magnifying-glass text-white fs-7"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-4 d-flex align-items-end justify-content-end gap-2 p-0">
                            <a class="btn btn-dark btn-sm custom-btn" (click)="openAction('add')">
                                <i class="fa-solid fa-plus"></i>
                                {{"Ekle" | translate}}
                            </a>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-row-dashed table-row-gray-200 align-middle gs-3 gy-2">
                                    <thead>
                                        <tr class="fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-light-danger rounded text-danger">
                                            <th class="text-center rounded-start">#</th>
                                            <th class="text-center fw-bolder me-1 cursor-pointer">{{"Neden_Açıklama" | translate}}</th>
                                            <th class="text-center fw-bolder me-1 cursor-pointer rounded-end">{{"İşlemler" | translate}}
                                            </th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr *ngFor="let item of overtimeCauses | searchFilter:filterText: ['ID', 'ad']"
                                            (click)="onRowClick(item)" 
                                            [ngClass]="{'selected-row': selectedRowId === item.ID}"
                                            class="fs-7">
                                            
                                            <td class="text-center">
                                                <a class="text-dark fw-bold text-hover-danger mb-1">{{item.ID}}</a>
                                            </td>
                            
                                            <td class="text-center">
                                                <a class="text-dark fw-bold text-hover-danger mb-1">{{item.ad}}</a>
                                            </td>
                            
                                            <td class="text-center">
                                                <a *ngIf="selectedRowId === item.ID" matTooltip="{{'Güncelle' | translate}}" (click)="openAction('update', item)"
                                                    class="btn btn-icon btn-light-dark btn-sm me-3">
                                                    <i class="fa-solid fa-pen-to-square fs-4"></i>
                                                </a>
                                                <a *ngIf="selectedRowId === item.ID" matTooltip="{{'Kaldır' | translate}}" (click)="removeCause(item)"
                                                    class="btn btn-icon btn-light-dark btn-sm me-3">
                                                    <i class="fa-solid fa-xmark fs-4"></i>
                                                </a>
                                            </td>
                                              
                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<p-dialog header="{{'İşlem' | translate}}" [(visible)]="display" [position]="'top'" [modal]="true"
    [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
    (onHide)="closeAction()">

    <div class="fv-row mb-10 fv-plugins-icon-container">
        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
            <span class="required">{{"Neden" | translate}}</span>
        </label>
        
        <input type="text" class="form-control form-control-lg form-control-solid" [(ngModel)]="cause" >

        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <ng-template pTemplate="footer">
        <a class="btn btn-sm btn-danger mx-1" (click)="closeAction()">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'İptal' | translate}}
        </a>

        <a class="btn btn-sm btn-danger mx-1" (click)="setCause()">
            <i class="fa-solid fa-floppy-disk fs-7"></i>
            {{'Gönder' | translate}}
        </a>
    </ng-template>
</p-dialog>