<div class="container py-4">
    <div class="row">
        <div class="col-md-4">

            <div class="table-responsive">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="tourNameInput" (input)="filterItems()" style="border-radius: 0 !important;">
                    <button class="btn text-white" type="button" id="button-addon2" (click)="setGuardTour()" style="background: linear-gradient(112.14deg, var(--red-400) 0%, var(--red-700) 100%);border-radius: 0 !important;">Ekle</button>
                </div>
                <table class="table table-hover border table-rounded table-row-solid table-row-gray-400 align-middle gs-3 gy-4"> 
                    <thead>
                        <tr  style="background: linear-gradient(112.14deg, var(--red-400) 0%, var(--red-700) 100%);font-weight: bold;">
                            <th style="width: 75%;">
                                Ad
                            </th>
                            <th style="width: 25%;text-align:right;color:white">
                                işlem
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of filteredItems" [ngClass]="{'selected-row': selectedTour?.ad === item.ad}">
                            <td (click)="getItem(item);"
                             
                            style="width: 75%; cursor: pointer;font-weight: bold;">{{ item?.ad }}</td>
                            <td style="width: 25%;text-align:right;" (click)="deleteGuardTour(item);">
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                    <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
          
                    <div *ngIf="this.targetList.length > 0" class="table-responsive">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="tourNameInput" (input)="filterItems()" style="border-radius: 0 !important;">
                        </div>
                        <table class="table table-hover border table-rounded table-row-solid table-row-gray-400 align-middle gs-3 gy-4"> 
                            <thead>
                                <tr  style="background: linear-gradient(112.14deg, var(--red-400) 0%, var(--red-700) 100%);font-weight: bold;">
                                    <th colspan="2">
                                        Lütfen Süre Eklemek İstediğiniz İstasyon a Tıklayın
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of targetList">
                                    <td style="width: 75%; cursor: pointer;font-weight: bold;">{{item.kaynakad}}</td>
                                    <td style="width: 25%;text-align:right;" (click)="deleteTourStation(item)">
                                        <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                            <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                    <i class="bi bi-arrow-left-circle fs-2 text-danger"></i>
                </div> -->

                <div class="col-md-6">


                  <div class="table-responsive">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="tourNameInput" (input)="filterItems()" style="border-radius: 0 !important;">
                    </div>            
                    <table class="table table-hover border table-rounded table-row-solid table-row-gray-400 align-middle gs-3 gy-4"> 
                        <thead>
                            <tr style="background: linear-gradient(112.14deg, var(--red-400) 0%, var(--red-700) 100%);font-weight: bold;">
                                <th style="width: 25%;">
                                    işlem
                                </th>
                                <th style="width: 75%;text-align: right;color:white">
                                    İstasyon Adı
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allStation">
                                <td style="width: 25%;"  (click)="addTourStation(item)">
                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                            
                                    </a>
                                </td>
                                <td style="width: 75%;text-align: right;font-weight: bold;">{{ item?.kaynakad }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
            
            
           

        </div>
    </div>
</div>
