<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-4">

            <div class="table-responsive">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="tourNameInput" (input)="filterTours()" style="border-radius: 0 !important;">

                    <button type="button" id="button-addon2" (click)="setGuardTourModal()" class="btn btn-sm"  style="background: red;font-weight: bold;color:white">Ekle</button>
                </div>
                <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle gs-3 gy-4"> 
                    <thead>
                        <tr  style="background: red;font-weight: bold;">

                            <th style="width: 75%;color:white">
                                Ad
                            </th>
                            <th style="width: 25%;text-align:right;color:white" colspan="2">
                                işlem
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of filteredTours" [ngClass]="{'selected-row': selectedTour?.ad === item.ad}">
                            <td (click)="getItem(item);"
                             
                            style="width: 75%; cursor: pointer;font-weight: bold;">{{ item?.ad }}</td>
                            <!-- <td style="width: 25%;text-align:right;">
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                    <i class="fa-solid fa-pen p-0 d-flex align-item-center justify-content-center"></i>
                                </a>
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2" (click)="deleteGuardTour(item);">
                                    <i class="fa-solid fa-trash p-0 d-flex align-item-center justify-content-center"></i>
                                </a>

                                
                            </td> -->
                            <td>

                             
                                <!-- <a class="btn btn-sm py-1 px-2" style="background:red;font-weight: bold;color:white">
                                    <i class="fa-solid fa-pen p-0" style="background:red;font-weight: bold;color:white" (click)="updateTourModal(item)"></i>
                                </a> -->
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1" (click)="updateTourModal(item)">
                                    <i class="fa-solid fa-pen p-0"></i>
                                </a>
                            </td>
                            <td>
                                <!-- <a class="btn btn-sm py-1 px-2 text-white" style="background:red;font-weight: bold;color:white" (click)="deleteGuardTourModal(item)">
                                    <i class="fa-solid fa-trash p-0" style="background:red;font-weight: bold;color:white"></i>
                                </a> -->
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1" (click)="deleteGuardTourModal(item)">
                                    <i class="fa-solid fa-trash p-0"></i>
                                </a>
                            </td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
          
                    <div *ngIf="this.targetList.length > 0" class="table-responsive">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="targetNameInput" (input)="filterTargets()" style="border-radius: 0 !important;">
                        </div>
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-red-400 align-middle gs-3 gy-4"> 
                            <thead>
                                <tr  style="background: red;font-weight: bold;color:white">
                                    <th colspan="2">
                                        Lütfen Süre Eklemek İstediğiniz İstasyon a Tıklayın
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of filteredTargets">
                                    <td style="width: 75%; cursor: pointer;font-weight: bold;">{{item.kaynakad}}</td>
                                    <td style="width: 25%;text-align:right;" (click)="deleteTourStation(item)">
                                        <a class="btn btn-light-danger btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                            <i class="fa-solid fa-minus p-0 d-flex align-item-center justify-content-center"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                    <i class="bi bi-arrow-left-circle fs-2 text-danger"></i>
                </div> -->

                <div class="col-md-6">


                  <div class="table-responsive">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="stationNameInput" (input)="filterStation()" style="border-radius: 0 !important;">
                    </div>            
                    <table class="table table-hover border table-rounded table-row-solid table-striped table-row-red-400 align-middle gs-3 gy-4"> 
                        <thead>
                            <tr  style="background: red;font-weight: bold;color:white">
                                <th style="width: 25%; color:white">
                                    işlem
                                </th>
                                <th style="width: 75%;text-align: right;color:white">
                                    İstasyon Adı
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredStations">
                                <td style="width: 25%;"  (click)="addTourStation(item)">
                                    <a class="btn btn-light-success btn-sm py-1 px-2 my-1 d-flex justify-content-center align-items-center gap-2">
                                        <i class="fa-solid fa-plus p-0 d-flex align-item-center justify-content-center"></i>
                            
                                    </a>
                                </td>
                                <td style="width: 75%;text-align: right;font-weight: bold;">{{ item?.kaynakad }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
            
            
           

        </div>
    </div>
</div>



<p-dialog
        [(visible)]="_deleteTourModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
        <h1>Silmek istediğinize emin misiniz? </h1>
        
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_deleteTourModal = false;">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="deleteGouardTour()">Sil</button>
          </div>
        
        </div>

</p-dialog>


<p-dialog
        [(visible)]="_updateTourModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
       <input type="text" [(ngModel)]="updateTourName" class="form-control">
        
       <label for="">Tipi : </label>

       <select class="form-select form-select-sm form-select-solid mb-7" [(ngModel)]="selectTypeId">
           <option class="form-select"  value="{{item?.ID}}" *ngFor="let item of tourType">{{item?.Ad}}</option>
       </select>

       <ng-container *ngIf="selectTypeId == 1">
           <label for="">Zorunlu : </label>
           <input class="m-5"  type="checkbox" (change)="zorunluCheckbox($event)" />
       </ng-container>
       
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_updateTourModal = false;">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="updateTour()">Güncelle</button>
          </div>
        
        </div>

</p-dialog>



<p-dialog
        [(visible)]="_addTourModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
       <input type="text" [(ngModel)]="tourNameInput" class="form-control">
        

        <label for="">Tipi : </label>

        <select class="form-select form-select-sm form-select-solid mb-7" [(ngModel)]="selectTypeId">
            <option class="form-select"  value="{{item?.ID}}" *ngFor="let item of tourType">{{item?.Ad}}</option>
        </select>

        <ng-container *ngIf="selectTypeId == 1">
            <label for="">Zorunlu : </label>
            <input class="m-5"  type="checkbox" (change)="zorunluCheckbox($event)" />
        </ng-container>
       

        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_addTourModal = false;">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="setGuardTour()">Ekle</button>
          </div>
        
        </div>

</p-dialog>