<p-dialog header="{{'Talep_Süreci' | translate}}" [(visible)]="displayRequestProcess" [modal]="true"
    [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false"
    (onHide)="hideRequestProcess()">

    <div class="card">
        <p-timeline [value]="requestProcess" align="alternate" styleClass="customized-timeline">
            <ng-template pTemplate="marker" let-event>
                <span class="custom-marker p-shadow-2 bg-danger">

                    <ng-container *ngIf="event.islem == 'Eklendi'">
                        <i class="fa-solid fa-plus text-white"></i>
                    </ng-container>


                    <ng-container *ngIf="event.islem == 'Reddedildi'">
                        <i class="fa-solid fa-xmark text-white"></i>
                    </ng-container>

                    <ng-container *ngIf="event.islem == 'Onay Bekleniyor'">
                        <i class="fa-solid fa-clock-rotate-left text-white"></i>
                    </ng-container>

                    <ng-container *ngIf="event.islem == 'Onaylandı'">
                        <i class="fa-solid fa-check text-white"></i>
                    </ng-container>


                </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
                <div class="ms-5 ms-sm-0 hover-elevate-up">
                    <div class="card shadow-lg border-0">
                        <div
                            class="card-header bg-white border-0 pb-2 d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                            <span class="badge text-bg-{{ getBadgeVariant(event.islem) }}">{{ event.islem }}</span>
                            <small class="text-muted mt-2 mt-sm-0">{{ formatDate(event.zaman) }}</small>
                        </div>
                        <div class="card-body pt-0">
                            <h5 class="card-title text-dark">{{ event.adsoyad }}</h5>
                            <div *ngIf="event.islemaciklama?.trim()"
                                class="bg-white border-start border-4 ps-3 py-2 border-primary-subtle rounded">
                                <p class="mb-0 text-gray-500 small">{{ event.islemaciklama }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-timeline>
    </div>

    <ng-template pTemplate="footer">
        <a (click)="hideRequestProcess()" class="btn btn-sm btn-danger mx-1">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'Kapat' | translate}}
        </a>
    </ng-template>
</p-dialog>