<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{cardTitle}}</h3>
                        <h4 class="card-label text-gray-200 fs-8">{{"Bilgilerini_Buradan_Belirleyebilirsiniz" | translate}}</h4>
                    </div>
                </div>

                <!-- <ng-container *ngIf="!loading">
                    <div class="card-body">
                        <div class="col-12 pt-10">
                            <div class="loader-container">
                                <div id="splash-screen" class="splash-screen"
                                    style="position: inherit; color:transparent; background-color: transparent;">
                                    <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo"
                                        style="margin-left: 0; height: 0;" />
                                    <mat-spinner></mat-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container> -->

                <ng-container *ngIf="loading">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group py-3" style="flex: 1;">
                                    <input class="form-control form-control-solid p-2 border-1 border-dark rounded-lg font-size-h6"
                                        [(ngModel)]="filterText" style="height: 30px;"
                                        type="text" placeholder="{{'Arama' | translate}}">
    
                                    <button class="search-icon">
                                        <div class="svg">
                                            <i class="fa-solid fa-magnifying-glass text-white fs-7"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
    
                            <div class="col-8 d-flex justify-content-end">
                                <div class="p-2">
                                    <a class="btn btn-dark btn-sm hover-elevate-up" (click)="openDialog('i')">
                                        <i class="fa-solid fa-plus"></i>
                                        {{"Ekle" | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row my-4">
                            <div class="col-12">
                                <div class="table-responsive h-400px scroll">
                                    <!-- <table class="table table-hover border table-striped table-rounded table-row-dashed table-row-gray-400 align-middle gs-4 gy-2"> -->
                                    <table class="table table-hover border table-rounded table-row-dashed align-middle gs-4 gy-2">
                                        <thead class="sticky-top">
                                            <tr class="fs-6 fw-bold border-bottom-0 text-uppercase rounded text-gray-600 bg-secondary">
                                                <th class="rounded-start" style="width: 5%;">{{"Id" | translate}}</th>
                                                <th class="fw-bolder me-1 cursor-pointer" style="width: 85%;">{{"Ad" | translate}}</th>
                                                <th class="rounded-end text-center" style="width: 10%;">{{"#" | translate}}</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <ng-container *ngFor="let item of organizationList | searchFilter:filterText: ['ID', 'ad']">
                                                <tr class="cursor-pointer fs-7">
                                                    <td>
                                                        <span class="mb-1">{{item.ID}}</span>
                                                    </td>

                                                    <td>
                                                        <span class="mb-1 fw-bolder">{{item.ad}}</span>
                                                    </td>

                                                    <td>
                                                        <a pTooltip="{{'Kaldır' | translate}}" class="btn btn-light btn-sm py-1 px-2 mx-2" (click)="delete(item)">
                                                            <i class="fa-solid fa-trash p-0 text-gray-900"></i>
                                                        </a>

                                                        <a pTooltip="{{'Güncelle' | translate}}" class="btn btn-light btn-sm py-1 px-2 mx-2" (click)="openDialog('u', item)">
                                                            <i class="fa-solid fa-pen-to-square p-0 text-gray-900"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>



<p-dialog [header]="header" [(visible)]="display" [position]="'top'" [modal]="true"
    [style]="{width: '50vw'}" [baseZIndex]="-40" [draggable]="false" [resizable]="false"
    (onHide)="closeAction()">

    <div class="fv-row my-5 fv-plugins-icon-container">
        <label class="d-flex align-items-center fs-7 fw-semibold mb-2">
            <span class="required">{{"Ad" | translate}}</span>
        </label>
        
        <input type="text" class="form-control form-control-sm form-control-solid" [(ngModel)]="organizationName" >
    </div>

    <div class="fv-row my-5 fv-plugins-icon-container">
        <label class="d-flex align-items-center fs-7 fw-semibold mb-2">
            <span>{{"İkon" | translate}}</span>
            <div class="fv-plugins-message-container mt-0 mx-2">
                <div class="fv-help-block fs-8 text-muted text-decoration-underline">
                    <span role="alert">
                        (Genel bakış ekranında gösterilecek olan ikonunuzu seçiniz)
                    </span>
                </div>
            </div>
        </label>
        
    
        <div class="row d-flex justify-content-between gap-2">
            
            <div class="col-2" *ngFor="let item of iconList">
                <input
                    type="radio"
                    class="btn-check"
                    name="iconGroup"
                    [value]="item.id"
                    [id]="'icon-' + item.id"
                    [(ngModel)]="icon"
                />
                <label
                    class="btn btn-outline btn-outline-dashed btn-active-light-danger p-7 d-flex align-items-center justify-content-center"
                    [for]="'icon-' + item.id"
                >
                    <i [class]="item.icon" class="fs-2x"></i>
                </label>
            </div>
            
            
        </div>
        
    </div>
    

    <ng-template pTemplate="footer">
        <a class="btn btn-sm btn-danger mx-1" (click)="closeAction()">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'İptal' | translate}}
        </a>

        <a class="btn btn-sm btn-danger mx-1" (click)="type == 'i' ? add() : update()">
            <i class="fa-solid fa-floppy-disk fs-7"></i>
            {{'Gönder' | translate}}
        </a>
    </ng-template>
</p-dialog>