<div class="container py-0 px-5"></div>
    <div class="container">
        <div class="row">
            <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid my-10">

                <div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
                    <div class="stepper-nav d-flex justify-content-center">
                        <img src="../../../../../assets/media/illustrations/dozzy-1/1.png" width="100%" alt="">
                    </div>
                </div>

                <app-form-stepper class="d-flex align-items-center" [stepperFields]="stepperFields"
                [isFromAttendance]="isFromAttendance"></app-form-stepper>

                <div class="row w-xl-700px">
                    <div class="col-12">
                        <form class="form fv-plugins-bootstrap5 fv-plugins-framework mb-10"
                            [formGroup]="newDeviceForm">

                            <ng-container *ngIf="currentStep$.value == 1">
                                <div class="current">
                                    <div class="w-100">
                                        <div class="row">
                                            <ng-container *ngIf="currentStep$.value == 1 && isFromAttendance">
                                                <div class="col-12">
                                                    <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                        <span class="">Seçilen</span>
                                                    </label>


                                                    <div class="d-flex justify-content-center align-items-center border border-3 rounded p-5">
                                                        <span class="badge badge-circle badge-danger mx-5">
                                                            <i class="fa-solid fa-info text-white"></i>
                                                        </span>
                                                        <span class="text-gray-500 pt-1 fw-semibold fs-6"></span>
                                                    </div>
                                                </div>  
                                            </ng-container>

                                            <div class="col-12 my-2">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz Adı</span>
                                                </label>

                                                <input formControlName="cihazAdi" class="form-control form-control-solid" type="text" [(ngModel)]="nameOfDevice">

                                              
                                            </div>

                                            <div class="col-12 my-2">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz Modeli</span>
                                                </label>
                                                <p-dropdown [options]="model_device" [(ngModel)]="selectModelDevice"
                                                    optionLabel="Ad" [filter]="true" filterBy="Ad"
                                                   
                                                    placeholder="Cihaz Modelini Seçiniz"
                                                    formControlName="model">
                                              
                                                    <ng-template let-item pTemplate="item">
                                                        <div class="item-item">
                                                            <div>{{item.Ad}}</div>
                                                        </div>
                                                    </ng-template>
                                                </p-dropdown>
                                                <p>Seçilen Cihaz Modeli: {{ selectModelDevice }}</p>
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="currentStep$.value == 2">
                                <div class="current">
                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-12 my-5">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz Port</span>
                                                </label>

                                                <input formControlName="port" class="form-control form-control-solid" type="text" [(ngModel)]="portOfDevice">
                                            </div>

                                            <div class="col-12 my-5">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz Ip</span>
                                                </label>

                                                <input formControlName="ip" class="form-control form-control-solid" type="text" [(ngModel)]="ipOfDevice">
                                            </div>
                                            <div class="col-12 my-5">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz ModuleId</span>
                                                </label>

                                                <input formControlName="moduleid" class="form-control form-control-solid" type="text" [(ngModel)]="moduleIdOfDevice">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </ng-container>

                            <ng-container *ngIf="currentStep$.value == 3">
                                <div class="current">
                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-12 my-2">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Giriş/Çıkış</span>
                                                </label>
                                                <p-dropdown [options]="IO" [(ngModel)]="selectIO"
                                                    optionLabel="Ad" 
                                                   
                                                    placeholder="Cihaz Yönünü Seçiniz"
                                                    formControlName="girisCıkıs">
                                                  
                                                    <ng-template let-item pTemplate="item">
                                                        <div class="item-item">
                                                            <div>{{item.Ad}}</div>
                                                        </div>
                                                    </ng-template>
                                                </p-dropdown>
                                              
                                            
                                            </div>

                                            <div class="col-12 my-2">
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">Cihaz Tanımı</span>
                                                </label>
                                                <p-dropdown [options]="type_device" [(ngModel)]="selectTypeOfDevice"
                                                    optionLabel="Ad"
                                                   
                                                    placeholder="Cihaz Tanımını Seçiniz"
                                                    formControlName="cihazTanimi">
                                               
                                                    <ng-template let-item pTemplate="item">
                                                        <div class="item-item">
                                                            <div>{{item.Ad}}</div>
                                                        </div>
                                                    </ng-template>
                                                </p-dropdown>
                                        
                                                <!-- <textarea class="form-control form-control-solid" rows="3"
                                                    formControlName="aciklama"
                                                    placeholder="'Açıklama_Giriniz'"
                                                    style="height: 12px;">
                                                </textarea> -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="currentStep$.value == 4">
                            
                                    <div class="row py-2 px-4">

                            
                                        <div class="col-12 my-2">
                                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                <span class="required">PC Adı</span>
                                            </label>

                                            <input formControlName="pcAdi" class="form-control form-control-solid" type="text" [(ngModel)]="nameOfPc">

                                          
                                        </div>

                                        <div class="col-12 my-2">
                                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                <span class="required">Cihaz Kart Formatı</span>
                                            </label>
                                            <p-dropdown [options]="type_card" [(ngModel)]="selectFormatOfCard"
                                                optionLabel="Ad" [filter]="true" filterBy="Ad"
                                               
                                                placeholder="Cihaz Modelini Seçiniz"
                                                formControlName="kartFormat">
                                              
                                                <ng-template let-item pTemplate="item">
                                                    <div class="item-item">
                                                        <div>{{item.Ad}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                         
                                        </div>

                                        <div class="col-12 my-2">
                                            <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                <span class="required">Cihaz Kapı Bilgisi</span>
                                            </label>

                                            <input formControlName="kapiBilgi" class="form-control form-control-solid" type="text" [(ngModel)]="infoOfDeviceDoor">

                                          
                                        </div>

                                    </div>

                            
                            </ng-container>

                            <ng-container *ngIf="currentStep$.value == 5">
                                <div class="current h-xl-500px scroll">
                                    <div class="w-100">
                                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                            <span class="required">Ping Test Yapılsın mı?</span>
                                        </label>

                                        <input formControlName="pingTest"  type="checkbox" [(ngModel)]="pingTest">
                                    </div>
                                    <div class="w-100">
                                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                            <span class="required">Cihaz ByPass</span>
                                        </label>

                                        <input formControlName="byPass"  type="checkbox" [(ngModel)]="byPass">
                                    </div>
                                    <div class="w-100">
                                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                            <span class="required">Cihaz Pasif Durumda Mı?</span>
                                        </label>

                                        <input formControlName="aktifPasif"  type="checkbox" [(ngModel)]="IsDevicePassive">
                                    </div>
                                    <div class="w-100">
                                        <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                            <span class="required">Cihaz Zaman Gönderilsin Mi?</span>
                                        </label>

                                        <input formControlName="showTime"  type="checkbox" [(ngModel)]="IsShowTimeOfDevice">
                                    </div>
                                </div>
                            </ng-container>


                            <ng-container *ngIf="currentStep$.value == 6">
                                <h1>Lokasyon</h1>
                            </ng-container>
                        </form>
                    </div>

                    <div class="col-12 d-flex align-items-end justify-content-center justify-content-md-end">
                        <div class="d-flex flex-stack pt-0">
                            <div class="mr-2">
                                <ng-container *ngIf=" 7 > currentStep$.value && currentStep$.value > 1">
                                    <button type="button" class="btn btn-lg btn-light-danger me-3"
                                        (click)="prevStep()">
                                        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
                                            class="svg-icon svg-icon-4 me-1"></span>
                                            {{"Geri" | translate}}
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="currentStep$.value == formsCount">
                                    <button mat-dialog-close type="button" class="btn btn-lg btn-light-danger me-3">
                                        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
                                            class="svg-icon svg-icon-4 me-1"></span>
                                            {{"Kapat" | translate}}
                                    </button>
                                </ng-container>
                            </div>

                            <ng-container *ngIf="currentStep$.value !== formsCount">
                                <div>
                                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                                        <button type="button" class="btn btn-lg btn-danger me-3" (click)="nextStep()">
                                            <span class="indicator-label">
                                                {{ "İleri" | translate }} {{ " " }}
                                                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg' "
                                                    class="svg-icon svg-icon-3 ms-2 me-0"></span>
                                                <ng-container *ngIf="currentStep$.value === formsCount - 1">
                                                    {{ "Gönder" | translate }}
                                                </ng-container>
                                            </span>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="currentStep$.value === formsCount - 1">
                                        <button type="button" class="btn btn-lg btn-danger me-3" (click)="closedFormDialog()">
                                            <span class="indicator-label">
                                                {{ "Kapat" | translate }}
                                            </span>
                                        </button>
                                        
                                        <button type="button" class="btn btn-lg btn-danger me-3">
                                            <span class="indicator-label">
                                                {{ "Gönder" | translate }}
                                            </span>
                                        </button>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
