<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{"Özel Kod Görüntüleme" | translate}}</h3>
                        <h4 class="card-label text-gray-200 fs-8">{{"Ziyaretçi Özel Kodlarını Buradan Ziyaret Tiplerine Atayabilirsiniz" | translate}}</h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row d-flex align-items-strech">
                        <div class="col-3">
                            <!-- <div class="input-group py-3" style="flex: 1;">
                                <input
                                    class="form-control form-control-solid p-2 border-1 border-dark rounded-lg font-size-h6"
                                    [(ngModel)]="filterText" type="text" placeholder="{{'Arama' | translate}}"
                                    style="height: 30px;">

                                <button class="search-icon">
                                    <div class="svg">
                                        <i class="fa-solid fa-magnifying-glass text-white fs-7"></i>
                                    </div>
                                </button>
                            </div> -->
                            <p-floatlabel variant="on" class="mt-2">
                                <p-iconfield>
                                    <p-inputicon class="pi pi-search" />
                                    <input pInputText id="over_label" [(ngModel)]="filterText" autocomplete="off" />
                                </p-iconfield>
                                <label for="over_label">Arama..</label>
                            </p-floatlabel>

                            <div class="h-550px scroll">
                                <ng-container *ngFor="let item of visitTypes | searchFilter:filterText: ['ad']">
                                    <div class="d-flex align-items-center my-4 process-item rounded cursor-pointer"
                                        [ngClass]="{'bg-dark': selected?.ID == item.ID}"
                                        (click)="selectDeviceGroup(item)">
                                        <span class="bullet bullet-vertical h-20px bg-dark me-5"></span>
                                        <div class="d-flex flex-column">
                                            <a class="fs-9 fw-bolder"
                                                [ngClass]="{'text-white': selected?.ID == item.ID, 'text-gray-900':selected?.ID != item.ID}">
                                                {{item.ad}}
                                            </a>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                        </div>

                        <div class="col-9">
                            <div class="row">
                                <div class="col-12 py-3">
                                    <span class="fs-2 fw-bold" style="text-decoration: underline;">
                                        {{selected?.ad}}
                                    </span>
                                </div>

                                <div class="col-6 ">
                                    <div class="table-responsive h-550px scroll">
                                        <table
                                            class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4">
                                            <thead class="sticky-top">
                                                <tr class="fs-8 fw-bold text-white border-bottom-0 text-uppercase bg-light rounded text-gray-600">
                                                    <th class=" fw-bolder me-1 cursor-pointer rounded-start" style="width: 30%;">
                                                        {{"Ekli Özel Kod" | translate}}
                                                    </th>
                                                    <th class=" fw-bolder me-1 cursor-pointer" style="width: 50%;">
                                                        {{"Değer" | translate}}
                                                    </th>
                                                    <th class=" fw-bolder me-1 cursor-pointer rounded-end" style="width: 20%;">
                                                        {{"İşlem" | translate}}
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let item of relations " class="cursor-pointer fs-8">
                                                    <ng-container *ngIf="item.dahil == 1">
                                                        <td>
                                                            <span class="mb-1">{{ item?.kaynakad }}</span>
                                                        </td>

                                                        <td>
                                                            <span class="mb-1">{{ item?.deger }}</span>
                                                        </td>

                                                        <td>
                                                            <a class="btn btn-warning btn-sm py-1 px-2"
                                                                (click)="relationStateChange(item, 'd')">
                                                                <i class="fa-solid fa-minus p-0"></i>
                                                            </a>
                                                        </td>
                                                    </ng-container>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="table-responsive h-550px scroll">
                                        <table
                                            class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4">
                                            <thead class="sticky-top">
                                                <tr
                                                    class="fs-8 fw-bold text-white border-bottom-0 text-uppercase bg-light rounded text-gray-600">
                                                    <th class=" rounded-start" style="width: 20%;">{{"İşlem" | translate}}</th>
                                                    <th class=" fw-bolder me-1 cursor-pointer" style="width: 50%;">{{"Eklenebilir Özel Kod" | translate}}</th>
                                                    <th class=" fw-bolder me-1 cursor-pointer rounded-end" style="width: 30%;">{{"Değer" | translate}}</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let item of customCodes " class="cursor-pointer fs-8">
                                                    <td>
                                                        <a class="btn btn-primary btn-sm py-1 px-2" (click)="relationStateChange(item, 'i')">
                                                            <i class="fa-solid fa-plus p-0"></i>
                                                        </a>
                                                    </td>
                                                
                                                    <td>
                                                        <span class="mb-1">{{ item?.Ad }}</span>
                                                    </td>
                                                
                                                    <td>
                                                        <span class="mb-1">{{ item?.deger }}</span>
                                                    </td>
                                                
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>