<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{"Mazeret_Kartı_İzin_Atama" | translate}}</h3>
                        <h4 class="card-label text-gray-200 fs-8">{{"Mazeret_Kartı_İzin_Atama_Alt_Başlık" | translate}}
                        </h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-9 my-5">
                            <div class="d-flex flex-stack">
                                <div class="me-5">
                                    <label class="fs-6 fw-semibold form-label">{{"Mazeret_Kartına_İzin_Atanabilsin_Mi" | translate}}</label>
                                    <div class="fs-7 fw-semibold text-muted">{{"Mazeret_Kartı_İzin_Atama_Alt_Başlık" | translate}}</div>
                                </div>

                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="state">
                                    <span class="form-check-label fw-semibold text-muted">
                                        {{ state ? ("Aktif" | translate) : ("Pasif" | translate) }}
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="col-3 d-flex align-items-end justify-content-end my-5">
                            <a class="btn btn-dark btn-sm hover-elevate-up" (click)="save()">
                                <i class="fa-solid fa-floppy-disk"></i>
                                {{"Kaydet" | translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>