<p-dialog [header]="header" [(visible)]="display" position="center" [modal]="true" [maximizable]="true"
    [breakpoints]="{ '2560px': '90vw', '992px': '90vw', '576px': '99vw' }" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" (onHide)="close()" [styleClass]="'lightgray'">

    <div class="container-fluid" *ngIf="!loading">
        <div class="row">
            <div class="col-12">
                <p-carousel [value]="tabs" [numVisible]="5" [numScroll]="4" [circular]="true" >
                    <ng-template let-tab pTemplate="item">
                        <li class="nav-item px-2" role="presentation" style="list-style: none;" *ngIf="tab.action.includes(operationType)">
                            <a class="border border-2 rounded nav-link btn btn-active-secondary btn-color-gray-600 btn-active-color-gray-800 fs-6 fw-bold py-2" [ngClass]="{'active': selectedIndex == tab.id}"
                                (click)="changeTabMenu(tab.id)" role="tab">
                                {{tab.label}}
                            </a>
                        </li>
                    </ng-template>
                </p-carousel>
            
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-column flex-lg-row">
                
                <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">

                    <div class="card mb-5 mb-xl-8">
                        <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                            <div class="card-title">
                                <h3 class="card-label text-white">{{"Özet_Bilgiler" | translate}}</h3>
                            </div>
                        </div>
                        
                        <div class="card-body py-2 px-5">
                            
                            <div class="d-flex flex-center flex-column py-1">
                                <div class="profile-picture-container position-relative d-inline-block">
                                    <!-- Kullanıcı Fotoğrafı -->
                                    <!-- <img src="{{imageUrl}}?sicilid={{selectedRegister?.Id}}" alt="Profile" class="profile-picture rounded-circle"> -->

                                    <ng-container *ngIf="operationType == 'u'">
                                        <img [src]="imageUrl + '?sicilid=' + selectedRegister?.Id + '&t=' + timestamp" alt="Profile" class="profile-picture rounded-circle">
                                    </ng-container>

                                    <ng-container *ngIf="operationType == 'i'">
                                        <img src="../../../../../assets/media/avatars/blank.png" alt="Profile" class="profile-picture rounded-circle">
                                    </ng-container>
                                     
                                
                                    <!-- Fotoğraf Yükleme İkonu (Sağ Üst) -->
                                    <label *ngIf="operationType == 'u' && registerDetail[0]?.fotoid == '0'" class="btn btn-icon upload-btn position-absolute top-0 end-0 bg-white bg-hover-danger text-hover-white border rounded-circle shadow-sm" >
                                        <i class="bi bi-pencil"></i>
                                        <input type="file" class="d-none" (change)="addRegisterPhoto($event)" multiple="false" accept="image/*">
                                    </label>
                                
                                    <!-- Fotoğraf Silme İkonu (Sağ Alt) -->
                                    <button *ngIf="operationType == 'u' && registerDetail[0]?.fotoid != '0'" class="btn btn-icon remove-btn position-absolute bottom-0 end-0 bg-white bg-hover-danger text-hover-white border rounded-circle shadow-sm" (click)="remove()">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                                
                                <!-- Desteklenen Dosya Türleri -->
                                <p *ngIf="operationType == 'u'" class="text-muted small mt-2">İzin verilen dosya türleri: png, jpg, jpeg.</p>
                                

                                <a class="fs-3 text-gray-800 text-hover-danger fw-bold mb-3">
                                    {{ name }} {{ surname }}
                                </a>

                                <div class="mb-5" *ngIf="department">
                                    <div class="badge badge-lg badge-light-danger d-inline">{{department}}</div>
                                </div>

                                <div class="fw-bold mb-3">
                                    {{"Sayısal_Bilgiler" | translate}}
                                </div>

                                <div class="d-flex flex-wrap flex-center">
                                    <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                                        <div class="fs-4 fw-bold text-gray-700">
                                            <span class="w-75px">{{ seniority }}</span>
                                        </div>
                                        <div class="fw-semibold text-muted">{{"Kıdem" | translate}}</div>
                                    </div>

                                    <div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">
                                        <div class="fs-4 fw-bold text-gray-700">
                                            <span class="w-50px">{{ left }}</span>
                                        </div>
                                        <div class="fw-semibold text-muted">{{"İzin_Hakkı" | translate}}</div>
                                    </div>

                                    <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                                        <div class="fs-4 fw-bold text-gray-700">
                                            <span class="w-50px">{{ used }}</span>
                                        </div>
                                        <div class="fw-semibold text-muted">{{"Kullanılan" | translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bold rotate collapsible" (click)="toggleDetails()">
                                    {{"Detaylar" | translate}}
                                    <span class="ms-2">
                                        <i class="fas" [ngClass]="isDetailsOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                                    </span>
                                </div>
                            
                                <span>
                                    <a class="btn btn-sm btn-light-danger" (click)="edit()">
                                        {{isEdit ? "Vazgeç" : "Düzenle" | translate}}
                                    </a>
                                </span>
                            </div>

                            
                            <div class="separator"></div>
                            
                            <div
                                id="kt_user_view_details"
                                class="details-content"
                                [ngClass]="{ 'open': isDetailsOpen }">
                                <div class="pb-5 fs-6">
                                    <div class="fw-bold mt-5">ID</div>
                                    <div class="text-gray-600">{{registerId || '000'}}</div>
                                    <div class="fw-bold mt-5">{{"Doğum_Tarihi" | translate}}</div>
                                    <div class="text-gray-600" *ngIf="!isEdit">
                                        <a class="text-gray-600 text-hover-danger">{{birthday == "" ? "dd-mm-yyyy" : birthday}}</a>
                                    </div>
                                    <div *ngIf="isEdit">
                                        <!-- <input type="date" class="form-control form-control-sm form-control-solid" [(ngModel)]="birthday"> -->
                                        <p-datepicker [(ngModel)]="birthday" [readonlyInput]="true" dateFormat="yy-mm-dd" dataType="string" appendTo="body" placeholder="Tarih Seçiniz"/>
                                    </div>
                                    <div class="fw-bold mt-5">{{"Giriş_Tarihi" | translate}}</div>
                                    <div class="text-gray-600" *ngIf="!isEdit">{{employmentDate == "" ? "dd-mm-yyyy" : employmentDate}}</div>
                                    <div *ngIf="isEdit">
                                        <!-- <input type="date" class="form-control form-control-sm form-control-solid" [(ngModel)]="employmentDate"> -->
                                        <p-datepicker [(ngModel)]="employmentDate" [readonlyInput]="true" dateFormat="yy-mm-dd" dataType="string" appendTo="body" placeholder="Tarih Seçiniz"/>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="flex-lg-row-fluid ms-lg-10">
                    <ng-container>
                        <app-personal-info 
                            *ngIf="selectedIndex == 1"
                            (formEvent)="formEvent($event)" 
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-personal-info>

                        <app-contact-info 
                            *ngIf="selectedIndex == 2"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-contact-info>
                        
                        <app-organization-info 
                            *ngIf="selectedIndex == 3" 
                            (formEvent)="organizationFormEvent($event)" 
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-organization-info>
                        
                        <app-custom-info
                            *ngIf="selectedIndex == 4"
                            [inputValue]="1"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-custom-info>
                        
                        <app-custom-info
                            *ngIf="selectedIndex == 5"
                            [inputValue]="2"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-custom-info>
                        
                        <app-shift-info
                            *ngIf="selectedIndex == 6"
                            (formEvent)="formEvent($event)" 
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-shift-info>
                        
                        <app-access-info
                            *ngIf="selectedIndex == 7"
                            [fromWhere]="fromWhere"
                            (formEvent)="formEvent($event)" 
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-access-info>

                        <app-access-group
                            *ngIf="selectedIndex == 8"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-access-group>

                        <app-register-authorized-areas
                            *ngIf="selectedIndex == 9"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-register-authorized-areas>

                        <app-application-use
                            *ngIf="selectedIndex == 10"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister"
                            [registerDetail]="registerDetail">
                        </app-application-use>

                        <app-register-history
                            *ngIf="selectedIndex == 11"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-register-history>

                        <app-working-periods
                            *ngIf="selectedIndex == 12"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-working-periods>

                        <app-files
                            *ngIf="selectedIndex == 13"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-files>

                        <app-splits
                            *ngIf="selectedIndex == 14"
                            [operationType]="operationType"
                            [selectedRegister]="selectedRegister">
                        </app-splits>

                        
                    </ng-container>
                </div>
            </div>
        </div>
    </div>



    <ng-template pTemplate="footer">
        <a class="btn btn-sm btn-danger mx-1" (click)="close()" *ngIf="!loading">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'Kapat' | translate}}
        </a>
        <a class="btn btn-sm btn-danger mx-1" (click)="collectAllFormData()" *ngIf="!loading">
            <i class="fa-solid fa-floppy-disk fs-7"></i>
            {{'Kaydet' | translate}}
        </a>
    </ng-template>
</p-dialog>