:host ::ng-deep .lightgray .p-dialog-header {
    background-color: #fcfcfc;
}

:host ::ng-deep .lightgray .p-dialog-content {
    background-color: #fcfcfc;
}

:host ::ng-deep .lightgray .p-dialog-footer {
    background-color: #fcfcfc;
}

.details-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    &.open {
        max-height: 500px;
        /* İçeriğinize göre bu değeri artırabilirsiniz */
        opacity: 1;
    }
}

.card {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2) !important;
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;

    .slider {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scroll-behavior: smooth; // Smooth scroll efekti
        cursor: grab;

        &.dragging {
            cursor: grabbing;
        }

        .slider-item {
            min-width: calc(20% - 10px); // Ekranda 5 eleman göstermek için
            flex-shrink: 0;
            text-align: center;
            background: #f0f0f0;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }

    .arrow {
        background-color: #007bff;
        border: none;
        color: white;
        font-size: 1.5rem;
        padding: 10px;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        &.left-arrow {
            position: absolute;
            left: 10px;
        }

        &.right-arrow {
            position: absolute;
            right: 10px;
        }
    }
}


.profile-picture-container {
    width: 120px; /* Görsel boyutu */
    height: 120px;
    position: relative;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Görselin düzgün kırpılması */
    border-radius: 50%; /* Yuvarlak yap */
    border: 2px solid #ddd; /* Hafif çerçeve */
}

.btn-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #6c757d;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
        background-color: #f8f9fa;
        color: #495057;
    }
}

.upload-btn {
    top: -10px; /* Daha yukarı taşı */
    right: -10px; /* Daha sağa taşı */
}

.remove-btn {
    bottom: -10px; /* Daha aşağıya taşı */
    right: -10px; /* Daha sağa taşı */
}
