<div class="container-fluid mt-5">



    <!-- <mat-tab-group style="height: fit-content;">

        <mat-tab label="INSERT" style="height: fit-content;">

            <div class="scale-form-box">
                <label for="formTitle" class="border">Yeni Form Kaydı</label>
                <div class="p-field">
                    <p-iftalabel style="margin-top: 3px;">
                        <input pInputText id="formTitle" [(ngModel)]="formTitle" class="full-width-input" />
                        <label for="formTitle">Değerlendirme Form Başlığı:</label>
                    </p-iftalabel>
                </div>

                <div class="p-field">
                    <p-iftalabel style="margin-top: 3px;">
                        <input pInputText id="explanation" [(ngModel)]="explanation" class="full-width-input" />
                        <label for="explanation">Form Açıklaması:</label>
                    </p-iftalabel>
                </div>

                <button pButton type="button" label="Kaydet" (click)="form_i()" class="full-width-button"></button>

                <div class="p-field">
                    <label for="formList">Form seçimi</label>
                    <p-dropdown [options]="draftList" [(ngModel)]="selectedFormId" optionLabel="baslik"
                        optionValue="id" placeholder="Seçiniz"  (onChange)="onFormChange($event.value)" class="full-width-input"
                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                    </p-dropdown>
                </div>
                <div class="p-field">
                    <label for="countSelect">Hangi Kategori</label>
                    <p-dropdown [options]="categoryList" [(ngModel)]="selectedCategoryId" optionLabel="Ad"
                        optionValue="Id" placeholder="Seçiniz" (onChange)="onCategoryChange($event.value)" class="full-width-input"
                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                    </p-dropdown>
                </div> 
                <div class="p-field">
                    <label for="countSelect">Soru seçimi</label>
                    <p-dropdown [options]="questionList" [(ngModel)]="selectedQuestionId" optionLabel="aciklama"
                        optionValue="id" placeholder="Seçiniz" (onChange)="onQuestionChange($event.value)"  class="full-width-input"
                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                    </p-dropdown>
                </div>
                 <button pButton type="button" label="Soru Ekle" (click)="form_question()" class="full-width-button"></button>
            </div>
           
        </mat-tab>

        <mat-tab label="UPDATE AND DELETE">

            <div>
                <div class="p-card my-3 p-3">

                    <div class="scale-form-box">


                        <div class="p-field">
                            <p-iftalabel style="margin-top: 3px;">
                                <input pInputText id="formTitle" [(ngModel)]="formTitle" class="full-width-input" />
                                <label for="formTitle">Değerlendirme Form Adı:</label>
                            </p-iftalabel>
                        </div>

                        <div class="p-field">
                            <p-iftalabel style="margin-top: 3px;">
                                <input pInputText id="formTitle" [(ngModel)]="formTitle" class="full-width-input" />
                                <label for="formTitle">Form Açıklaması:</label>
                            </p-iftalabel>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>





    </mat-tab-group> -->
    <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1">Oluştur</p-step>
                <p-step [value]="2">Düzenle</p-step>
                <p-step [value]="3">Bitir</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <!-- <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
    
                               
                            </div> -->
                            <div class="scale-form-box">
                                <button pButton type="button" label="Oluştur" (click)="_openNewDraft = true"
                                    class="full-width-button"></button>



                            </div>
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
    
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div>
                                <div class="p-field">
                                    <label for="formList">Form seçimi</label>
                                    <p-dropdown [options]="draftList" [(ngModel)]="_selectedDraftId" optionLabel="baslik"
                                        optionValue="id" placeholder="Seçiniz"  (onChange)="onFormChange($event.value)" class="full-width-input"
                                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                                    </p-dropdown>
                                </div>
                                <div class="p-field">
                                    <label for="countSelect">Hangi Kategori</label>
                                    <p-dropdown [options]="categoryList" [(ngModel)]="selectedCategoryId" optionLabel="Ad"
                                        optionValue="Id" placeholder="Seçiniz" (onChange)="onCategoryChange($event.value)" class="full-width-input"
                                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                                    </p-dropdown>
                                </div> 
                                <div class="p-field">
                                    <label for="countSelect">Soru seçimi</label>
                                    <p-dropdown [options]="questionList" [(ngModel)]="selectedQuestionId" optionLabel="aciklama"
                                        optionValue="id" placeholder="Seçiniz" (onChange)="onQuestionChange($event.value)"  class="full-width-input"
                                        [appendTo]="'body'" [panelStyle]="{ width: '100%' }">
                                    </p-dropdown>
                                </div>
                                 <button pButton type="button" label="Soru Ekle" (click)="form_question()" class="full-width-button"></button>
                            </div>
                        </div>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                (onClick)="activateCallback(1)" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
    
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                <p-table #table [value]="categoryS" [tableStyle]="{ 'min-width': '60rem' }" dataKey="id">
    
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 60%">Kategori / Soru</th>
                                        </tr>
                                    </ng-template>
    
                                    <ng-template pTemplate="body" let-cat>
    
                                        <tr style="background-color: #e0e0e0; font-weight: bold;">
    
                                            <td style="color:#ed1b24; padding-left: 10px;">
                                                {{ cat.Ad }}
                                            </td>
                                        </tr>
    
    
                                        <tr *ngFor="let question of getQuestionsByCategory(cat.Ad)"
                                            style="background-color: #f9f9f9;">
    
                                            <td>
    
                                                <div style="font-size: 0.75rem; color: #ffc0cb; margin-bottom: 4px;">
                                                    {{ cat.Ad }}
                                                </div>
                                                <div style="font-weight: bold; color:#0d47a1">{{ question.aciklama }}</div>
    
                                                <div class="text-muted" style="font-size: 0.85rem;">
    
                                                    <ng-container *ngIf="getScaleByQuestion(question) as scale">
                                                        <span *ngIf="scale.cevap1">a) {{ scale.cevap1 }}&nbsp;&nbsp;</span>
                                                        <span *ngIf="scale.cevap2">b) {{ scale.cevap2 }}&nbsp;&nbsp;</span>
                                                        <span *ngIf="scale.cevap3">c) {{ scale.cevap3 }}&nbsp;&nbsp;</span>
                                                        <span *ngIf="scale.cevap4">d) {{ scale.cevap4 }}&nbsp;&nbsp;</span>
                                                        <span *ngIf="scale.cevap5">e) {{ scale.cevap5 }}</span>
                                                    </ng-container>
    
                                                </div>
    
                                            </td>
                                        </tr>
    
                                    </ng-template>
    
                                </p-table>
                            </div>
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>

</div>



<!-- <p-dialog [header]="_draftTitle" [(visible)]="_draftMatchModal" [modal]="true" [style]="{ width: '70vw' }"
  [breakpoints]="{ '2560px': '80vw', '992px': '60vw', '576px': '50vw' }" [maximizable]="true" [baseZIndex]="10000">
  <div class="sicil">
    <label for="sicilGroup">Sicil Grupları</label>
    <p-dropdown [options]="sicilGroup" [(ngModel)]="_selectedSicilGroupId" optionLabel="ad" optionValue="id"
      placeholder="Seçiniz" class="full-width-input" (onChange)="onSicilGroupChange($event)">
    </p-dropdown>
  </div>
  <div class="form-group">
    <p-checkbox [(ngModel)]="asChecked" [binary]="true" inputId="as" (ngModelChange)="onCheckboxChange()"></p-checkbox>
    <label for="as" class="ml-2">As</label>
  </div>

  <div class="form-group">
    <p-checkbox [(ngModel)]="usChecked" [binary]="true" inputId="us" (ngModelChange)="onCheckboxChange()"></p-checkbox>
    <label for="us" class="ml-2">ÜS</label>
  </div>

  <div class="form-group">
    <p-checkbox [(ngModel)]="myselfChecked" [binary]="true" inputId="myself"
      (ngModelChange)="onCheckboxChange()"></p-checkbox>
    <label for="myself" class="ml-2">Kendisi</label>
  </div>

  <div class="form-group">
    <label for="startDate">Başlangıç Tarihi:</label>&nbsp;
    <p-datepicker [(ngModel)]="startDate" [iconDisplay]="'input'" (onSelect)="getDate('start', $event)"
      [showIcon]="true" inputId="startDate"></p-datepicker>
  </div>

  <div class="form-group">
    <label for="endDate" style="margin-right: 35px;">Bitiş Tarihi:</label>
    <p-datepicker [(ngModel)]="endDate" [iconDisplay]="'input'" (onSelect)="getDate('end', $event)" [showIcon]="true"
      inputId="endDate"></p-datepicker>
  </div>


  <p-table #table [value]="categoryS" [tableStyle]="{ 'min-width': '60rem' }" dataKey="id">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60%">Kategori / Soru</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cat>

      <tr style="background-color: #e0e0e0; font-weight: bold;">

        <td style="color:#ed1b24; padding-left: 10px;">
          {{ cat.Ad }}
        </td>
      </tr>


      <tr *ngFor="let question of getQuestionsByCategory(cat.Ad)" style="background-color: #f9f9f9;">

        <td>
        
          <div style="font-size: 0.75rem; color: #ffc0cb; margin-bottom: 4px;">
            {{ cat.Ad }}
          </div>
          <div style="font-weight: bold; color:#0d47a1">{{ question.aciklama }}</div>
  
          <div class="text-muted" style="font-size: 0.85rem;">

            <ng-container *ngIf="getScaleByQuestion(question) as scale">
              <span *ngIf="scale.cevap1">a) {{ scale.cevap1 }}&nbsp;&nbsp;</span>
              <span *ngIf="scale.cevap2">b) {{ scale.cevap2 }}&nbsp;&nbsp;</span>
              <span *ngIf="scale.cevap3">c) {{ scale.cevap3 }}&nbsp;&nbsp;</span>
              <span *ngIf="scale.cevap4">d) {{ scale.cevap4 }}&nbsp;&nbsp;</span>
              <span *ngIf="scale.cevap5">e) {{ scale.cevap5 }}</span>
            </ng-container>

          </div>

        </td>
      </tr>

    </ng-template>

  </p-table>
  
  <div style="text-align: right; margin-top: 1rem;">
    <button pButton type="button" icon="pi pi-save" label="Kaydet" class="p-button-sm p-button-warning"
    >
    </button>
  </div>

</p-dialog> -->
<p-dialog header="" [(visible)]="_openNewDraft" [position]="'top'" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="-40" [draggable]="false" [resizable]="false" (onHide)="_openNewDraft = false">

    <label for="draftTitle" class="border">Yeni Değerlendirme Form Kaydı</label>
    <div class="p-field">
        <p-iftalabel style="margin-top: 3px;">
            <input pInputText id="draftTitle" [(ngModel)]="draftTitle" class="full-width-input" />
            <label for="draftTitle">Değerlendirme Form Başlığı:</label>
        </p-iftalabel>
    </div>

    <div class="p-field">
        <p-iftalabel style="margin-top: 3px;">
            <input pInputText id="explanation" [(ngModel)]="explanation" class="full-width-input" />
            <label for="explanation">Form Açıklaması:</label>
        </p-iftalabel>
    </div>



    <div style="text-align: right; margin-top: 1rem;">
        <button pButton type="button" icon="pi pi-save" label="Kaydet" class="p-button-sm p-button-warning" (click)="draft_i()">
        </button>
    </div>

</p-dialog>