<div class="container-fluid py-4">

  <div>

    <div class="row">
      <div class="col-md-3">

          <div class="table-responsive">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" [(ngModel)]="locationName" (input)="filterItems()">
              </div>

              <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle gs-3 gy-4">
              <thead>
                  <tr>
                      <th class="me-1 rounded-start rounded-end text-center" style="background:red;font-weight: bold;color:white;">Lokasyonlar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of _filteredItems" class="cursor-pointer fs-6">
                          <td [ngClass]="this.lokasyonId === item.id ? 'selected-location' : 'text-dark fw-bold'" (click)="getItem(item);">
                              <span class="mb-1 fw-bold">{{item?.ad}}</span>
                          </td>
                  </tr>
              </tbody>
          </table>
          </div>    
          
      </div>

      <div class="col-md-9">
          <div class="row">
              <table class="table">
                  <thead>
                    <tr>
                      <th class="equal-width text-center" *ngFor="let day of days">
                        <p class="day-label">{{ day.name }}</p>
                        <button class="btn btn-sm custom-btn" (click)="setTourCalendar(day.id)">Tur Ekle +</button>
                      </th>
                    </tr>
   
                  </thead>

                  <tbody *ngIf="this._activeTourList.length > 0">

                    <tr>
                      <td>
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 1">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''">Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                       
                          
                       
                      </td>
                   
                      <td>
                 
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 2">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p>{{ item.Aciklama }}</p><p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </td>
                   
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 3">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1"style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p> <p class="fs-7" class="fs-7">Haftaya Özel Tur</p><p *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        
                      </td>
                 
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 4">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                     
                      </td>
                   
                      <td>
                 
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 5">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                   
                      </td>
                    
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 6">
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)" *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </td>
                
                      <td>
                        
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 7"> 
                                <button (click)="openDeleteModal(item)"  *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-6">{{ item.bassaat }}</p> <p class="fs-6">{{ item.Aciklama }}</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                                <button (click)="openDeleteModal(item)"  *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-6">{{ item.bassaat }}</p> <p  class="fs-6">{{ item.Aciklama }}</p> <p class="fs-7">Haftaya Özel Tur</p><p class="fs-7" *ngIf="item.turaciklama != ''"> Açıklama var</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                     
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
         
      </div>
  </div>

  </div>
    
</div>



<p-dialog
        [(visible)]="_setTourCalendarModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">

        <input type="time" class="form-control mb-5" value="00:00" (change)="getTourTime(tourTime)"  [(ngModel)]="tourTime" lang="tr">

        <select class="form-select form-select-sm form-select-solid mb-5" (change)="getTourId(tourId)" [(ngModel)]="tourId">
            <option class="form-select"  value="{{item?.id}}" *ngFor="let item of tourList">{{item?.ad}}</option>
        </select>
        <label for="">Tur Açıklaması : </label>
        <input type="text" class="form-control mb-5" [(ngModel)]="description">

        <label for="">Haftaya Özel Tur : </label>
        <input class="m-5"  type="checkbox" (change)="ozelCheckbox($event)" />
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_setTourCalendarModal = false">İPTAL</button>
            <button class="btn btn-success m-2" (click)="setGuardTourCalendar()">TANIMLA</button>
          </div>
        
        </div>

</p-dialog>



<p-dialog
        [(visible)]="_deleteTourCalendarModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">
    
        <p>{{this.selectedTourDetail?.Aciklama}}</p>    
        <p>{{this.selectedTourDetail?.turaciklama}}</p>                    
        <p *ngIf="stationsForTour.length > 0">Bu tura ait istasyonlar</p>
        <ul>
          <li *ngFor="let istasyon of stationsForTour">{{ istasyon.istasyonad}}</li>
        </ul>
       
        
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2" (click)="_deleteTourCalendarModal = false">İPTAL</button>
            <button class="btn btn-danger m-2" (click)="deleteGuardTourCalendar()">Sil</button>
          </div>
        
        </div>

</p-dialog>