.equal-width {
    width: 14.28%; /* Haftanın 7 günü için eşit bölme */
  }

  .custom-btn {
    width: 100%; /* Butonların genişliği hücreyle aynı olacak */
    background: red;
    font-weight: bold;
    color: white;
    padding: 8px 0; /* Yükseklik için padding ayarlaması */
    text-align: center;
  }

  .table-hover > tbody > tr:hover {
    background-color: red !important; 
    color: red !important; 
  }