<div class="container-fluid py-4">

  <div>

    <div class="row">
      <div class="col-md-3">

          <div class="table-responsive">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" [(ngModel)]="locationName" (input)="filterItems()">
                  <!-- <button class="btn btn-danger text-white" type="button" id="button-addon2" (click)="setLocation(locationName)">Ekle</button> -->
              </div>

              <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle gs-3 gy-4">
              <thead>
                  <tr style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;">
                      <th class="me-1 rounded-start rounded-end text-center" style="background:red;font-weight: bold;color:white;">Lokasyonlar</th>
                  </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let item of _filteredItems" class="cursor-pointer fs-6">
                          <td (click)="getItem(item);">
                              <span class="mb-1 fw-bold">{{item?.ad}}</span>
                          </td>
                  </tr>
              </tbody>
          </table>
          </div>    
          
      </div>

      <div class="col-md-9">
          <div class="row">
              <table class="table">
                  <thead>
                    <tr>
                      <th class="equal-width">  
                          <button  class="btn btn-sm custom-btn" (click)="setTourCalendar('1')">Pazartesi</button>
                      </th>
                      <th class="equal-width">   
                          <button  class="btn btn-sm custom-btn"  (click)="setTourCalendar('2')">Salı</button>
                          <!-- <button class="btn btn-light-danger m-3" (click)="setTourCalendar('2')">Salı</button> -->
                      </th>
                      <th class="equal-width">
                          <p>Çarşamba</p>
                          <button class="btn btn-sm custom-btn" (click)="setTourCalendar('3')">Tur Ekle +</button>
                      </th>
                      <th class="equal-width">   
                          <button class="btn btn-sm custom-btn" (click)="setTourCalendar('4')">Perşembe</button>
                      </th>
                      <th class="equal-width">   
                          <button class="btn btn-sm custom-btn" (click)="setTourCalendar('5')">Cuma</button>
                      </th>
                      <th class="equal-width">
                          <button class="btn btn-sm custom-btn" (click)="setTourCalendar('6')">Cumartesi</button>
                      </th>
                      <th class="equal-width">
                          <button class="btn btn-sm custom-btn" (click)="setTourCalendar('7')">Pazar</button>
                      </th>
                    </tr>
                  </thead>

                  <tbody *ngIf="this._activeTourList.length > 0">

                    <tr>
                      <td>
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 1">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p><p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                       
                          
                       
                      </td>
                   
                      <td>
                 
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 2">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p>{{ item.Aciklama }}</p><p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </td>
                   
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 3">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1"style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p> <p class="fs-7">Haftalık Tur</p></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        
                      </td>
                 
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 4">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p><p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                     
                      </td>
                   
                      <td>
                 
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 5">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p><p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                   
                      </td>
                    
                      <td>
                      
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 6">
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p><p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </td>
                
                      <td>
                        
                        <table class="table table-hover border table-rounded table-row-solid table-striped table-row-black-400 align-middle">
                          <tbody>
                            <tr *ngFor="let item of _activeTourList">
                              <td *ngIf="item.gun === 7"> 
                                <button *ngIf="item.ozel !== '1'" class="btn btn-secondary m-1" style="border: 1px dashed black;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p></button>
                                <button *ngIf="item.ozel === '1'" class="btn btn-primary m-1" style="border: 1px dashed blue;"> <p class="fs-4">{{ item.bassaat }}</p> <p class="fs-4">{{ item.Aciklama }}</p> <p class="fs-7">Haftalık Tur</p> </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                     
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
         
      </div>
  </div>

  </div>
    
</div>



<p-dialog
        [(visible)]="_setTourCalendarModal"
        [modal]="true"
        [style]="{ width: '25vw'}"
        [breakpoints]="{'2560px': '25vw', '992px': '70vw', '576px': '90vw'}"
        [maximizable]="true"
        [baseZIndex]="10000">

        <input type="time" class="form-control mb-5" value="00:00" (change)="getTourTime(tourTime)"  [(ngModel)]="tourTime" lang="tr">

        <select class="form-select form-select-sm form-select-solid mb-5" (change)="getTourId(selectTour)" [(ngModel)]="selectTour">
            <option class="form-select"  value="{{item?.id}}" *ngFor="let item of tourList">{{item?.ad}}</option>
        </select>
        <label for="">Haftaya Özel Tur : </label>
        <input class="m-5"  type="checkbox" (change)="ozelCheckbox($event)" />
        
        <div class="row">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary m-2">İPTAL</button>
            <button class="btn btn-success m-2" (click)="setGuardTourCalendar()">TANIMLA</button>
          </div>
        
        </div>

</p-dialog>