
.card{
    cursor: pointer;
}
.label-spacing {

    margin-left: 6px;
    margin-right: 6px;
  }

  .radio-answer {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* sorular arası boşluk */
  }