// Bootstrap Function, Variables, Mixin
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// Bootstrap Breakpoints

// Mobile Modes
@include media-breakpoint-down(lg) {
  .accordion {
    display: flex;
    justify-content: center;
  }
}

// @include media-breakpoint-up(lg) {
//   .accordion {
//     display: flex;
//     justify-content: start;
//   }
// }


.search-icon {
  background-color: var(--kt-dark);
  cursor: pointer;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 0 39px 39px 0;

}

.search-icon .svg {
  display: flex;
  align-items: center;
  height: 100%;
}