<div class="d-flex flex-column flex-lg-row flex-column-fluid" style="background-color: #f8f8f878;">
  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 py-5 px-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="<?php echo $params['wrapperClass']?> px-10" id="auth-login">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
    [ngStyle]="{'background-image': 'url(./assets/media/misc/auth-bg.png)'}">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <!--begin::Logo-->
      <a routerLink="/" class="mb-12">
        <img alt="Logo" [src]="companyLogo" class="h-150px" />
        <!-- <img alt="Logo" src="../../../assets/media/logos/custom-2.svg" class="h-75px" /> -->
      </a>
      <!--end::Logo-->

      <!--begin::Image-->
      <img class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center w-100 h-100px"
        [src]="imagePath" alt="" />
      <!--end::Image-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>