<div class="container-fluid">
    <div class="row d-flex justify-content-end py-3">
        <div class="col-12 d-flex align-sm-items-end gap-2 flex-column flex-sm-row">
            <a class="btn btn-dark btn-sm hover-elevate-up">
                <i class="fa-solid fa-file-circle-plus"></i>
                {{"Yeni_Ziyaretçi_F2" | translate}}
            </a>

            <a class="btn btn-dark btn-sm hover-elevate-up">
                <i class="fa-solid fa-clipboard-user"></i>
                {{"Geçici_Kart_F8" | translate}}
            </a>

            <a class="btn btn-dark btn-sm hover-elevate-up" (click)="editModeToggle()">
                <i class="fa-solid fa-grip"></i>
                {{"Düzenle" | translate}}
            </a>
        </div>

    </div>
    
    <app-card-menu
        [menu]="visitTypes"
        (changeVisible)="onChangeVisible($event)"
        [editMode]="editMode"
        >

    </app-card-menu>

    <app-dashboard-card
        [cards]="dashboardOptions"
        (removeEvent)="removeCard($event)"
        [editMode]="editMode"
        >
    </app-dashboard-card>
</div>