<div class="container">
    <div class="card p-5">
        <mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="getTransitions($event)">
            <mat-tab label="{{'Günlük' | translate}}">
                <div class="m-10 card card-custom gutter-b">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <ng-container *ngIf="transitions.length > 0">
                                <div class="col-8 frame pb-20">
                                    <div class="timeline timeline-4">
                                        <div class="timeline-items" *ngFor="let item of transitions">
                                            <ng-container *ngIf="item.yon == '3' ">
                                                <div class="timeline-item timeline-item-left">
                                                    <div class="timeline-badge">
                                                        <div class="bg-danger"></div>
                                                    </div>
                            
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                    </div>
                            
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                            
                                            <ng-container *ngIf="item.yon == '2' ">
                                                <div class="timeline-item timeline-item-right">
                                                    <div class="timeline-badge">
                                                        <div class="bg-success"></div>
                                                    </div>
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                    </div>
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="transitions.length == 0">
                                <!-- <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                                        <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                        <div class="flex-grow-1 me-2">
                                          <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"Kayıt_Bulunamadı" | translate}}</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row pt-10">
                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                        <div class="row">
                                            <app-data-not-found [imgWidth]=" '70%' "></app-data-not-found>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </mat-tab>




            <mat-tab label="{{'Haftalık' | translate}}" (click)="getTransitions('7')">
                <div class="m-10 card card-custom gutter-b">

                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <ng-container *ngIf="transitions.length > 0">
                                <div class="col-8 frame pb-20">
                                    <div class="timeline timeline-4">
                                        <div class="timeline-items" *ngFor="let item of transitions">
                                            <ng-container *ngIf="item.yon == '3' ">
                                                <div class="timeline-item timeline-item-left">
                                                    <div class="timeline-badge">
                                                        <div class="bg-danger"></div>
                                                    </div>
                            
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                    </div>
                            
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                            
                                            <ng-container *ngIf="item.yon == '2' ">
                                                <div class="timeline-item timeline-item-right">
                                                    <div class="timeline-badge">
                                                        <div class="bg-success"></div>
                                                    </div>
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                    </div>
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="transitions.length == 0">
                                <!-- <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                                        <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                        <div class="flex-grow-1 me-2">
                                          <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"Kayıt_Bulunamadı" | translate}}</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row pt-10">
                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                        <div class="row">
                                            <app-data-not-found [imgWidth]=" '70%' "></app-data-not-found>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>




            <mat-tab label="{{'Aylık' | translate}}" (click)="getTransitions('30')">
                <div class="m-10 card card-custom gutter-b">

                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <ng-container *ngIf="transitions.length > 0">
                                <div class="col-8 frame pb-20">
                                    <div class="timeline timeline-4">
                                        <div class="timeline-items" *ngFor="let item of transitions">
                            
                                            <ng-container *ngIf="item.yon == '3' ">
                                                <div class="timeline-item timeline-item-left">
                                                    <div class="timeline-badge">
                                                        <div class="bg-danger"></div>
                                                    </div>
                            
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                        
                                                    </div>
                            
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                            
                                            <ng-container *ngIf="item.yon == '2' ">
                                                <div class="timeline-item timeline-item-right">
                                                    <div class="timeline-badge">
                                                        <div class="bg-success"></div>
                                                    </div>
                                                    <div class="timeline-label" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}" [ngClass]="{'m-0 p-0': this.layoutService.isMobile | async}">
                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date:'yyyy-MM-dd'}}
                                                        </span>

                                                        <span class="fw-bold fs-6 text-gray-600">
                                                            {{item.zaman | date : 'HH:mm:ss'}}
                                                        </span>
                                                    </div>
                                                    <div class="timeline-content fw-bold fs-6 text-gray-800 text-center" [ngClass]="{'p-2': this.layoutService.isMobile | async}">
                                                        {{item.cihaz}}
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="transitions.length == 0">
                                <!-- <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div class="d-flex align-items-center bg-light-danger rounded p-5 text-center" [ngClass]="{'w-100': layoutService.isMobile | async, 'w-50' : !(layoutService.isMobile | async)}">
                                        <i class="fa-solid fa-triangle-exclamation fs-2x text-danger ms-5"></i>
                                        <div class="flex-grow-1 me-2">
                                          <a class="fw-bold text-gray-800 text-hover-danger fs-6">{{"Kayıt_Bulunamadı" | translate}}</a>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="row pt-10">
                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                        <div class="row">
                                            <app-data-not-found [imgWidth]=" '70%' "></app-data-not-found>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>