:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}


.loader-container{
  position : absolute;
  width: 100%;
  height: 100%;
  // background-color: black;
  // opacity: 0.8;
  z-index: 99;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #e33a37; 
  height: 30px;
}

::ng-deep .mat-progress-spinner svg {
  height: 30px !important;
}