<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-custom gutter-b py-3">
                <!-- <div class="card-header border-0">
                    <div class="card-title">
                        <h3 class="card-label">{{"Puantaj_Tanımlamalar" | translate}}</h3>
                    </div>
                </div> -->

                <div class="card-body pt-3 pb-0">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <button (click)="moveLeft()" class="arrow-left">&#8592;</button> <!-- Sol ok -->
                            <ul class="nav nav-pills nav-pills-custom justify-content-center mb-3 tab-list" role="tablist">
                                <li *ngFor="let item of visibleTabs" class="nav-item mb-3 me-3 me-lg-6">
                                    <a class="nav-link btn btn-outline btn-flex btn-color-gray-800 btn-active-color-danger flex-column overflow-hidden w-80px h-85px pt-5 pb-2"
                                        data-bs-toggle="pill" [attr.id]="item.id" (click)="changeTab(item)" [ngClass]="{'active': selectedTab.id == item.id}">
                                        <div class="nav-icon mb-3">
                                            <i class="{{ item.icon }} fs-2 p-0"></i>
                                        </div>
                                        <span class="fw-bold fs-8 lh-1"> {{item.label}} </span>
                                        <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-danger"></span>
                                    </a>
                                </li>
                            </ul>
                            <button (click)="moveRight()" class="arrow-right">&#8594;</button> <!-- Sağ ok -->
                        </div>
                    </div>
                </div>
            </div>



            <ng-container *ngIf="selectedTab.id == 4">
                <app-level-definition></app-level-definition>
            </ng-container>

            <ng-container *ngIf="selectedTab.id == 7">
                <app-overtime-causes></app-overtime-causes>
            </ng-container>

            <ng-container *ngIf="selectedTab.id == 8">
                <app-attendance-restriction></app-attendance-restriction>
            </ng-container>

        </div>
    </div>
</div>
