<ng-container *ngIf="isLoading | async">
  <div class="row">
    <div class="col-12 pt-10">
      <div class="loader-container">
        <div id="splash-screen" class="splash-screen"
          style="position: inherit; color:transparent; background-color: transparent;">
          <!-- <div class="meyer-text">meyer</div> -->
          <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo" style="margin-left: 0; height: 0;" />
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="!(isLoading | async)">
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-2">
        <img src="../../../../../assets/media/logos/MECLOUD (13).png" alt="meyerLogo" class="meyer-logo">
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-7 m-auto">
      <ng-container *ngIf="hasError">
        <div class="my-5 alert alert-danger text-center w-100">
          <div class="alert-text font-weight-bold">
            {{"Giriş_Bilgileri_Yanlış" | translate}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form">
        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-8 col-lg-7 d-flex justify-content-center flex-column">
            <label class="form-label fs-6 fw-bolder text-dark">{{"Uygulamalar" | translate}}</label>
            <label *ngFor="let item of appList"
              class="btn btn-outline btn-outline-dashed btn-active-light-danger d-flex text-start px-6 py-3 m-1 active"
              data-kt-button="true">
              <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                <input class="form-check-input bg-danger" type="radio" formControlName="appList" value="{{item.appId}}"
                  checked="checked">
              </span>
              <i class="fa-solid fa-cloud fs-4 me-4 ms-10 align-items-center"></i>
              <span class="ms-5">
                <span class="fs-4 fw-bold mb-1 d-block">{{item.appName}}</span>

              </span>
            </label>
          </div>


          <div class="col-sm-12 col-md-8 col-lg-7 d-flex justify-content-center flex-column">
            <label class="form-label fs-6 fw-bolder text-dark">{{"Kullanıcı_Adı" | translate}}</label>
            <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="text"
              name="userName" formControlName="userName" autocomplete="off" />
          </div>

          <div class="col-sm-12 col-md-8 col-lg-7 d-flex justify-content-center flex-column">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"Şifre" |translate}}</label>
            <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="password"
              name="password" autocomplete="off" formControlName="password" />
          </div>

          <div class="col-sm-12 col-md-8 col-lg-7 d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1" id="dropdownBasic1"
                ngbDropdownToggle>
                <img class="h-25px w-25px rounded" src="{{ language?.flag }}" alt="language" />
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngFor="let language of languages" ngbDropdownItem (click)="setLanguageWithRefresh(language.lang)"
                  [ngClass]="{ active: language.active }">
                  <span class="symbol symbol-20 mr-3">
                    <img src="{{ language.flag }}" style="width: 20%;" />
                    <span class="navi-text" style="margin-left: 20px;">{{ language.name }}</span>
                  </span>
                </a>
              </div>
            </div>
            <a routerLink="/auth/forgot-password" class="link-danger">
              {{"Şifremi_Unuttum" |translate}}
            </a>

          </div>

          <div class="col-sm-12 col-md-8 col-lg-7 d-grid d-flex justify-content-center mb-10">
            <button type="submit" (click)="submit()" id="kt_sign_in_submit"
              class="btn btn-danger w-100 w-md-50 w-lg-75 " [disabled]="loginForm.invalid">
              <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  {{"Lütfen_Bekleyiniz" | translate}}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">{{"Giriş_Yap" |translate}}</span>
              </ng-container>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>



<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation)">

    <div class="fv-plugins-message-container">
      <span role="alert">
        {{message | translate}}
      </span>
    </div>
  </ng-container>
</ng-template>