

// Bootstrap Function, Variables, Mixin
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// Bootstrap Breakpoints

// Mobile Modes
@include media-breakpoint-down(sm) {
  .meyer-logo {
    width: 270px;
  }
}
// Mobile & Tablet Modes
@include media-breakpoint-between(sm, md) {
  .meyer-logo {
    width: 350px;
  }
}
// Tablet Modes
@include media-breakpoint-between(md, lg) {
  .meyer-logo {
    width: 450px;
  }
}
// Tablet & Desktop Modes
@include media-breakpoint-between(lg, xl) {
  .meyer-logo {
    width: 500px;
  }
}
// Desktop Modes
@include media-breakpoint-between(xl, xxl) {
  .meyer-logo {
    width: 620px;
  }
}

@include media-breakpoint-up(xxl) {
  .meyer-logo {
    width: 670px;
  }
}

// .app-grid {
// //   background-color: #f9f9f9;
// }

.app-option {
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid #ccc;
//   background-color: white;
}

.app-option:hover {
  background-color: #ffe6e7; // hover efekti için açık pembe tonu
  border-color: #ed1b24;
}

.app-option.active {
  border: 2px solid #ed1b24;
  background-color: #fff0f1; // seçili arka plan rengi
  box-shadow: 0 0 5px rgba(237, 27, 36, 0.3); // hafif parlama efekti
}
