<!--begin::Form-->
<form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" >

  <div class="text-center mb-2">
    <img src="../../../../../assets/media/logos/me-ware-logo.svg" alt="meyerLogo" class="w-100">
  </div>

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        The login details are incorrect
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->


  <!-- begin::Form group -->
  <div class="fv-row mb-8">
  
    <div class="row">

      <div class="col-12">
        <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
        <label *ngFor="let item of appList" class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6 active" data-kt-button="true">
          <!--begin::Radio button-->
          <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
            <input class="form-check-input" type="radio" value="{{item.appId}}" checked="checked">
          </span>
          <!--end::Radio button-->
          <i class="fa-solid fa-cloud fs-2x me-4 ms-10 align-items-center"></i>
          <span class="ms-5">
            <span class="fs-4 fw-bold mb-1 d-block">{{item.appName}}</span>
            <span class="text-muted fw-semibold fs-6">
              {{item.appId | currency}}
            </span>
          </span>
        </label>
      </div>


      <!-- <label class="form-label fs-6 fw-bolder text-dark">App List</label>
      <div class="col-lg-6" *ngFor="let item of appList">
        <span class="form-check form-check-custom form-check-sm align-items-start mt-1">
          <input type="radio" class="form-check-input" value="{{item.appId}}" id="{{item.appId}}">
        </span>
        <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center"
          for="{{item.appId}}">
          <i class="fa-solid fa-cloud fs-3x me-5">
            <span class="path1">
  
            </span>
          </i>
          <span class="d-block fw-semibold text-start">
            <span class="text-dark fw-bold d-block fs-4 mb-2">
              {{item.appName}}
            </span>
            <span class="text-muted fw-semibold fs-6">{{item.appId | currency}}</span>
          </span>
        </label>
        <div class="fv-plugins-message-container invalid-feedback"></div>
      </div> -->

    </div>
  
    <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
        <select class="form-control bg-transparent" formControlName="appList" 
        [ngClass]="{
          'is-invalid': loginForm.controls['appList'].invalid,
          'is-valid': loginForm.controls['appList'].valid
        }">
        <option *ngFor="let item of appList" value="{{item.appId}}">{{item.appName}}</option>
      </select>
  
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'app is required',
        control: loginForm.controls['appList']
      }"></ng-container>
  </div>
  <!-- end::Form group -->

  
  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.USERNAME" | translate}}</label>
    <input class="form-control bg-transparent" type="text" name="userName" formControlName="userName" autocomplete="off"
      [ngClass]="{
        'is-invalid': loginForm.controls['userName'].invalid,
        'is-valid': loginForm.controls['userName'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: '{{`AUTH.LGOIN_FAILED.USERNAME_REQUIRED` | translate}}',
        control: loginForm.controls['userName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'userName',
        message: 'userName is invalid',
        control: loginForm.controls['userName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'userName should have at least 3 symbols',
        control: loginForm.controls['userName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'userName should have maximum 360 symbols',
        control: loginForm.controls['userName']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3">

    <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"AUTH.LOGIN.PASSWORD" |translate}}</label>

    <input class="form-control bg-transparent" type="password" name="password" autocomplete="off"
      formControlName="password" [ngClass]="{
        'is-invalid': loginForm.controls['password'].invalid,
        'is-valid': loginForm.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: loginForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: loginForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: loginForm.controls['password']
      }"></ng-container>

  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1" id="dropdownBasic1"
        ngbDropdownToggle>
        <img class="h-25px w-25px rounded" src="{{ language?.flag }}" alt="language" />
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let language of languages" ngbDropdownItem (click)="setLanguageWithRefresh(language.lang)"
          [ngClass]="{ active: language.active }">
          <span class="symbol symbol-20 mr-3">
            <img src="{{ language.flag }}" style="width: 20%;" />
            <span class="navi-text" style="margin-left: 20px;">{{ language.name }}</span>
          </span>
        </button>
      </div>
    </div>
    <!--begin::Link-->
    <a routerLink="/auth/forgot-password" class="link-primary">
      {{"AUTH.FORGOT.TITLE" |translate}}
    </a>
    <!--end::Link-->
  </div>
  <!--end::Wrapper-->

  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button type="submit" (click)="submit()" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">{{"AUTH.LOGIN.BUTTON" |translate}}</span>
      </ng-container>
    </button>
  </div>

  <!-- <div class="text-gray-500 text-center fw-semibold fs-6">
    Not a Member yet?

    <a routerLink="/auth/registration" class="link-primary">
      Sign up
    </a>
  </div> -->

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>