<ng-container *ngIf="isLoading | async">
  <div class="row">
    <div class="col-12 pt-10">
      <div class="loader-container">
        <div id="splash-screen" class="splash-screen"
          style="position: inherit; color:transparent; background-color: transparent;">
          <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo" style="margin-left: 0; height: 0;" />
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="!(isLoading | async)">
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-2">
        <img src="../../../../../assets/media/logos/MECLOUD (13).png" alt="meyerLogo" [ngStyle]="{'width':(isMobile | async) ? '270px' : '430px' }">
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center mt-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger text-center" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
          <div class="alert-text font-weight-bold">
            {{"AUTH.LOGIN_FAILED.LOGIN_FAILED" | translate}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form">
        <div class="row d-flex justify-content-center">

          <div class="col-12 d-flex justify-content-center">
            <div class="width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
              <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
              <label *ngFor="let item of appList"
                class="btn btn-outline btn-outline-dashed btn-active-light-danger d-flex text-start p-6 active"
                data-kt-button="true">
                <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                  <input class="form-check-input bg-danger" type="radio" formControlName="appList" value="{{item.appId}}" checked="checked">
                </span>
                <i class="fa-solid fa-cloud fs-2x me-4 ms-10 align-items-center"></i>
                <span class="ms-5">
                  <span class="fs-4 fw-bold mb-1 d-block">{{item.appName}}</span>
                  
                </span>
              </label>
            </div>
          </div>

          <!-- <div class="col-12 d-flex justify-content-center">
            <div class="width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
              <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
              <select class="form-control form-control-solid border border-4 bg-light-dark" formControlName="appList">
                <option *ngFor="let item of appList" value="{{item.appId}}">{{item.appName}}</option>
              </select>
            </div>
          </div> -->

          <div class="col-12 d-flex justify-content-center">
            <div class="width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
              <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.USERNAME" | translate}}</label>
              <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="text"
                name="userName" formControlName="userName" autocomplete="off"/>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <div class="width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
              <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"AUTH.LOGIN.PASSWORD" |translate}}</label>
              <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="password"
                name="password" autocomplete="off" formControlName="password" />
                <!-- (keydown.enter)="submit()" -->
            </div>
          </div>

          <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8 width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1" id="dropdownBasic1"
                ngbDropdownToggle>
                <img class="h-25px w-25px rounded" src="{{ language?.flag }}" alt="language" />
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngFor="let language of languages" ngbDropdownItem
                  (click)="setLanguageWithRefresh(language.lang)" [ngClass]="{ active: language.active }">
                  <span class="symbol symbol-20 mr-3">
                    <img src="{{ language.flag }}" style="width: 20%;" />
                    <span class="navi-text" style="margin-left: 20px;">{{ language.name }}</span>
                  </span>
                </a>
              </div>
            </div>
            <a routerLink="/auth/forgot-password" class="link-danger">
              {{"AUTH.FORGOT.TITLE" |translate}}
            </a>

          </div>

          <div class="d-grid d-flex justify-content-center mb-10">
            <button type="submit" (click)="submit()" id="kt_sign_in_submit" class="btn btn-danger width" [ngStyle]="{'width': (isMobile | async) ? '100%' : '50%' }"
              [disabled]="loginForm.invalid">
              <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  {{"AUTH.LOGIN.WAIT" | translate}}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">{{"AUTH.LOGIN.BUTTON" |translate}}</span>
              </ng-container>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>



<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation)">
    
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{message | translate}}
      </span>
    </div>
  </ng-container>
</ng-template>











<!-- <form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form">
  <ng-container *ngIf="isLoading | async">
    <div class="col-12 pt-10">
      <div class="loader-container">
        <div id="splash-screen" class="splash-screen"
          style="position: inherit; color:transparent; background-color: transparent;">
          <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo" style="margin-left: 0; height: 0;" />
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!(isLoading | async)">
    <div class="text-center mb-2">
      <img src="../../../../../assets/media/logos/me-ware-logo.svg" alt="meyerLogo" class="w-100">
    </div>

    <ng-container *ngIf="hasError">
      <div class="mb-lg-15 alert alert-danger">
        <div class="alert-text font-weight-bold">
          {{"AUTH.LOGIN_FAILED.LOGIN_FAILED" | translate}}
        </div>
      </div>
    </ng-container>

    <div class="fv-row mb-8">

      <div class="row">

        <div class="col-12">
          <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
          <label *ngFor="let item of appList"
            class="btn btn-outline btn-outline-dashed btn-active-light-danger d-flex text-start p-6 active"
            data-kt-button="true">
            <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
              <input class="form-check-input bg-danger" type="radio" value="{{item.appId}}" checked="checked">
            </span>
            <i class="fa-solid fa-cloud fs-2x me-4 ms-10 align-items-center"></i>
            <span class="ms-5">
              <span class="fs-4 fw-bold mb-1 d-block">{{item.appName}}</span>
             
            </span>
          </label>
        </div>
      </div>

      <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.APP_LIST" | translate}}</label>
      <select class="form-control form-control-solid border border-4 bg-light-dark" formControlName="appList" [ngClass]="{
            'is-invalid': loginForm.controls['appList'].invalid,
            'is-valid': loginForm.controls['appList'].valid
          }">
        <option *ngFor="let item of appList" value="{{item.appId}}">{{item.appName}}</option>
      </select>

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.LOGIN_FAILED.APP_REQUIRED',
          control: loginForm.controls['appList']
        }"></ng-container>
    </div>
    <div class="fv-row mb-8">
      <label class="form-label fs-6 fw-bolder text-dark">{{"AUTH.LOGIN.USERNAME" | translate}}</label>
      <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="text" name="userName" formControlName="userName"
        autocomplete="off" [ngClass]="{
          'is-invalid': loginForm.controls['userName'].invalid,
          'is-valid': loginForm.controls['userName'].valid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.LOGIN_FAILED.USERNAME_REQUIRED',
          control: loginForm.controls['userName']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'AUTH.LOGIN_FAILED.MIN_LENGTH_3',
          control: loginForm.controls['userName']
        }"></ng-container>
    </div>
    <div class="fv-row mb-3">

      <label class="form-label fw-bolder text-dark fs-6 mb-0">{{"AUTH.LOGIN.PASSWORD" |translate}}</label>

      <input class="form-control form-control-solid border border-4 ng-touched bg-light-dark" type="password" name="password" autocomplete="off"
        formControlName="password" [ngClass]="{
          'is-invalid': loginForm.controls['password'].invalid,
          'is-valid': loginForm.controls['password'].valid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.LOGIN_FAILED.PASSWORD_REQUIRED',
          control: loginForm.controls['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'AUTH.LOGIN_FAILED.MIN_LENGTH_3',
          control: loginForm.controls['password']
        }"></ng-container>

    </div>
    <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">

      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1" id="dropdownBasic1"
          ngbDropdownToggle>
          <img class="h-25px w-25px rounded" src="{{ language?.flag }}" alt="language" />
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let language of languages" ngbDropdownItem (click)="setLanguageWithRefresh(language.lang)"
            [ngClass]="{ active: language.active }">
            <span class="symbol symbol-20 mr-3">
              <img src="{{ language.flag }}" style="width: 20%;" />
              <span class="navi-text" style="margin-left: 20px;">{{ language.name }}</span>
            </span>
          </button>
        </div>
      </div>
      <a routerLink="/auth/forgot-password" class="link-primary">
        {{"AUTH.FORGOT.TITLE" |translate}}
      </a>
    </div>
    <div class="d-grid mb-10">
      <button type="submit" (click)="submit()" id="kt_sign_in_submit" class="btn btn-dark"
        [disabled]="loginForm.invalid">
        <ng-container *ngIf="isLoading$ | async">
          <span class="indicator-progress" [style.display]="'block'">
            {{"AUTH.LOGIN.WAIT" | translate}}
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
        <ng-container *ngIf="(isLoading$ | async) === false">
          <span class="indicator-label">{{"AUTH.LOGIN.BUTTON" |translate}}</span>
        </ng-container>
      </button>
    </div>
  </ng-container>


</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{message | translate}}
      </span>
    </div>
  </ng-container>
</ng-template> -->