<!-- <style>
    .timeline-line {
        display: block;
        content: " ";
        justify-content: center;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translate(50%);
        border-left-width: 1px;
        border-left-style: dashed;
        border-left-color: var(--kt-gray-300);
    }
</style> -->

<div id="kt_activities_scroll" class="position-relative scroll-y me-n6" data-kt-scroll="true"
                data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_activities_body"
                data-kt-scroll-dependencies="#kt_activities_header, #kt_activities_footer" data-kt-scroll-offset="5px">
                <div class="timeline">
                    

                    <div class="timeline-item" *ngFor="let item of assignmentLog">
                        <div class="timeline-line w-40px"></div>
                    
                        <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                            <div class="symbol-label" [ngClass]="{'bg-light-success': item.islem.includes('İzin'), 'bg-light-warning': item?.islem.includes('Vardiya')}">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fas" [ngClass]="{'fa-umbrella-beach text-success': item.islem.includes('İzin'), 'fa-calendar-days text-warning': item?.islem.includes('Vardiya')}"></i>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content mb-10 mt-n1">
                            <div class="pe-3 mb-5">
                                <div class="fs-7 fw-bold mb-2">
                                    {{item.islem}}
                                </div>
                    
                                <div class="d-flex align-items-center mt-1 fs-6">
                                    <div class="text-muted me-2 fs-8">{{item.Zaman | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                    
                                    <div class="symbol symbol-circle symbol-25px" ngbTooltip="{{item.AdSoyad}}">
                                        <img src="{{imageUrl}}?sicilid={{item.sicilid}}" alt="img" />
                                    </div>
                                </div>
                            </div>
                    
                            <div class="overflow-auto pb-5">
                                <div class="d-flex align-items-center border border-dashed border-gray-300 rounded px-7 py-3 mb-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="text-gray-700 fs-9">{{"Ad_Soyad" | translate}}:</span>
                                            <a class="fs-9 text-dark fw-bold cursor-pointer">
                                                {{item.AdSoyad}}
                                            </a>
                                        </div>
                                        <div class="col-12">
                                            <span class="text-gray-700 fs-9" *ngIf="item.islem.includes('Vardiya')">{{"Mesai_Birimi" | translate}}:</span>
                                            <a class="fs-9 text-dark fw-bold cursor-pointer" *ngIf="item.islem.includes('Vardiya')">
                                                {{item.MesaiBirimi}}
                                            </a>

                                            <span class="text-gray-700 fs-9" *ngIf="!item.islem.includes('Vardiya')">{{"İzin_Tipi" | translate}}:</span>
                                            <a class="fs-9 text-dark fw-bold cursor-pointer" *ngIf="!item.islem.includes('Vardiya')">
                                                {{item.IzinTipi}}
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    


                </div>
            </div>