<div class="container">
    <div class="row">
        <div class="col-12">
            
            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{"İzin_Tipleri" | translate}}</h3>
                        <h4 class="card-label text-gray-200 fs-8">{{"Bilgilerini_Buradan_Belirleyebilirsiniz" | translate}}</h4>
                    </div>
                </div>

                <!-- <ng-container *ngIf="!loading">
                    <div class="card-body">
                        <div class="col-12 pt-10">
                            <div class="loader-container">
                                <div id="splash-screen" class="splash-screen"
                                    style="position: inherit; color:transparent; background-color: transparent;">
                                    <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo" style="margin-left: 0; height: 0;" />
                                    <mat-spinner></mat-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container> -->
                
                <ng-container *ngIf="loading">
                    <div class="card-body">
                        <div class="row" [formGroup]="form">
                            <div class="col-2">
                                <label class="d-flex align-items-center fs-8 fw-semibold mb-2">
                                    <span>{{"Açıklama" | translate}}</span>
                                </label>
    
                                <input type="text" class="form-control form-control-sm form-control-solid" formControlName="explanation" placeholder="{{'Açıklama_Giriniz' | translate}}">
                            </div>
    
                            <div class="col-2">
                                <label class="d-flex align-items-center fs-8 fw-semibold mb-2">
                                    <span>{{"Kod" | translate}}</span>
                                </label>
    
                                <input class="form-control form-control-sm form-control-solid" formControlName="code" placeholder="{{'Kod_Giriniz' | translate}}"/>    
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Saatlik_İzin" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="hourlyPermission">
                                    
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Ücretli" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="paid">
                                    
                                </label>
                            </div>
                            
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Açıklama_Zorunlu" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="explanationRequired">
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Kıdem_Dışı" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="outOfSeniority">
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Görevli" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="job">
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Hastalık_SGK" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="sickLeave">
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Vizite" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="visit">
                                </label>
                            </div>
    
                            <div class="col-1">
                                <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                    <span>{{"Denkleştirme" | translate}}</span>
                                </label>
                            
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" formControlName="compensationLeave">
                                </label>
                            </div>
    
                            
                        </div>
    
                        <div class="d-flex flex-row-reverse my-5">
                            <div class="p-2">
                                <a class="btn btn-dark btn-sm hover-elevate-up" (click)="deletePermission()">
                                    <i class="fa-solid fa-trash"></i>
                                    {{"Seçili_İzini_Sil" | translate}}
                                </a>
                            </div>
                            
                            <div class="p-2">
                                <a class="btn btn-dark btn-sm hover-elevate-up" (click)="updatePermission()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    {{"Seçili_İzini_Güncelle" | translate}}
                                </a>
                            </div>
    
                            <div class="p-2">
                                <a class="btn btn-dark btn-sm hover-elevate-up" (click)="addPermission()">
                                    <i class="fa-solid fa-plus"></i>
                                    {{"İzin_Tipi_Ekle" | translate}}
                                </a>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-2">
                                        <thead>
                                            <tr class="fs-7 fw-bold text-gray-600 border-bottom-0 text-uppercase bg-secondary rounded">
                                                <th class=" rounded-start">{{"Kod" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Açıklama" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Saatlik_İzin" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Ücretli" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Açıklama_Zorunlu" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Kıdem_Dışı" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Görev" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Hastalık_SGK" | translate}}</th>
                                                <th class=" fw-bolder me-1">{{"Vizite" | translate}}</th>
                                                <th class=" fw-bolder me-1 rounded-end">{{"Denkleştirme" | translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                
                                        <tbody>
                                            <ng-container *ngFor="let item of permitTypes | pagination: pageNumber : pageSize">
                                                <tr class="cursor-pointer fs-7"
                                                    [ngClass]="{
                                                        'bg-gray-700': item.id == selectedType?.id,
                                                        'text-white' : item.id == selectedType?.id,
                                                        'text-dark': item.id != selectedType?.id,
                                                        'fw-bold' : item.id == selectedType?.id,
                                                        'fw-normal' : item.id != selectedType?.id 
                                                    }"
                                                    (click)="selectType(item)">
                                                
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{item.kod}}</span>
                                                    </td>
                                    
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{item.ad}}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.saatlikizin ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
                                                    
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.ucretli ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.aciklamazorunlu ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.kidemdisi ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.gorevli ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.sgk ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.vizite ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
        
                                                    <td>
                                                        <span class="mb-1 fw-semibold">{{ item.denklestirme ? ("Evet" | translate) : ("Hayır" | translate) }}</span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="pagination-controls">
                                    <button class="btn btn-outline btn-outline btn-outline-dark btn-active-light-dark py-2 px-3 mx-1" (click)="goToFirstPage()" [disabled]="pageNumber === 1">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </button>

                                    <button class="btn btn-outline btn-outline btn-outline-dark btn-active-light-dark py-2 px-3 mx-1" (click)="previousPage()" [disabled]="pageNumber === 1">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </button>

                                    <span>Sayfa {{ pageNumber }} / {{ totalPages }}</span>

                                    <button class="btn btn-outline btn-outline btn-outline-dark btn-active-light-dark py-2 px-3 mx-1" (click)="nextPage()" [disabled]="pageNumber === totalPages">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </button>

                                    <button class="btn btn-outline btn-outline btn-outline-dark btn-active-light-dark py-2 px-3 mx-1" (click)="goToLastPage()" [disabled]="pageNumber === totalPages">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </button>

                                    <!-- <button (click)="goToFirstPage()" [disabled]="pageNumber === 1">İlk Sayfa</button>
                                    <button (click)="previousPage()" [disabled]="pageNumber === 1">Önceki</button>
                                    <span>Sayfa {{ pageNumber }} / {{ totalPages }}</span>
                                    <button (click)="nextPage()" [disabled]="pageNumber === totalPages">Sonraki</button>
                                    <button (click)="goToLastPage()" [disabled]="pageNumber === totalPages">Son Sayfa</button> -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </ng-container>
                
            </div>
        </div>
    </div>
</div>