<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="stationName" (input)="filterItems()">
                    <button class="btn btn-sm" style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold; color: white;" type="button" id="button-addon2" (click)="setGuardStation(stationName)">Ekle</button>
                </div>
             
                <table class="table table-hover border table-rounded table-row-dashed table-row-gray-400 align-middle gs-3 gy-4"
            >
                <thead> 
                    <tr style="background: linear-gradient(112.14deg, var(--p-red-400) 0%, var(--p-red-700) 100%);font-weight: bold;">
                        <th class="fw-bolder me-1 cursor-pointer rounded-start text-center text-white" style="width: 80%;">Station Name</th>
                        <th class="fw-bolder me-1 cursor-pointer rounded-end text-white" style="width: 20%;">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of filteredItems" class="cursor-pointer fs-12">
                            <td (click)="getItem(item);">
                                <span class="mb-1 fw-bold">{{item.kaynakad}}</span>
                            </td>

                            <td>
                                <a class="btn btn-light-danger btn-sm py-1 px-2 my-1" (click)="deleteGuardStation(item.id);">
                                    <i class="fa-solid fa-minus p-0"></i>
                                </a>
                            </td>
                    </tr>

                </tbody>
            </table>
            </div>    
            
        </div>

    </div>
</div>

