<div class="container">
    <div class="card card-xl-stretch mb-xl-8 m-10">
        <div class="col-12 d-flex justify-content-center py-5">
            <div id="container" class="col-10 col-md-8 col-lg-6">
                <button mat-icon-button (click)="goToBack()">
                    <i class="fa-solid fa-circle-left fs-2x text-dark text-hover-danger"></i>
                </button>

                <div class="date-container bg-hover-light-dark p-2" (click)="openDialog()">
                    <span class="month">{{ month }}</span>
                    <span class="year text-dark">{{ year }}</span>
                </div>

                <button mat-icon-button (click)="goToNext()">
                    <i class="fa-solid fa-circle-right fs-2x text-dark text-hover-danger"></i>
                </button>
            </div>
        </div>

        <ng-container *ngIf="isLoading | async">
            <div class="col-12 pt-10">
                <div class="loader-container">
                    <div id="splash-screen" class="splash-screen"
                        style="position: inherit; color:transparent; background-color: transparent;">
                        <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo"
                            style="margin-left: 0; height: 0;" />
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="!(isLoading | async)">
            <div class="col-12">
                <ng-container *ngIf="myPermissions.length > 0">
                    <div class="card-body py-3">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="fs-7 fw-bold text-white border-bottom-0 text-uppercase bg-danger rounded">
                                        <th class="rounded-start"></th>
                                        <th class="fs-6 text-center fw-bolder me-1 cursor-pointer rounded-end">{{"İzin_Tipi" | translate}}</th>
                                        <th class="fs-6 text-center fw-bolder me-1 cursor-pointer">{{"Başlangıç" | translate}}</th>
                                        <th class="fs-6 text-center fw-bolder me-1 cursor-pointer">{{"Bitiş" | translate}}</th>
                                        <th class="fs-6 text-center fw-bolder me-1 cursor-pointer">{{"İzinli_Süre" | translate}}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of myPermissions">
                                        <td class="text-center">
                                            <ng-container *ngIf="item.saatlik_gunluk == 'saatlik'">
                                                <div matTooltip="{{ 'Saatlik_İzin' | translate }}"
                                                    class="symbol symbol-50px me-2">
                                                    <span class="symbol-label bg-light-danger">
                                                        <i class="fa-solid fa-clock text-danger fs-2x"></i>
                                                    </span>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="item.saatlik_gunluk == 'gunluk'">
                                                <div matTooltip="{{ 'Günlük_İzin' | translate }}"
                                                    class="symbol symbol-50px me-2">
                                                    <span class="symbol-label bg-light-danger">
                                                        <i class="fa-solid fa-calendar-days text-danger fs-2x"></i>
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </td>

                                        <td class="text-center text-muted fw-bold fs-4">
                                            <span class="border border-gray-500 border-2 border-dashed rounded p-3">
                                                {{item.Aciklama}}
                                            </span>
                                        </td>

                                        <td class="text-center">
                                            <ng-container *ngIf="item.saatlik_gunluk == 'saatlik'">
                                                <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Baslangic
                                                    | date : 'yyyy-MM-dd'}}</a>
                                                <span class="text-muted fw-semibold d-block">{{item.Baslangic | date :
                                                    'HH:mm'}}</span>
                                            </ng-container>

                                            <ng-container *ngIf="item.saatlik_gunluk == 'gunluk'">
                                                <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Baslangic
                                                    | date : 'yyyy-MM-dd'}}</a>
                                            </ng-container>

                                        </td>

                                        <td class="text-center">
                                            <ng-container *ngIf="item.saatlik_gunluk == 'saatlik'">
                                                <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Baslangic
                                                    | date : 'yyyy-MM-dd'}}</a>
                                                <span class="text-muted fw-semibold d-block">{{item.Baslangic | date :
                                                    'HH:mm'}}</span>
                                            </ng-container>

                                            <ng-container *ngIf="item.saatlik_gunluk == 'gunluk'">
                                                <a class="text-dark fw-bold text-hover-danger mb-1 fs-6">{{item.Baslangic
                                                    | date : 'yyyy-MM-dd'}}</a>
                                            </ng-container>

                                        </td>

                                        <td class="text-center text-muted fw-bold fs-4">
                                            <span class="border border-gray-500 border-2 border-dashed rounded p-3">
                                                {{item.Gunsayisi}}
                                            </span>
                                        </td>



                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="myPermissions.length == 0">
                    <div class="row pt-10">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="row">
                                <app-data-not-found [imgWidth]=" '70%' "></app-data-not-found>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

    </div>
</div>




<ng-template #datepickerDialog>
    <div class="card">
        <ng-container *ngIf="!isSelected">
            <div class="row">
                <div class="col-12 p-5">
                    <div class="row">
                        <div class="col-lg-3 p-3" *ngFor="let item of months">
                            <input type="radio" class="btn-check" (click)="selectMonth(item)" value="{{item}}"
                                id="{{item}}" />
                            <label
                                class="btn btn-outline btn-outline-dashed btn-active-light-danger p-4 d-flex align-items-center justify-content-center"
                                for="{{item}}">
                                <span class="d-block fw-semibold text-start ps-3">
                                    <span class="text-dark fw-bold d-block fs-6">{{item}}</span>
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isSelected">
            <div class="row">
                <div class="col-12 p-5" (click)="isSelected = false">
                    <label
                        class="btn btn-outline btn-outline-dashed bg-light-danger p-7 d-flex align-items-center justify-content-center">
                        <span class="d-block fw-semibold text-start ps-3">
                            <span class="text-dark fw-bold d-block fs-3">{{ selectedMonth }}</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-12 p-5">
                    <div class="row">
                        <div class="col-lg-6 p-3" *ngFor="let item of years">
                            <input type="radio" class="btn-check" (click)="selectYear(item)" value="{{item}}"
                                id="{{item}}" />
                            <label
                                class="btn btn-outline btn-outline-dashed btn-active-light-danger p-4 d-flex align-items-center justify-content-center"
                                for="{{item}}">
                                <span class="d-block fw-semibold text-start ps-3">
                                    <span class="text-dark fw-bold d-block fs-6">{{item}}</span>
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>

    </div>
</ng-template>