<div class="container">
    <div class="row d-flex justify-content-center g-5 g-xl-5 mb-5 mb-xl-10">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <a >
                <app-birthday></app-birthday>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <a >
                <app-new-joiners></app-new-joiners>
            </a>
        </div>

        <div class="col-md-12 col-lg-4 col-xl-6">
            <a >
                <app-bulletin></app-bulletin>
            </a>
        </div>

        <div class="col-md-12 col-lg-4 col-xl-6">
            <a >
                <app-my-files></app-my-files>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <a >
                <app-meal-menu></app-meal-menu>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <a >
                <app-senior-employees></app-senior-employees>
            </a>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <a >
                <app-announcements></app-announcements>
            </a>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <a >
                <app-suggestions></app-suggestions>
            </a>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <a >
                <app-survey></app-survey>
            </a>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-5">
            <a >
                <app-inventory></app-inventory>
            </a>
        </div>
        
        <div class="col-md-6 col-lg-6 col-xl-5">
            <a >
                <app-survey-in-house></app-survey-in-house>
            </a>
        </div>
    </div>
</div>