<button class="btn btn-icon btn-light-primary btn-circle" pTooltip="{{'Form' | translate}}" (click)="showForm()">
    <i class="fa-solid fa-print"></i>
</button>


<p-dialog header="{{'Masraf_Talep_Formu' | translate}}" [(visible)]="display" [modal]="true"
    (onHide)="close()" [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

    
    
    <ng-template pTemplate="footer">
        <a (click)="close()" class="btn btn-sm btn-danger mx-1">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'Kapat' | translate}}
        </a>
    </ng-template>
</p-dialog>