<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card card-custom gutter-b my-5 pb-5">
                <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                    <div class="card-title">
                        <h3 class="card-label text-white">{{"Olay_Kodları" | translate}}</h3>
                        <h4 class="card-label text-gray-200 fs-8">{{"Bilgilerini_Buradan_Belirleyebilirsiniz" | translate}}</h4>
                    </div>
                </div>

                <ng-container *ngIf="!loading">
                    <div class="card-body">
                        <div class="col-12 pt-10">
                            <div class="loader-container">
                                <div id="splash-screen" class="splash-screen"
                                    style="position: inherit; color:transparent; background-color: transparent;">
                                    <img src="./assets/media/logos/meyerlogozen.png" alt="Meyer logo"
                                        style="margin-left: 0; height: 0;" />
                                    <mat-spinner></mat-spinner>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="loading">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group py-3" style="flex: 1;">
                                    <input class="form-control form-control-solid p-2 border-1 border-dark rounded-lg font-size-h6"
                                        [(ngModel)]="filterText" style="height: 30px;"
                                        type="text" placeholder="{{'Arama' | translate}}">
    
                                    <button class="search-icon">
                                        <div class="svg">
                                            <i class="fa-solid fa-magnifying-glass text-white fs-7"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
    
                            <div class="col-8 d-flex justify-content-end">
                                <div class="p-2">
                                    <a class="btn btn-dark btn-sm hover-elevate-up" (click)="openDialog()">
                                        <i class="fa-solid fa-plus"></i>
                                        {{"Ekle" | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped border table-rounded table-row-dashed align-middle gs-4 gy-2">
                                        <thead>
                                            <tr class="fs-6 fw-bold text-white border-bottom-0 text-uppercase rounded text-gray-500">
                                                <th class="rounded-start" style="width: 5%;">{{"Id" | translate}}</th>
                                                <th class="fw-bolder me-1 cursor-pointer" style="width: 25%;">{{"Olay_Kodu" | translate}}</th>
                                                <th class="fw-bolder me-1 cursor-pointer" style="width: 35%;">{{"Olay_Açıklama" | translate}}</th>
                                                <th class="fw-bolder me-1 cursor-pointer" style="width: 25%;">{{"Olay_Tipi" | translate}}</th>
                                                <th class="rounded-end text-center" style="width: 10%;">{{"Görüntüleme" | translate}}</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <ng-container *ngFor="let item of eventCodes | searchFilter:filterText: ['id', 'olaykodu', 'olayaciklama']">
                                                <tr class="cursor-pointer fs-7">
                                                    <td>
                                                        <span class="mb-1">{{item.id}}</span>
                                                    </td>

                                                    <td>
                                                        <span class="mb-1 fw-bolder">{{item.olaykodu}}</span>
                                                    </td>

                                                    <td>
                                                        <span class="mb-1">{{item.olayaciklama}}</span>
                                                    </td>

                                                    <td [ngSwitch]="item.tip">
                                                        <span class="mb-1 text-hover-primary" style="text-decoration: underline;" *ngSwitchCase="0" (click)="changeType('tip', item)">{{"Bilgi" | translate}}</span>
                                                        <span class="mb-1 text-hover-primary" style="text-decoration: underline;" *ngSwitchCase="1" (click)="changeType('tip', item)">{{"Geçiş" | translate}}</span>
                                                        <span class="mb-1 text-hover-primary" style="text-decoration: underline;" *ngSwitchCase="2" (click)="changeType('tip', item)">{{"Başarısız_Geçiş" | translate}}</span>
                                                        <span class="mb-1 text-hover-primary" style="text-decoration: underline;" *ngSwitchCase="3" (click)="changeType('tip', item)">{{"Olay" | translate}}</span>
                                                        <span class="mb-1 text-hover-primary" style="text-decoration: underline;" *ngSwitchDefault (click)="changeType('tip', item)">{{"Bilgi" | translate}}</span>
                                                    </td>

                                                    <td>
                                                        <!-- <a class="btn btn-sm py-1 px-2 mx-2" [ngClass]="{'btn-success': item.goruntule, 'btn-danger': !item.goruntule}">
                                                            <i [class]="item.goruntule ? 'fa-solid fa-desktop p-0' : 'fa-solid fa-xmark p-0'" ></i>
                                                        </a> -->

                                                        <a class="btn btn-sm btn-icon w-30px h-30px" [ngClass]="{'btn-secondary': item.goruntule, 'btn-danger': !item.goruntule}" (click)="changeType('gorun', item)">
                                                            <i [class]="item.goruntule ? 'fa-solid fa-desktop p-0 fs-2 text-dark' : 'fa-solid fa-xmark p-0 fs-2 text-white'"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>



<p-dialog header="{{'Olay_Bilgilerinizi_Giriniz' | translate}}" [(visible)]="display" [position]="'top'" [modal]="true"
    [style]="{width: '50vw'}" [baseZIndex]="-40" [draggable]="false" [resizable]="false"
    (onHide)="closeAction()">

    <div class="fv-row my-5 fv-plugins-icon-container">
        <label class="d-flex align-items-center fs-7 fw-semibold mb-2">
            <span class="required">{{"Olay_Adı" | translate}}</span>
        </label>
        
        <input type="text" class="form-control form-control-sm form-control-solid" [(ngModel)]="eventDescription" >
    </div>

    <div class="fv-row my-5 fv-plugins-icon-container">
        <label class="d-flex align-items-center fs-7 fw-semibold mb-2">
            <span class="required">{{"Olay_Kodu" | translate}}</span>
        </label>
        
        <input type="text" class="form-control form-control-sm form-control-solid" [(ngModel)]="eventCode" >
    </div>

    <ng-template pTemplate="footer">
        <a class="btn btn-sm btn-danger mx-1" (click)="closeAction()">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'İptal' | translate}}
        </a>

        <a class="btn btn-sm btn-danger mx-1" (click)="add()">
            <i class="fa-solid fa-floppy-disk fs-7"></i>
            {{'Gönder' | translate}}
        </a>
    </ng-template>
</p-dialog>