<div class="card card-flush h-md-100" >
    <div class="card-header pt-5" style="display: block;">
        <div class="card-title" style="display: block;">
            <div class="row">
                <div class="col-8">
                    <i class="fa-solid fa-bullhorn fs-2 text-danger pe-2"></i>
                    <span class="fs-5 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover">{{"Duyurular" | translate}}</span>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center" (click)="showAllAnnouncements()">
                    <span class="text-gray-400 text-hover-danger cursor-pointer pt-1 fw-semibold fs-7">
                        {{"Tümü" | translate}}
                    <i class="fa-solid fa-chevron-right ps-2 fs-7"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <p-carousel [value]="items" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="150000"
            [showIndicators]="false">
            <ng-template let-item pTemplate="item">
                <div class="tanimlar-item">
                    <div class="tanimlar-item-content">
                        <div class="mb-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="fs-2x fw-bold text-gray-800 text-center mb-2">
                                        <span class="badge badge-dark fs-6">{{item.baslik}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-10 scroll scroll-hover h-100px d-flex justify-content-center">
                                    <div class="fs-6 fw-bold text-gray-600 text-center">
                                        <span>{{item.aciklama}}</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="text-gray-400 fw-semibold fs-7 text-end d-flex flex-column">
                                        <span>{{ item.yayinlayan }}</span>
                                        <span>{{ item.baslangic | date:'longDate' }} - {{ item.bitis | date:'longDate' }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 d-flex justify-content-center align-items-center mt-7">
                                    <a class="btn text-gray-400 text-hover-danger" (click)="displayAnnouncement()">
                                        <i class="fa-solid fa-circle-plus fs-1 pe-2"></i>
                                        <span class="fs-4">{{"Duyuru_Oluştur" | translate}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>









<p-dialog header="{{'Tüm_Duyurular' | translate}}" [(visible)]="displayAllAnnouncements" [modal]="true" [breakpoints]="{ '2560px': '65vw', '992px': '90vw', '576px': '99vw' }"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

    <div class="container" style="height: 500px;">
        <div class="row card p-5">
            <div class="col-12">
                <mat-tab-group mat-stretch-tabs="false" style="min-height: 300px;" (selectedIndexChange)="onChangeTab($event)">
                    <mat-tab label="{{'Günlük' | translate}}">
                        <div class="row g-4 w-100">
                            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-header bg-white border-0 pt-3 pb-2">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="fw-bold text-gray-900">{{ item.baslik | truncate:30}}</span>
                                            <div>
                                                <button pButton pRipple icon="pi pi-trash" pTooltip="{{'Sil' | translate}}"
                                                    tooltipPosition="top" (click)="delete(item)"
                                                    class="p-button-rounded p-button-text p-button-danger p-button-sm ms-2"></button>
                
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center text-muted small mt-1">
                                            {{item.baslangic | date:'mediumDate'}} - {{item.bitis | date:'mediumDate'}}
                                        </div>
                                    </div>
                
                                    <div class="card-body">
                                        <div class="d-flex flex-column h-100">
                                            <p class="text-center text-gray-600 mb-3 flex-grow-1">{{ item.aciklama | truncate:150 }}</p>
                
                                            <div class="d-flex justify-content-end align-items-center mt-auto">
                                                <span class="badge badge-warning">{{ item.yayinlayan }}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="{{'Haftalık' | translate}}">
                        <div class="row g-4 w-100">
                            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-header bg-white border-0 pt-3 pb-2">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="fw-bold text-gray-900">{{ item.baslik | truncate:30}}</span>
                                            <div>
                                                <button pButton pRipple icon="pi pi-trash" pTooltip="{{'Sil' | translate}}"
                                                    tooltipPosition="top" (click)="delete(item)"
                                                    class="p-button-rounded p-button-text p-button-danger p-button-sm ms-2"></button>
                
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center text-muted small mt-1">
                                            {{item.baslangic | date:'mediumDate'}} - {{item.bitis | date:'mediumDate'}}
                                        </div>
                                    </div>
                
                                    <div class="card-body">
                                        <div class="d-flex flex-column h-100">
                                            <p class="text-center text-gray-600 mb-3 flex-grow-1">{{ item.aciklama | truncate:150 }}</p>
                
                                            <div class="d-flex justify-content-end align-items-center mt-auto">
                                                <span class="badge badge-warning">{{ item.yayinlayan }}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="{{'Aylık' | translate}}">
                        <div class="row g-4 w-100">
                            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-header bg-white border-0 pt-3 pb-2">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="fw-bold text-gray-900">{{ item.baslik | truncate:30}}</span>
                                            <div>
                                                <button pButton pRipple icon="pi pi-trash" pTooltip="{{'Sil' | translate}}"
                                                    tooltipPosition="top" (click)="delete(item)"
                                                    class="p-button-rounded p-button-text p-button-danger p-button-sm ms-2"></button>
                
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center text-muted small mt-1">
                                            {{item.baslangic | date:'mediumDate'}} - {{item.bitis | date:'mediumDate'}}
                                        </div>
                                    </div>
                
                                    <div class="card-body">
                                        <div class="d-flex flex-column h-100">
                                            <p class="text-center text-gray-600 mb-3 flex-grow-1">{{ item.aciklama | truncate:150 }}</p>
                
                                            <div class="d-flex justify-content-end align-items-center mt-auto">
                                                <span class="badge badge-warning">{{ item.yayinlayan }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>

    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayAllAnnouncements=false"
            label="{{'Kapat' | translate}}" class="p-button-text"></p-button>
    </ng-template> -->

    <ng-template pTemplate="footer">
        <a (click)="onHideAll()" class="btn btn-sm btn-danger mx-1">
            <i class="fa-solid fa-xmark fs-7"></i>
            {{'Kapat' | translate}}
        </a>
    </ng-template>
</p-dialog>




<ng-container *ngIf="displayAnnouncementForm">
    <app-announcement
        [display]="displayAnnouncementForm"
        (onHide)="displayAnnouncement($event)">
    </app-announcement>
</ng-container>


