@use "sass:math";


/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

@import "@angular/material/prebuilt-themes/indigo-pink.css";


@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import "bootstrap/dist/css/bootstrap.css";


@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

// ngx-toastr
@import 'ngx-toastr/toastr';

@import "primeicons/primeicons.css";
.p-breadcrumb {
    background: #ffffff00!important;
    padding: 2rem!important;
    overflow-x: auto;
    min-width: 400px!important;
}
// sweetalert2
.swal-on-top {
  z-index: 9999 !important;
}


.swal-popup-zfix {
    z-index: 12006 !important; // İyice üstte olsun
}

div:where(.swal2-container) {
    z-index: 9999!important;
}


.custom-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    .card-header {
        padding: 12px 16px;
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;

        h5 {
            font-size: 1rem;
        }

        .action-buttons button {
            margin-left: 8px;
        }
    }

    .card-body {
        padding: 16px;
        transition: max-height 0.3s ease-in-out;
    }

    &.collapsed {
        .card-body {
            display: none;
        }
    }
}


@keyframes wiggle {
    0% {
        transform: rotate(-0.5deg) scale(1);
    }

    25% {
        transform: rotate(0.5deg) scale(1.02);
    }

    50% {
        transform: rotate(-0.5deg) scale(1);
    }

    75% {
        transform: rotate(0.5deg) scale(1.02);
    }

    100% {
        transform: rotate(-0.5deg) scale(1);
    }
}

.card-edit-mode {
    animation-name: wiggle;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}

// Asimetrik wiggle: her kart için farklı delay
@for $i from 1 through 20 {
    .col-md-6:nth-child(#{$i}) .card-edit-mode {
        // animation-delay: #{random(200) / 180}s;
        animation-delay: #{math.div(random(200), 180)}s;
    }
}