/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark-theme {
    @import "~@angular/material/prebuilt-themes/pink-blue-grey.css";
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import "~bootstrap/dist/css/bootstrap.css";


@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

// ngx-toastr
@import '~ngx-toastr/toastr';


/* Angular Material CSS */
/*--------------------------------------------*/

// Angular material mat-tab border bottom background color
.mat-ink-bar {
    background-color: #ed1b24 !important
}


// Angular materil checkbox background color (Hepsi İşaretlendiğinde)
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #ed1b24 !important
}

// Angular materil checkbox background color (Tekli İşaretlendiğinde)
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ed1b24 !important
}
/*--------------------------------------------*/



.menu-state-bg .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here){
    transition: color 0.2s ease;
    background-color: #ed82a23d;
    color: #ed1b24;
}