

<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
    data-kt-scroll-activate="true" data-kt-scroll-height="auto"
    data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
    data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    

    <div class="menu-item" routerLinkActive="here show">
        <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"><i
                        class="fa-solid fa-walkie-talkie text-danger"></i></span></span><span
                class="menu-title">Performans Yönetimi</span></span>

        <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="performance/dashboard"><span
                    class="menu-bullet"><span class="bullet bullet-dot bg-danger"></span></span><span
                    class="menu-title">Genel
                    Bakış</span></a>
        </div>
        <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="performance/tanimlamalar"><span
                    class="menu-bullet"><span class="bullet bullet-dot bg-danger"></span></span><span
                    class="menu-title">Tanımlamalar</span></a>
        </div>
        <!-- <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="patrol/guvenlikciler"><span
                    class="menu-bullet"><span class="bullet bullet-dot bg-danger"></span></span><span
                    class="menu-title">Güvenlikçiler</span></a>
        </div>
        
        <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="patrol/tanimlamalar"><span
                    class="menu-bullet"><span class="bullet bullet-dot bg-danger"></span></span><span
                    class="menu-title">Tanımlamalar</span></a>
                    
        </div>

        <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="patrol/raporlar"><span
                    class="menu-bullet"><span class="bullet bullet-dot bg-danger"></span></span><span
                    class="menu-title">Raporlar</span></a>
                    
        </div> -->

    </div>
    
  </div>
</div>