// .disabled {
//     pointer-events: none;
//     opacity: 0.5;
//     cursor: not-allowed;
// }

::ng-deep {

    .cell-time-passive {
        background-color: #ff9494 !important;
        // color: var(--kt-light) !important;
    }

    // .cell-weekend {
    //     background-color: #5e738b !important;
    //     color: var(--kt-light) !important;
    // }

    .cell-time-zero {
        color: gainsboro !important;
    }

    

    .cell-warning {
        background-color: #ffa500 !important;
    }

    .cell-green {
        background-color: #adff2f !important;
    }

    .cell-blue {
        background-color: #5e738b !important;
        color: var(--kt-white) !important;
    }

    .cell-lateness {
        font-weight: 900 !important;
        color: red;
    }

    .cell-lateness-manuel-entry {
        text-decoration: underline !important;
        font-weight: 900 !important;
        color: red;
        text-decoration-color: red;
    }

    .cell-time-active {
        font-weight: 900 !important;
    }

    .cell-time-active-manuel-entry {
        text-decoration: underline !important;
        font-weight: 900 !important;
    }
}

@keyframes heart-beat {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-12px);
    }

    60% {
        transform: translateY(-6px);
    }
}


.floating-container {
    position: fixed;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;

    &.open {
        transform: translateY(-50%) translateX(-50px);
        /* Kart genişliği kadar sola kaydır */
    }

    .floating-button {
        background-color: #d9534f;
        color: white;
        padding: 10px 12px;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #c9302c;

            i {
                animation: none;
            }
        }

        .heart-beat {
            animation: heart-beat 1.5s infinite;
        }

        &.no-animation .heart-beat {
            animation: none;
        }
    }

    .floating-card {
        width: 50px;
        /* Kart genişliği */
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 0 5px 5px 0;
        padding: 3px;
        transform: translateX(100%);
        transition: transform 0.3s ease, width 0.3s ease;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 10px 0;
                font-size: 20px;
            }
        }
    }

    &.open .floating-card {
        transform: translateX(calc(100% + 1px));
        /* Kartı biraz sağa kaydır */
        opacity: 1;
        pointer-events: auto;
    }

    &.open .floating-button .heart-beat {
        animation: none;
    }
}