<div class="container-fluid">
    <div class="row">

        <div class="row pt-2" *ngIf="loading">
            <div class="col-11 m-auto">
                <p-progressBar [value]="value"></p-progressBar>
            </div>

            <div class="col-1 m-auto">
                <div class="text-gray-400 fw-semibold fs-7">
                    <a class="btn btn-sm btn-danger px-5 py-1 hover-elevate-up" (click)="cancelAttendanceRequest()"> {{"İptal_Et" | translate}}</a>
                </div>
            </div>
        </div>



        <div class="col-12">

            <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
            </mat-progress-spinner> -->

            <div class="card card-custom gutter-b" [ngClass]="{'disabled': loading}"
                [ngStyle]="{ 'opacity': loading ? 0.5 : 1, 'cursor': loading ? 'not-allowed' : 'auto' }">

                <div class="card-header border-0">
                    <div class="card-title">
                        <h3 class="card-label">{{"Puantaj Listesi" | translate}} </h3>
                    </div>

                    <div class="card-toolbar">
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <div class="row">
                                    <div class="d-flex btn btn-icon btn-clean btn-icon-danger mr-3 my-2 my-lg-0">
                                        <a (click)="getAttendanceInfo()"><i style="color: #ff0000;" class="fas fa-undo-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-3 pb-0">
                    <div class="row mb-10 d-flex justify-content-end" [formGroup]="formGroup">
                        <!-- Filtreleme ve Temizleme Butonları -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-end gap-2 justify-content-md-start justify-content-lg-start justify-content-center mb-3 mb-md-0">
                            <a class="btn btn-dark btn-sm hover-elevate-up" (click)="showFilterModal()">
                                <i class="fa-solid fa-filter"></i>
                                {{"Filtrele" | translate}}
                            </a>
                    
                            <a class="btn btn-dark btn-sm hover-elevate-up" (click)="clearFilters()">
                                <i class="fa-solid fa-eraser"></i>
                                {{"Temizle" | translate}}
                            </a>
                        </div>
                    
                        <!-- Tarih Aralığı ve Navigasyon -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end gap-3">
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                                <!--begin::Radio group-->
                                <div class="btn-group w-100">
                                    <label *ngFor="let item of rangeList" class="btn btn-sm btn-outline btn-active-dark btn-color-muted fs-8" 
                                        [ngClass]="{'active': this.formGroup.get('dateRange')?.value == item.range}">
                                        <input class="btn-check" type="radio" [value]="item.range" formControlName="dateRange" [checked]="formGroup.get('dateRange')?.value == item.range">
                                        {{item.name}}
                                    </label>
                                </div>
                            </div>
                    
                            <!-- Tarih Seçimi -->
                            <div class="row w-100">
                                <ng-container *ngIf="this.formGroup.value.dateRange != '-1'">
                                    <div class="col-auto d-flex align-items-end">
                                        <i class="fa-solid fa-caret-left fs-3x text-dark cursor-pointer text-hover-gray-600" (click)="previousDate()"></i>
                                    </div>
                                </ng-container>
                    
                                <!-- <div class="col">
                                    <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                        <span>{{"Başlangıç_Tarihi" | translate}}</span>
                                    </label>
                                    <input type="date" class="form-control form-control-sm form-control-solid" formControlName="startDate" (click)="openDatePicker()">
                                </div>
                    
                                <div class="col">
                                    <label class="d-flex align-items-center fs-9 fw-semibold mb-2">
                                        <span>{{"Bitiş_Tarihi" | translate}}</span>
                                    </label>
                                    <input type="date" class="form-control form-control-sm form-control-solid" formControlName="endDate" (click)="openDatePicker()">
                                </div> -->
                                <div class="col-auto d-flex">
                                    <p-datepicker 
                                        formControlName="rangeDates"
                                        [(ngModel)]="rangeDates"
                                        selectionMode="range"
                                        [showIcon]="true"
                                        [readonlyInput]="true"
                                        dateFormat="yy-mm-dd"
                                        size="small"
                                        class="w-100 d-flex"
                                    />
                                </div>
                                

                    
                                <ng-container *ngIf="this.formGroup.value.dateRange != '-1'">
                                    <div class="col-auto d-flex align-items-end">
                                        <i class="fa-solid fa-caret-right fs-3x text-dark cursor-pointer text-hover-gray-600" (click)="nextDate()"></i>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    


                    <div class="">
                        <ul class="nav nav-pills nav-pills-custom item position-relative mx-1 mb-1" role="tablist">
                            <!--begin::Item-->
                            <li class="nav-item col mx-0 p-0" role="presentation" *ngFor="let item of tabList">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" [ngClass]="{'active': selectedTab == item.type}" (click)="changeTabMenu(item.type)" data-bs-toggle="pill" href="#kt_list_widget_16_tab_1" aria-selected="true" role="tab">
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-800 fw-bold fs-7 mb-3">
                                        {{item.name}}
                                    </span>
                                    <!--end::Subtitle-->

                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-dark rounded"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->

                            <!--begin::Bullet-->
                            <span class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded"></span>
                            <!--end::Bullet-->
                        </ul>
                    </div>

                    <!-- <div class="ag-theme-material" [ngStyle]="gridStyle" #gridContainer>
                        <ag-grid-angular
                            #agGridLight
                            style="width: 100%; height: 100%;"
                            class="ag-theme-alpine theme-light-show"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [rowData]="rowData"
                            [rowSelection]="rowSelection"
                            [suppressRowClickSelection]="true"
                            (selectionChanged)="onSelectionChangedLight()"
                            [sideBar]="sideBar"
                            [rowGroupPanelShow]="rowGroupPanelShow"
                            [getContextMenuItems]="getContextMenuItems"
                            [animateRows]="true"
                            [statusBar]="statusBar"
                            [getRowHeight]="getRowHeight"
                            [groupSelectsChildren]="true"
                            [pagination]="false"
                            [paginationAutoPageSize]="false"
                            [paginateChildRows]="false"
                            [enableRangeSelection]="true"
                            [enableRangeHandle]="true"
                            [gridOptions]="gridOptionsLight"
                            (filterOpened)="onFilterOpened($event)"
                            (filterChanged)="onFilterChanged($event)"
                            (filterModified)="onFilterModified($event)"
                            (columnResized)="onColumnResized($event)"
                            (columnVisible)="onColumnVisible($event)">
                        </ag-grid-angular>

                        <ag-grid-angular
                            #agGridDark
                            style="width: 100%; height: 100%;"
                            class="ag-theme-alpine-dark theme-dark-show"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [rowData]="rowData"
                            [rowSelection]="rowSelection"
                            [suppressRowClickSelection]="true"
                            (selectionChanged)="onSelectionChangedDark()"
                            [sideBar]="sideBar"
                            [rowGroupPanelShow]="rowGroupPanelShow"
                            [getContextMenuItems]="getContextMenuItems"
                            [animateRows]="true"
                            [statusBar]="statusBar"
                            [getRowHeight]="getRowHeight"
                            [groupSelectsChildren]="true"
                            [pagination]="false"
                            [paginationAutoPageSize]="false"
                            [paginateChildRows]="false"
                            [enableRangeSelection]="true"
                            [enableRangeHandle]="true"
                            [gridOptions]="gridOptionsDark"
                            (filterOpened)="onFilterOpened($event)"
                            (filterChanged)="onFilterChanged($event)"
                            (filterModified)="onFilterModified($event)"
                            (columnResized)="onColumnResized($event)"
                            (columnVisible)="onColumnVisible($event)">
                        </ag-grid-angular>
                    </div> -->
                    <div class="ag-theme-material" [ngStyle]="gridStyle" #gridContainer>
                        <ag-grid-angular
                            #agGrid
                            style="width: 100%; height: 100%;"
                            [ngClass]="activeTheme == 'dark' ? 'ag-theme-alpine-dark' : 'ag-theme-alpine'"
                            (gridReady)="activeTheme == 'dark' ? onGridReadyDark($event) : onGridReadyLight($event)"
                            [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            [rowData]="rowData"
                            [rowSelection]="rowSelection"
                            [suppressRowClickSelection]="true"
                            (selectionChanged)="onSelectionChanged()"
                            [sideBar]="sideBar"
                            [rowGroupPanelShow]="rowGroupPanelShow"
                            [getContextMenuItems]="getContextMenuItems"
                            [animateRows]="true"
                            [statusBar]="statusBar"
                            [getRowHeight]="getRowHeight"
                            [groupSelectsChildren]="true"
                            [pagination]="false"
                            [paginationAutoPageSize]="false"
                            [paginateChildRows]="false"
                            [enableRangeSelection]="true"
                            [enableRangeHandle]="true"
                            [gridOptions]="gridOptions"
                            (filterOpened)="onFilterOpened($event)"
                            (filterChanged)="onFilterChanged($event)"
                            (filterModified)="onFilterModified($event)"
                            (columnResized)="onColumnResized($event)"
                            (columnVisible)="onColumnVisible($event)">
                        </ag-grid-angular>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>






<ng-container *ngIf="displayFilterModal">
    <app-attendance-list-filter [displayFilterModal]="displayFilterModal" [dateRangeByGrid]="formGroup.value" [filterByGrid]="savedFilterModel" (onHideFilterModalEvent)="onHideFilterModal()" (setFilterFormEvent)="setFilterFormFromModal($event)">
    </app-attendance-list-filter>
</ng-container>

<div class="floating-container" [class.open]="isOpen" [ngClass]="{'disabled': loading}"
[ngStyle]="{ 'opacity': loading ? 0.5 : 1, 'cursor': loading ? 'not-allowed' : 'auto' }">
    <div class="floating-button bg-dark" (click)="toggleOpen()">
        <i class="fa-solid fa-ellipsis text-white heart-beat"></i>
    </div>
    <div class="floating-card">
        <ul>
            <li>
                <div class="symbol symbol-35px" placement="start" ngbTooltip="İzin Talebi" container="body" (click)="showVacationForm()">
                    <div class="symbol-label fs-2 fw-semibold bg-hover-dark text-hover-white">
                        <i class="fas fa-umbrella-beach text-dark"></i>
                    </div>
                </div>
            </li>

            <li>
                <div class="symbol symbol-35px" placement="start" ngbTooltip="Fazla Mesai Talebi" container="body" (click)="showOvertimeForm()">
                    <div class="symbol-label fs-2 fw-semibold bg-hover-dark text-hover-white">
                        <i class="fas fa-business-time text-dark"></i>
                    </div>
                </div>

            </li>

            <li>
                <div class="symbol symbol-35px" placement="start" ngbTooltip="Geçiş Talebi" container="body" (click)="showAttendanceForm()">
                    <div class="symbol-label fs-2 fw-semibold bg-hover-dark text-hover-white">
                        <i class="fas fa-door-open text-dark"></i>
                    </div>
                </div>

            </li>

            <li>
                <div class="symbol symbol-35px" placement="start" ngbTooltip="Mesai Talebi" container="body"  (click)="showShiftForm()">
                    <div class="symbol-label fs-2 fw-semibold bg-hover-dark text-hover-white">
                        <i class="fas fa-calendar-days text-dark"></i>
                    </div>
                </div>

            </li>

            <!-- <li>
                <div class="symbol symbol-35px">
                    <div class="symbol-label fs-2 fw-semibold bg-hover-dark text-hover-white">
                        <i class="fas fa-clock text-dark"></i>
                    </div>
                </div>

            </li> -->
        </ul>
    </div>
</div>




<ng-container *ngIf="displayAttendanceForm">
    <app-attendance-change [isFromAttendance]="true" [displayAttendanceForm]="displayAttendanceForm" 
        (onHideAttendanceForm)="onHideAttendanceForm()" (isCompletedFromAttendance)="getAttendanceInfo()"
        [gridStartDate]="formGroup.get('startDate')?.value" [gridEndDate]="formGroup.get('endDate')?.value">
    </app-attendance-change>
</ng-container>

<ng-container *ngIf="displayOvertimeForm">
    <app-overtime
        [isFromAttendance]="true"
        [displayOvertimeForm]="displayOvertimeForm"
        (onHideOvertimeForm)="onHideOvertimeForm()"
        [isFromRegistryList]="false">
    </app-overtime>
</ng-container>

<ng-container *ngIf="displayAnnualCalendar">
    <app-annual-calendar [displayAnnualCalendar]="displayAnnualCalendar" [personInfo]="personInfoForAnnualCalendar" (annualCalendarHideEvent)="onHideAnnualCalendar()"></app-annual-calendar>
</ng-container>


<ng-container *ngIf="displayShiftForm">
    <app-shift-change
        [isFromAttendance]="true"
        [displayShiftForm]="displayShiftForm"
        (onHideShiftForm)="onHideShiftForm()"
        (isCompletedFromAttendance)="getAttendanceInfo()">
    </app-shift-change>
</ng-container>

<ng-container *ngIf="displayVacationForm">
    <app-leave
        [isFromAttendance]="true"
        [displayVacationForm]="displayVacationForm"
        (onHideVacationForm)="onHideVacationForm()"
        (isCompletedFromAttendance)="getAttendanceInfo()"
        [isFromRegistryList]="false">
    </app-leave>
</ng-container>

