<div class="tab-content">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
        
          <div class="col-md-3">
            <div class="card custom-card h-100">
              <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                <h5 class="text-white mb-0">Cihaz Tablosu</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Cihaz Adı</th>
                      <th scope="col">Pil</th>
                      <th scope="col">Durum</th>
                      <th scope="col">Olay</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of displayList || []" class="cursor-pointer" (click)="getGuardEventList(item); focusOnDevice(item)" [ngClass]="{ 'selected-row': selectedItem === item.imei }">
                      <td
                        [ngClass]="selectedItem === item.imei ? 'selected-cell' : 'text-dark fw-bold'">
                        {{ item.terminalname }}<br>
                        <span class="text-dark text-muted small">
                          {{ item.AdSoyad}}
                        </span>
                        <p class="text-dark text-muted small">{{item.time | date:'dd-MM-yyyy HH:mm'}}</p>
                      </td>
                      <td>{{ item.battery }}%</td>
                      <td>
                        <!-- <i class="fa fa-circle"
                          [ngClass]="{
                            'text-success': item.alarm == '0',
                            'text-danger': item.alarm != '0'
                          }">
                        </i> -->
                        <i class="fa fa-circle" [ngClass]="item.isOnline ? 'text-success' : 'text-danger'">
                       
                        </i>
                      </td>
                      <td>
                        <i *ngIf="item.alarm != '0'" class="fa fa-flag text-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
          <!-- Sağ Kart (9/12) -->
          <div class="col-md-9">
            <div class="card custom-card h-100">
              <div class="card-header border-0 bg-danger" style="min-height: 45px;">
                <h5 class="text-white mb-0">Cihaz Haritası</h5>
              </div>
              <div class="card-body">
                <div id="map" style="height: 50vh;"></div>
              </div>
            </div>
          </div>
  
        </div>
        <!-- <div class="row mt-5">
          <div class="col-md-12">
            <div class="card shadow-lg rounded-3">
              <div class="card-header bg-white border-bottom">
                <h5 class="mb-0">Son Olaylar</h5>
              </div>
              <div class="card-body p-3">
                <div class="timeline">
                  <div *ngFor="let log of eventLogs" class="timeline-item">
                    <div class="timeline-icon bg-{{log.color}}">
                      <i class="bi bi-{{log.icon}}"></i>
                    </div>
                    <div class="timeline-content">
                      <div class="d-flex justify-content-between">
                        <strong class="text-capitalize">{{ log.type.toLowerCase() }}</strong>
                        <small class="text-muted">{{ log.time | date:'shortTime' }}</small>
                      </div>
                      <p class="mb-0">{{ log.message }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div> -->
      </div>
    </div>
  </div>
  