<div class="tab-content">

  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-3">
          <div class="card custom-card h-100">
            <div class="card-header border-0 bg-danger" style="min-height: 45px;">
              <h5 class="text-white mb-0">Cihaz Tablosu</h5>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cihaz Adı</th>
                    <th scope="col">Pil</th>
                    <th scope="col">Durum</th>
                    <th scope="col">Olay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of displayList || []" class="cursor-pointer"
                    (click)="getGuardEventList(item); focusOnDevice(item)"
                    [ngClass]="{ 'selected-row': selectedItem === item.imei }">
                    <td [ngClass]="selectedItem === item.imei ? 'selected-cell' : 'text-dark fw-bold'">
                      {{ item.terminalname }}<br>
                      <span class="text-dark text-muted small">
                        {{ item.AdSoyad}}
                      </span>
                      <p class="text-dark text-muted small">{{item.time | date:'dd-MM-yyyy HH:mm'}}</p>
                    </td>
                    <td>{{ item.battery }}%</td>
                    <td>
                      <!-- <i class="fa fa-circle"
                          [ngClass]="{
                            'text-success': item.alarm == '0',
                            'text-danger': item.alarm != '0'
                          }">
                        </i> -->
                      <i class="fa fa-circle" [ngClass]="item.isOnline ? 'text-success' : 'text-danger'">

                      </i>
                    </td>
                    <td>
                      <i *ngIf="item.alarm != '0'" class="fa fa-flag text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Sağ Kart (9/12) -->
        <div class="col-md-9">
          <div class="card custom-card h-100">
            <div class="card-header border-0 bg-danger" style="min-height: 45px;">
              <h5 class="text-white mb-0">Cihaz Haritası</h5>
            </div>
            <div class="card-body">
              <div id="map" style="height: 50vh;"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<p-dialog [(visible)]="alarmModal" [modal]="true" [style]="{ width: '40vw'}"
  [breakpoints]="{ '2560px': '40vw', '992px': '40vw', '576px': '50vw' }" [maximizable]="true" [baseZIndex]="10000">
  <div class="card custom-card h-100">
    <div class="card-header border-0 bg-danger" style="min-height: 45px;">
      <h5 class="text-white mb-0">Alarm Haritası</h5>
    </div>
    <div class="card-body">
      <div #alarmMap  style="height:400px; width:100%"></div>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="IncidentModal" [modal]="true" [style]="{ width: '40vw'}"
  [breakpoints]="{ '2560px': '40vw', '992px': '40vw', '576px': '50vw' }" [maximizable]="true" [baseZIndex]="10000">
  <div class="card custom-card h-100">
    <div class="card-header border-0 bg-danger" style="min-height: 45px;">
      <h5 class="text-white mb-0">Olay Haritası</h5>
    </div>
    <div class="card-body">
      <div #incidentMap  style="height:400px; width:100%"></div>
    </div>
  </div>
</p-dialog>