<div class="card card-flush h-md-100">
  <div class="content-wrapper">
    <div class="card-header pt-5" style="display: block">
      <div class="card-title" style="display: block">
        <div class="row">
          <div class="col-8">
            <i class="fa-solid fa-screwdriver-wrench fs-2 text-danger pe-2"></i>
            <span
              class="fs-5 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover"
              >{{ "Envanterlerim" | translate }}</span
            >
          </div>

          <div
            class="col-4 d-flex justify-content-end align-items-center"
            (click)="showMyInventory()"
          >
            <span
              class="text-gray-400 text-hover-danger cursor-pointer pt-1 fw-semibold fs-7"
            >
              Tümü
              <i class="fa-solid fa-chevron-right ps-2 fs-7"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-4">
      <div class="mb-5">
        <div class="row d-flex align-items-center my-3">
            <div class="col-2">
               <span class="fs-6 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover">Durum</span> 
            </div>
            <div class="col-5">
               <span class="fs-6 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover">Talepler</span> 
            </div>
            <div class="col-5">
                <span class="fs-6 fw-bolder me-1 cursor-pointer text-danger opacity-74-hover">Açıklama</span>
            </div>
          <div
            class="col-12 border-bottom border-3"
            *ngFor="
              let item of InventoryList
                | slice : currentPage * pageSize : (currentPage + 1) * pageSize
            "
          >
            <div class="row d-flex align-items-center my-3">
              <div class="col-2">
                <div class="symbol symbol-50px me-5">
                  <div [ngSwitch]="item.teslimalim">
                    <div *ngSwitchCase="0">
                      <span class="symbol-label bg-light-info">
                        <i
                          class="fa-solid fa-clock h-50 align-self-center fs-2x text-warning"
                          *ngIf="item.teslimalim == 0 && item.teslim == 0"
                        ></i>
                        <i
                          class="fa-solid fa-clock h-50 align-self-center fs-2x text-info"
                          *ngIf="item.teslimalim == 0 && item.teslim == 1"
                        ></i>
                      </span>
                    </div>

                    <div *ngSwitchCase="1">
                      <span class="symbol-label bg-light-success">
                        <i
                          class="fa-solid fa-circle-check h-50 align-self-center fs-2x text-success"
                        ></i>
                      </span>
                    </div>

                    <div *ngSwitchCase="-1">
                      <span class="symbol-label bg-light-danger">
                        <i
                          class="fa-solid fa-circle-xmark h-50 align-self-center fs-2x text-danger"
                        ></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-5">
                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                  <div class="flex-grow-1 me-2">
                    <a class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                      {{ item.zimmetad }}
                    </a>
                    <span class="text-muted fw-bold d-block fs-7">
                      {{ item.teslimaciklama }}
                    </span>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="item.teslimalim == 0 && item.teslim == 0">
                <div class="col-5">
                  <span class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                    Yönetici Onayı Bekleniyor.
                  </span>
                </div>
              </ng-container>

               <ng-container *ngIf="item.teslimalim == 1 && item.teslim == 1">
                <div class="col-5">
                  <span class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                    {{item.teslimalimtarihi | date:'longDate'}}
                  </span>
                </div>
              </ng-container>

              <ng-container *ngIf="item.teslimalim == 0 && item.teslim == 1">
                <div class="col-2">
                  <a
                    class="btn btn-sm btn-primary"
                    (click)="openDialog('e', item)"
                  >
                    {{ "Aldım" | translate }}
                  </a>
                </div>

                <div class="col-2">
                  <a
                    class="btn btn-sm btn-primary"
                    (click)="openDialog('y', item)"
                  >
                    {{ "Almadım" | translate }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center my-3">
            <button
              class="btn btn-sm btn-danger mx-1"
              [disabled]="currentPage === 0"
              (click)="prevPage()"
            >
              Önceki
            </button>

            <span class="align-self-center mx-2">
              Sayfa {{ currentPage + 1 }} / {{ totalPages }}
            </span>

            <button
              class="btn btn-sm btn-danger mx-1"
              [disabled]="currentPage >= totalPages - 1"
              (click)="nextPage()"
            >
              Sonraki
            </button>
          </div>

          <!-- Envanter Talebi -->
          <div class="col-12 d-flex justify-content-center align-items-center">
            <a
              class="btn text-gray-400 text-hover-danger"
              (click)="displayInventory()"
            >
              <i class="fa-solid fa-circle-plus fs-1 pe-2"></i>
              <span class="fs-4">{{
                "Envanter_Talebi_Oluştur" | translate
              }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="{{ 'Envanterlerim' | translate }}"
  [(visible)]="displayMyInventory"
  [modal]="true"
  [breakpoints]="{ '2560px': '65vw', '992px': '90vw', '576px': '99vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <div class="container" style="height: 500px">
    <div class="row card p-5">
      <div class="col-12">
        <mat-tab-group mat-stretch-tabs="false" style="min-height: 300px">
          <mat-tab label="{{ 'Zimmet' | translate }}">
            <div class="row">
              <div class="col-6" *ngFor="let item of zimmetList">
                <div class="border rounded p-3 mb-3">
                  <div class="fw-bold">{{ item.zimmetad }}</div>
                  <div class="fw-bold">{{ item.aciklama }}</div>
                  <small
                    >Alış Tarihi:
                    {{ item.taleptarihi | date : "yyyy-MM-dd" }}</small
                  >
                  <span class="badge bg-info ms-2">Zimmet</span>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="{{ 'Sarf_Malzeme' | translate }}">
            <div class="row">
              <div class="col-6" *ngFor="let item of sarfList">
                <div class="border rounded p-3 mb-3">
                  <div class="fw-bold">{{ item.zimmetad }}</div>
                  <div class="fw-bold">{{ item.aciklama }}</div>
                  <small
                    >Alış Tarihi:
                    {{ item.taleptarihi | date : "yyyy-MM-dd" }}</small
                  >
                  <span class="badge bg-info ms-2">Sarf Malzeme</span>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayMyInventory=false"
            label="{{'Kapat' | translate}}" class="p-button-text"></p-button>
    </ng-template> -->

  <ng-template pTemplate="footer">
    <a (click)="displayMyInventory = false" class="btn btn-sm btn-danger mx-1">
      <i class="fa-solid fa-xmark fs-7"></i>
      {{ "Kapat" | translate }}
    </a>
  </ng-template>
</p-dialog>

<p-dialog
  [header]="header + ' ' + 'Formu'"
  [(visible)]="display"
  [position]="'top'"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="-40"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeAction()"
>
  <!-- ÖZET KARTI -->
  <div *ngIf="itemSetForDialog" class="border rounded p-3 mb-4 bg-light">
    <h4 class="text-center" style="color: #ed1b24">Talep Bilgileri</h4>
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center gap-2 text-muted">
        <i class="fa-solid fa-user"></i>
        <strong>Ad Soyad:</strong>
        <span class="text-dark text-truncate">{{
          itemSetForDialog?.adsoyad || "-"
        }}</span>
      </div>

      <div class="d-flex align-items-center gap-2 text-muted">
        <i class="fa-solid fa-comment"></i>
        <strong>Açıklama:</strong>
        <span class="text-dark text-truncate">{{
          itemSetForDialog?.aciklama || "-"
        }}</span>
      </div>

      <div class="d-flex align-items-center gap-2 text-muted">
        <i class="fa-solid fa-toolbox"></i>
        <strong>Zimmet Adı:</strong>
        <span class="text-dark text-truncate">{{
          itemSetForDialog?.zimmetad || "-"
        }}</span>
      </div>
    </div>
  </div>

  <div class="fv-row my-5 fv-plugins-icon-container">
    <label class="d-flex align-items-center fs-7 fw-semibold mb-2">
      <span class="required">{{ "Açıklama" }}</span>
    </label>

    <input
      type="text"
      class="form-control form-control-sm form-control-solid"
      [(ngModel)]="desc"
    />
  </div>

  <ng-template pTemplate="footer">
    <a class="btn btn-sm btn-danger mx-1" (click)="closeAction()">
      <i class="fa-solid fa-xmark fs-7"></i>
      {{ "İptal" }}
    </a>

    <button
      type="button"
      class="btn btn-sm btn-danger mx-1"
      (click)="accceptAndCancel()"
      [disabled]="!desc"
    >
      <i class="fa-solid fa-floppy-disk fs-7"></i>
      {{ "Gönder" }}
    </button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="displayInventoryForm">
  <app-inventory
    [display]="displayInventoryForm"
    (onHide)="displayInventory($event)"
  >
  </app-inventory>
</ng-container>
