<!--begin::Exolore drawer-->
<div id="kt_help" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="help" data-kt-drawer-activate="true"
    data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'350px', 'md': '525px'}" data-kt-drawer-direction="end"
    data-kt-drawer-toggle="#kt_help_toggle" data-kt-drawer-close="#kt_help_close">
    <!--begin::Card-->
    <div class="card shadow-none rounded-0 w-100">
        <!--begin::Header-->
        <div class="card-header" id="kt_help_header">
            <h5 class="card-title fw-bold text-gray-600"> Otomatik Yönlendirme Asistanı (O.Y.A) </h5>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss text-hover-danger me-n5"
                    id="kt_help_close">
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                        class="svg-icon svg-icon-2"></span>
                </button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body" id="kt_help_body">
            <!--begin::Content-->
            <div id="kt_help_scroll" class="hover-scroll-overlay-y" data-kt-scroll="true" data-kt-scroll-height="auto"
                data-kt-scroll-wrappers="#kt_help_body" data-kt-scroll-dependencies="#kt_help_header"
                data-kt-scroll-offset="5px">
                <!--begin::Support-->
                <div class="rounded border border-dashed border-gray-300 p-6 p-lg-8 mb-10">
                    <!--begin::Heading-->
                    <h2 class="fw-bolder text-center mb-10">Size nasıl yardımcı olabiliriz?</h2>
                    <!--end::Heading-->
                    <div class="input-group h-100 ">
                        <input
                            class="form-control form-control-solid h-auto p-2 border-1 border-danger rounded-lg font-size-h6"
                            type="text" placeholder="{{'Arama' | translate}}">
                        <button class="search-icon">
                            <div class="svg">
                                <i class="fa-solid fa-magnifying-glass text-white fs-4"></i>
                            </div>
                        </button>
                    </div>
                </div>
                <!--end::Support-->

                <!--begin::Heading-->
                <h6 class="fw-bolder mb-1">Yardım konularına göz at</h6>
                <!--end::Heading-->


                <div id="#kt_aside_menu" data-kt-menu="true" class="
                    menu
                    menu-column
                    menu-title-gray-800
                    menu-state-title-primary
                    menu-state-icon-primary
                    menu-state-bullet-primary
                    menu-arrow-gray-500
                    rounded border border-dashed border-gray-300 py-5">

                    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" >

                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2"
                                    [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"></span>
                            </span>
                            <span class="menu-title">*** veri gelmiyor.</span>
                            <span class="menu-arrow"></span>
                        </span>

                        <div class="menu-sub menu-sub-accordion px-10" >
                            <div class="menu-item menu-accordion"  data-kt-menu-trigger="click">
                                
                                <span class="menu-link bg-hover-light-danger rounded">
                                    <span class="d-flex justify-content-center align-item-center text-gray-500 px-3">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="text-gray-500">Alt konu</span>
                                </span>

                            </div>

                            
                            <div class="menu-item menu-accordion"  data-kt-menu-trigger="click">
                                <span class="menu-link bg-hover-light-danger rounded">
                                    <span class="d-flex justify-content-center align-item-center text-gray-500 px-3">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="text-gray-500">Alt konu</span>
                                </span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" >

                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2"
                                    [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"></span>
                            </span>
                            <span class="menu-title">**** geçiş yapılamıyor.</span>
                            <span class="menu-arrow"></span>
                        </span>

                        <div class="menu-sub menu-sub-accordion px-10" >

                            <div class="menu-item menu-accordion"  data-kt-menu-trigger="click" (click)="flag = false;">
                                
                                <span class="menu-link bg-hover-light-danger rounded">
                                    <span class="d-flex justify-content-center align-item-center text-gray-500 px-3">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="text-gray-500">Alt konu</span>
                                </span>
                            </div>

                            
                            <div class="menu-item menu-accordion"  data-kt-menu-trigger="click" (click)="flag = true;">
                                <span class="menu-link bg-hover-light-danger rounded">
                                    <span class="d-flex justify-content-center align-item-center text-gray-500 px-3">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="text-gray-500">Alt konu</span>
                                </span>
                            </div>

                        </div>
                    </div>
                    
                </div>


                <div class="p-5 mt-10" [ngClass]="{'cikis': !flag, 'giris': flag}">
                    <h4 class="text-white theme-dark-show fw-bolder text-center">Cihazda bağlantı var mı? (Ping & Telnet)</h4>
                    <h4 class="text-danger theme-light-show fw-bolder text-center">Cihazda bağlantı var mı? (Ping & Telnet)</h4>

                    <div class="d-flex justify-content-center align-item-center gap-2 mt-10">
                        <div (click)="flag = !flag" class="theme-dark-show border border-dashed rounded bg-hover-light-danger text-hover-white text-danger cursor-pointer text-center p-4 w-50">
                            <span class="fw-bold">Evet</span>
                        </div>
                        <div (click)="flag = !flag" class="theme-light-show border border-dashed rounded bg-light-danger bg-hover-danger text-hover-white text-danger cursor-pointer text-center p-4 w-50">
                            <span class="fw-bold">Evet</span>
                        </div>

    
                        <div (click)="flag = !flag" class="theme-dark-show border border-dashed rounded bg-hover-light-danger text-hover-white text-danger cursor-pointer text-center p-4 w-50">
                            <span class="fw-bold">Hayır</span>
                        </div>
                        <div (click)="flag = !flag" class="theme-light-show border border-dashed rounded bg-light-danger bg-hover-danger text-hover-white text-danger cursor-pointer text-center p-4 w-50">
                            <span class="fw-bold">Hayır</span>
                        </div>
                    </div>
                </div>   
                
            </div>
            <!--end::Content-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Exolore drawer-->