//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";



/* Angular Material Ve PrimeNG CSS */
/*--------------------------------------------*/
// Angular material mat-tab border bottom background color
.mat-ink-bar {
    background-color: var(--kt-danger) !important
}
/*--------------------------------------------*/


// Angular materil checkbox background color (Hepsi İşaretlendiğinde)
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--kt-danger) !important
}
/*--------------------------------------------*/





// Angular materil checkbox background color (Tekli İşaretlendiğinde)
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--kt-danger) !important
}
/*--------------------------------------------*/











// Angular Material Mat-Tab Dark Mod İçin Renk Değişimi
[data-theme="dark"] .mat-tab-label,
.mat-tab-link {
    color: rgb(255 255 255);
}

/*--------------------------------------------*/




// Angular Material Mat-Expansion-Panel Dark Mod İçin Renk Değişimi
[data-theme="dark"] .mat-expansion-panel {
    background: #151521;
    color: rgb(255 255 255 / 87%);
}

/*--------------------------------------------*/






// Angular Material Mat-Container Dark Mod İçin Renk Değişimi
[data-theme="dark"] .mat-dialog-container {
    background: #1e1e2d;
}
/*--------------------------------------------*/


// Angular Material Mat-Checkbox Dark Mod İçin Renk Değişimi
[data-theme="dark"] .mat-checkbox-frame {
    border-color: var(--kt-danger);
}

/*--------------------------------------------*/











// "form-control" Class'ı İçin Hover ve Focus İçin Renk Ayarı
[data-theme="dark"] .form-control.form-control-solid {
    border: 1px solid var(--kt-danger) !important;
}

[data-theme="dark"] .input-group-text {
    border: 1px solid var(--kt-danger) !important;
}

[data-theme="dark"] .input-group > .form-control, .input-group > .form-select, .input-group > .form-floating {
    border-color: var(--kt-danger) !important;
}

[data-theme="dark"] .form-control:focus {
    border-color: var(--kt-danger) !important;
}

/*--------------------------------------------*/





// Header için renk değişimi
// .menu-state-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
// .menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
//     color: var(--kt-danger) !important;
// }

// .menu-state-primary .menu-item .menu-link.active .menu-title {
//     color: var(--kt-danger) !important;
// }

// .btn-check:checked+.btn.btn-active-color-primary i,
// .btn-check:checked+.btn.btn-active-color-primary .svg-icon,
// .btn-check:active+.btn.btn-active-color-primary i,
// .btn-check:active+.btn.btn-active-color-primary .svg-icon,
// .btn.btn-active-color-primary:focus:not(.btn-active) i,
// .btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon,
// .btn.btn-active-color-primary:hover:not(.btn-active) i,
// .btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon,
// .btn.btn-active-color-primary:active:not(.btn-active) i,
// .btn.btn-active-color-primary:active:not(.btn-active) .svg-icon,
// .btn.btn-active-color-primary.active i,
// .btn.btn-active-color-primary.active .svg-icon,
// .btn.btn-active-color-primary.show i,
// .btn.btn-active-color-primary.show .svg-icon,
// .show>.btn.btn-active-color-primary i,
// .show>.btn.btn-active-color-primary .svg-icon {
//     color: var(--kt-text-danger) !important;
// }

// .menu-state-bg .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
// .menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
//     color: var(--kt-danger) !important;
// }

// .menu-state-bg .menu-item .menu-link.active {
//     color: var(--kt-danger) !important;
// }


// .menu-state-bg .menu-item.show>.menu-link {
//     color: var(--kt-danger) !important;
// }


// .menu-state-bg .menu-item.show>.menu-link .menu-title {
//     color: var(--kt-danger) !important;
// }

// .menu-state-primary .menu-item .menu-link.active .menu-icon,
// .menu-state-primary .menu-item .menu-link.active .menu-icon .svg-icon,
// .menu-state-primary .menu-item .menu-link.active .menu-icon i {
//     color: var(--kt-danger) !important;
// }

// .menu-state-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-icon,
// .menu-state-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon,
// .menu-state-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-icon i,
// .menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon,
// .menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon,
// .menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i {
//     color: var(--kt-danger) !important;
// }


// .menu-state-bg .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
// .menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
//     color: var(--kt-danger) !important;
// }
/*--------------------------------------------*/


// Sidebar için renk değişimi
[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
    color: var(--kt-danger) !important;
}
/*--------------------------------------------*/



// Angular Material Panel Aç-Kapat İkonu İçin Renk Değişimi
[data-theme="dark"] .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(255 255 255) !important;
}

[data-theme="light"] .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(175, 50, 50) !important;
}
/*--------------------------------------------*/



// İnputlar İçin Renk Ayarı
[data-theme="dark"] input {
    color-scheme: dark !important;
}

[data-theme="light"] input {
    color-scheme: light !important;
}
/*--------------------------------------------*/


// Textlerin Bir Kısmı Dark Mod İçin Renk Ayarı
[data-theme="dark"] .nav-line-tabs .nav-item .nav-link {
    color: var(--kt-gray-800) !important;
}
/*--------------------------------------------*/




// ngbDropdown Menu 
.dropdown-item.active, .dropdown-item:active {
    color: var(--kt-danger) !important;
    background-color: var(--kt-danger-light) !important;
}
/*--------------------------------------------*/



// // AG-Grid
.ag-theme-alpine {
    --ag-alpine-active-color: var(--kt-danger);
    --ag-selected-row-background-color: rgb(243 33 33 / 30%);
    --ag-row-hover-color: var(--kt-danger-light);
    --ag-input-focus-border-color: var(--kt-danger);
    --ag-input-focus-box-shadow: var(--kt-danger-active);
    --ag-checkbox-unchecked-color: var(--kt-danger);
    --ag-font-family: Inter, Helvetica, "sans-serif";
    font-weight: 500;
    --ag-range-selection-background-color: rgb(255, 0, 128, 0.1);
    /* these next 3 variables control the background colour when 2, 3 or 4+ ranges overlap,
       and should have progressively greater opacity to look realistic - see the docs below
       for the correct formulas to use */
    --ag-range-selection-background-color-2: rgb(255, 0, 128, 0.19);
    --ag-range-selection-background-color-3: rgb(255, 0, 128, 0.27);
    --ag-range-selection-background-color-4: rgb(255, 0, 128, 0.34);

    --ag-range-selection-highlight-color: rgb(60, 188, 0, 0.3);
    --ag-grid-size: 4px;
    --ag-icon-size: 14px;
    --ag-font-size: 9px;
}

.ag-theme-alpine-dark {
    --ag-alpine-active-color: var(--kt-danger);
    --ag-selected-row-background-color: rgb(243 33 33 / 30%);
    --ag-row-hover-color: var(--kt-danger-light);
    --ag-input-focus-border-color: var(--kt-danger);
    --ag-input-focus-box-shadow: var(--kt-danger-active);
    --ag-checkbox-unchecked-color: var(--kt-danger);
    --ag-font-family: Inter, Helvetica, "sans-serif";
    font-weight: 500;
    --ag-range-selection-background-color: rgb(255, 0, 128, 0.1);
    /* these next 3 variables control the background colour when 2, 3 or 4+ ranges overlap,
       and should have progressively greater opacity to look realistic - see the docs below
       for the correct formulas to use */
    --ag-range-selection-background-color-2: rgb(255, 0, 128, 0.19);
    --ag-range-selection-background-color-3: rgb(255, 0, 128, 0.27);
    --ag-range-selection-background-color-4: rgb(255, 0, 128, 0.34);

    --ag-range-selection-highlight-color: rgb(60, 188, 0, 0.3);
    --ag-grid-size: 4px;
    --ag-icon-size: 14px;
    --ag-font-size: 9px;
}


.ag-theme-alpine .ag-column-drop-empty-message, .ag-theme-alpine-dark .ag-column-drop-empty-message {
    color: #ffffff !important;
}

.ag-column-drop-horizontal {
    background-color: var(--kt-danger) !important;
    color: var(--kt-white) !important;
    border-bottom: var(--ag-borders) #ffffff !important;
}

.ag-rtl .ag-side-bar-left, .ag-ltr .ag-side-bar-right {
    border-left: var(--ag-borders) #ffffff;
}

.ag-theme-alpine .ag-side-buttons, .ag-theme-alpine-dark .ag-side-buttons {
    background-color: var(--kt-danger) !important;
    color: white !important;
}

.ag-theme-alpine .ag-header-cell-menu-button:hover, .ag-theme-alpine .ag-side-button-button:hover, .ag-theme-alpine .ag-tab:hover, .ag-theme-alpine .ag-panel-title-bar-button:hover, .ag-theme-alpine .ag-header-expand-icon:hover, .ag-theme-alpine .ag-column-group-icons:hover, .ag-theme-alpine .ag-set-filter-group-icons:hover, .ag-theme-alpine .ag-group-expanded .ag-icon:hover, .ag-theme-alpine .ag-group-contracted .ag-icon:hover, .ag-theme-alpine .ag-chart-settings-prev:hover, .ag-theme-alpine .ag-chart-settings-next:hover, .ag-theme-alpine .ag-group-title-bar-icon:hover, .ag-theme-alpine .ag-column-select-header-icon:hover, .ag-theme-alpine .ag-floating-filter-button-button:hover, .ag-theme-alpine .ag-filter-toolpanel-expand:hover, .ag-theme-alpine .ag-chart-menu-icon:hover, .ag-theme-alpine .ag-chart-menu-close:hover, .ag-theme-alpine-dark .ag-header-cell-menu-button:hover, .ag-theme-alpine-dark .ag-side-button-button:hover, .ag-theme-alpine-dark .ag-tab:hover, .ag-theme-alpine-dark .ag-panel-title-bar-button:hover, .ag-theme-alpine-dark .ag-header-expand-icon:hover, .ag-theme-alpine-dark .ag-column-group-icons:hover, .ag-theme-alpine-dark .ag-set-filter-group-icons:hover, .ag-theme-alpine-dark .ag-group-expanded .ag-icon:hover, .ag-theme-alpine-dark .ag-group-contracted .ag-icon:hover, .ag-theme-alpine-dark .ag-chart-settings-prev:hover, .ag-theme-alpine-dark .ag-chart-settings-next:hover, .ag-theme-alpine-dark .ag-group-title-bar-icon:hover, .ag-theme-alpine-dark .ag-column-select-header-icon:hover, .ag-theme-alpine-dark .ag-floating-filter-button-button:hover, .ag-theme-alpine-dark .ag-filter-toolpanel-expand:hover, .ag-theme-alpine-dark .ag-chart-menu-icon:hover, .ag-theme-alpine-dark .ag-chart-menu-close:hover {
    color: #e5a4a4 !important;
}

.ag-column-drop-cell {
    background: rgb(255 255 255);
    border: 1px solid transparent;
}

.ag-column-drop-cell-text {
    color: var(--kt-danger);
}

.ag-column-drop-cell-button {
    color: var(--kt-danger-active);
}
// /*--------------------------------------------*/




// Loading için 
.disabled-link {
    pointer-events: none;
    /* Tıklanabilirliği engeller */
    opacity: 0.5;
    /* Butonu soluklaştırır */
}


.spinner-overlay {
    position: absolute; /* Parent elementin üzerine yerleştiriyoruz */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgba(255, 255, 255, 0.7); /* Hafif beyaz bir overlay */
    z-index: 9990; /* Diğer elemanlardan üstte görünmesini sağlar */
}
// /*--------------------------------------------*/





// pivot listesi componentinden buraya taşındı
.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
::ng-deep {
    .cell-weekend {
        background-color: var(--kt-secondary) !important;
        color: var(--kt-black) !important;
        border-right: 1px solid #dcdcdc !important;
        border-bottom: 1px solid #dcdcdc !important;
    }
    .piv-cell-blue {
        background-color: #5e738b !important;
        color: white !important;
        text-align: center !important;
    }
    .piv-cell-yellow-casablanca {
        background-color: orange !important;
        color: black !important;
        text-align: center !important;
    }
    .piv-cell-green {
        background-color: greenyellow !important;
        text-align: center !important;
    }
    .piv-cell-red {
        background-color: #ff9494 !important;
        color: white !important;
        text-align: center !important;
    }
    .piv-cell-white {
        text-align: center !important;
    }
    .ag-center-cols-container .ag-cell {
        border-right: 1px solid #dcdcdc !important;
    }
    .ag-center-cols-container .ag-cell:last-child {
        border-right: none !important;
    }
        .cell-wrapper {
            overflow: hidden;
            // position: relative;
    
            // Sağ üst çentik
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-top: 20px solid #007bff;
                z-index: 1;
                transition: all 0.5s ease;
            }
    
            // Sağ üst çentiğin dinamik içeriği
            .dynamic-content {
                position: absolute;
                top: 0;
                right: 0;
                padding: 2px 5px;
                background-color: #007bff;
                color: white;
                font-weight: bold;
                transform: translate(100%, -100%);
                transition: transform 0.5s ease;
                z-index: 2;
            }
            // Sol alt çentik
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #007bff;
                z-index: 1;
                transition: all 0.5s ease;
            }
            // Sol alt çentiğin dinamik içeriği
            .bottom-content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2px 5px;
                background-color: #007bff;
                color: white;
                font-weight: bold;
                transform: translate(-100%, 100%);
                transition: transform 0.5s ease;
                z-index: 2;
            }
            // Hover durumunda çentiklerin açılması
            &:hover::before {
                width: 50%;
                height: 50%;
                border-left: none;
                border-top: none;
                background-color: transparent;
            }
            &:hover .dynamic-content {
                transform: translate(0, 0);
            }
            &:hover::after {
                width: 50%;
                height: 50%;
                border-right: none;
                border-bottom: none;
                background-color: transparent;
            }
            &:hover .bottom-content {
                transform: translate(0, 0);
            }
        }     
}
// .search-icon {
//     background-color: var(--kt-danger);
//     cursor: pointer;
//     width: 45px;
//     height: 37px;
//     display: flex;
//     justify-content: center;
//     border: none;
//     outline: none;
//     border-radius: 0 39px 39px 0;
  
// } 
// .search-icon .svg {
//    display: flex;
//    align-items: center;
//    height: 100%;
// }

.search-icon {
    background-color: var(--kt-dark);
    cursor: pointer;
    width: 37px;
    height: 30px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 0 39px 39px 0;
  
}
  
.search-icon .svg {
   display: flex;
   align-items: center;
   height: 100%;
}
.process-item {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--kt-danger);
        transition: width 0.1s ease-in;
        z-index: 0;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover a {
        color: var(--kt-white) !important;
    }
    a {
        transition: color 0.1s ease-in;
    }
    .d-flex {
        position: relative;
        z-index: 1;
    }
}
.grid {
    max-height: 50vw;
    width: 94%;
    transition: width 0.5s ease;
}
.process {
    max-height: 50vw;
    width: 6%;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    &.expanded {
        width: 31%;
        + .grid {
            width: 69%;
        }
    }
    .nav-text {
        transition: opacity 0.5s ease;
    }
}
@media (min-width: 1550px) {
    .grid {
        max-height: 50vw;
        width: 94%;
        transition: width 0.5s ease;
    }
    .process {
        max-height: 50vw;
        width: 6%;
        transition: width 0.5s ease;
        display: flex;
        align-items: center;
        &.expanded {
            width: 25%;
            + .grid {
                width: 75%;
            }
        }
        .nav-text {
            transition: opacity 0.5s ease;
        }
    }
}
#lbRangeCount:active {
    background-color: #adff2f;
}

  

// /*--------------------------------------------*/






// PDKS componentinden buraya taşındı
// .disabled {
//     pointer-events: none;
//     opacity: 0.5;
//     cursor: not-allowed;
// }

::ng-deep {

    .cell-time-passive {
        background-color: #ff9494 !important;
        // color: var(--kt-light) !important;
    }

    // .cell-weekend {
    //     background-color: #5e738b !important;
    //     color: var(--kt-light) !important;
    // }

    .cell-time-zero {
        color: gainsboro !important;
    }

    

    .cell-warning {
        background-color: #ffa500 !important;
    }

    .cell-green {
        background-color: #adff2f !important;
    }

    .cell-blue {
        background-color: #5e738b !important;
        color: var(--kt-white) !important;
    }

    .cell-lateness {
        font-weight: 900 !important;
        color: red;
    }

    .cell-lateness-manuel-entry {
        text-decoration: underline !important;
        font-weight: 900 !important;
        color: red;
        text-decoration-color: red;
    }

    .cell-time-active {
        font-weight: 900 !important;
    }

    .cell-time-active-manuel-entry {
        text-decoration: underline !important;
        font-weight: 900 !important;
    }
}

@keyframes heart-beat {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-12px);
    }

    60% {
        transform: translateY(-6px);
    }
}


.floating-container {
    position: fixed;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;

    &.open {
        transform: translateY(-50%) translateX(-50px);
        /* Kart genişliği kadar sola kaydır */
    }

    .floating-button {
        background-color: #d9534f;
        color: white;
        padding: 10px 12px;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #c9302c;

            i {
                animation: none;
            }
        }

        .heart-beat {
            animation: heart-beat 1.5s infinite;
        }

        &.no-animation .heart-beat {
            animation: none;
        }
    }

    .floating-card {
        width: 50px;
        /* Kart genişliği */
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 0 5px 5px 0;
        padding: 3px;
        transform: translateX(100%);
        transition: transform 0.3s ease, width 0.3s ease;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 10px 0;
                font-size: 20px;
            }
        }
    }

    &.open .floating-card {
        transform: translateX(calc(100% + 1px));
        /* Kartı biraz sağa kaydır */
        opacity: 1;
        pointer-events: auto;
    }

    &.open .floating-button .heart-beat {
        animation: none;
    }
}



// /*--------------------------------------------*/